<div class="content-container-text">
  <div class="text-container-text">
    <div class="size-text-container" [innerHtml]="tutorialDetail.textContent">
    </div>
    <!--<blue-button class="big-button margin-button" [buttonTitle]="'NEXT'" (click)="submitTutorial()"></blue-button>-->
  </div>

  <div class="progress-container-text">
    <div class="progress-item-container-text">
      <h4>COURSE PROGRESS</h4>
      <div class="size-progress-circle">
        <progrees-bar-circle [actualValue]="total" [progressType]="'percent'"></progrees-bar-circle>
      </div>
    </div>
    <div class="progress-item-container-text">
      <h4>YOUR AVERAGE TEST SCORE</h4>
      <div class="size-progress-bar">
        <app-progress-bar [status]="avg" [pass]="75"></app-progress-bar>
      </div>
    </div>
  </div>

</div>
