.content-container-text {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}

.progress-container-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.progress-item-container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.size-progress-circle {
  margin-top: 15px;
  height: 200px;
  width: 200px;
}

.size-progress-bar {
  margin-top: 15px;
  fill: #ffffff;
}

.text-container-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 14pt;
  text-align: justify;
}

.margin-button {
  margin: 25px;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 1025px) {
  .size-text-container {
    width: 570px;
  }

  .size-progress-bar {
    width: 400px;
  }

  .size-progress-circle {
    width: 150px;
    height: 150px;
  }
}

@media screen and (min-width: 1300px) {
  .size-text-container {
    width: 640px;
  }

  .size-progress-bar {
    width: 500px;
  }
}

@media screen and (min-width: 1420px) {
  .size-text-container {
    width: 768px;
  }

  .size-progress-bar {
    width: 550px;
  }
}

@media screen and (min-width: 1580px) {
  .size-text-container {
    width: 896px;
  }

  .size-progress-bar {
    width: 600px;
  }
}

@media screen and (max-width: 1024px) {

  .text-container-text {
    width: 100%;
    align-items: center;
  }

  .big-button {
    width: 50%;
  }

  .content-container-text {
    flex-direction: column;
    align-items: stretch;
  }

  .progress-container-text {
    flex-direction: row;
    justify-content: space-around;
  }

  .size-progress-bar {
    width: 680px;
    margin-top: 20px;
    margin-bottom: 25px;
  }


}

@media screen and (max-width: 999px) {
  .progress-container-text {
    flex-direction: column;
    justify-content: flex-start;
  }

  .progress-item-container-text {
    width: 100%;
    height: auto;
  }

}

@media screen and (max-width: 692px) {
  .size-progress-bar {
    width: 100%;
  }
}
