#editor-container {
  * {
    font-family: MontserratLight !important;
  }
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background: #b4b4b4;
  z-index: 100;
  .h1 {
    font-size: 20px;
    margin-top: 0;
  }
  #control-panel {
    .first-category, .editor-functions-category {
      svg {
        fill: #00897b !important;
      }
    }

    .help-category {
      svg {
        fill: #3374E1 !important;
      }
    }
  }
  $hover-color: rgba(105, 113, 125, 0.14);
  #canvas {
    position: absolute;
    top: 5.3%;
    width: 85.7%;
    left: 7%;
    height: 60.7%;
    padding: 10px;
    overflow-y: auto;
    background: #efefef;
    img {
      -webkit-user-select: none;
      -moz-user-select: -moz-none;
      -ms-user-select: none;
      user-select: none;
    }
  }

  .disabled-category {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 1000;
    background: rgba(245, 245, 245, 0.8);
  }

  projection {
    position: absolute;
    top: 5.3%;
    width: 85.7%;
    left: 7%;
    height: 60.7%;
    padding: 10px;
    overflow-y: auto;
    background: #212121;
    color: white;
  }

  .relative-layout {
    .bgfader {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #424242;
      z-index: 0;
    }
    overflow: hidden;
  }

  .imac {
    // presny pomer 2300 x 2000 .. padding je jediny podla sirky (css tricks)
    width: calc(123.05vh - 150px);
    padding-top: calc(107vh - 150px);
    position: relative;
    background-image: url('/assets/imac.png');
    background-size: 100%;
    margin: 10px auto;
    z-index: 1;
    .title {
      font-size: 3.4vh;
      position: absolute;
      width: 100%;
      top: 69%;
      color: rgba(0, 0, 0, 0.46);
      text-align: center;
      text-shadow: 2px 1px 1px rgba(255, 255, 255, 0.7);
    }
  }

  #editor-container {
    background: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    //background-image: url('/aassets/my-desk.jpg')!important;
    //background-size: cover!important;

  }

  #fileupload {
    max-width: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .icon-selected {
    border-radius: 15px !important;
    background: $hover-color !important;
  }

  #control-panel {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: flex-start;

    color: white;
    height: 130px;
    background-color: #212121;
    //box-shadow: -1px 3px 8px #989898;
    //-webkit-box-shadow: -1px 3px 8px #989898;
    //-moz-box-shadow: -1px 3px 8px #989898;
    position: relative;
    z-index: 2;
    .icon {
      flex: 1;
      width: 40px;
      height: 40px;
      font-size: 16px;

    }
    .icon2 {
      flex: 1;
      max-width: 150px;
      min-width: 150px;
      height: 50px;
      font-size: 14px;
      padding: 5px 7.5px;
    }
    button {
      background: transparent;
      border: none;
    }
    .category-text {
      position: absolute;
      bottom: 4px;
      left: 0;
      width: 100%;
      text-align: center;
      color: white;
      font-weight: 500;

    }
    .bottomLine {
      position: absolute;
      background: rgba(158, 158, 158, 0.1);
      width: 75%;
      left: 12.5%;
      bottom: 24px;
      height: 1px;
    }
    .divider {
      height: 90px;
      background: rgba(158, 158, 158, 0.2);
      width: 2px;
      margin: 10px 5px;
    }
    .font-size {
      height: 50px;
      width: 100px;
      display: inline;
      input {
        vertical-align: top;
        background: transparent;
        border: none;
        width: 40px;
        text-align: center;
      }
    }
    .first-category {
      padding: 10px 10px 30px;
      position: relative;
      overflow: hidden;

      min-width: 220px;
      white-space: nowrap;
    }

    // nenestovat dalej => efektivita css pojde do..
    .imgupload {
      width: 40px;
      height: 40px;
      vertical-align: top;
      position: relative;

      input {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        top: 0;
        left: 0;
        cursor: pointer;
        padding-left: 40px;
        &:hover {
          cursor: pointer;
        }
      }
      svg {
        position: absolute;
        top: 7px;
        left: 7px;
        z-index: 0;
      }
    }
    .hover-effect {
      &:hover {
        border-radius: 15px;
        background: $hover-color;
        cursor: pointer;
      }
    }

    .secondCategory {
      position: relative;
      padding: 15px 10px 30px;
      width: 53%;
      .bottomLine {
        width: 90% !important;
        left: 5% !important;
      }
    }
    .thirdCategory {
      position: relative;
      padding: 15px 35px 30px;
    }
    .custom-select {
      height: 90px;
      background-color: transparent;
      font-size: 0;
      overflow-y: auto;

      .long-word-item {
        line-height: 25px !important;
        padding: 15px 5px;
      }
      .selected {
        animation-name: selectionAnimation;
        animation-duration: 0.5s;
        background-color: #00897b;
        color: white;
        font-weight: 500;
        &:hover {
          background-color: #00897b !important;
        }
      }
      .selected-blue {
        animation-name: selectionAnimationblue;
        animation-duration: 0.5s;
        background-color: #00897b;
        color: white;
        font-weight: 500;
        &:hover {
          background-color: #00897b !important;
        }
      }
      .selected-brown {
        animation-name: selectionAnimationblue;
        animation-duration: 0.5s;
        background-color: #00897b;
        color: white;
        font-weight: 500;
        &:hover {
          background-color: #00897b !important;
        }
      }
      .select-item {
        width: 80px;
        height: 80px;
        line-height: 80px;
        display: inline-block;
        margin-left: 25px;
        vertical-align: top;
        text-align: center;
        cursor: pointer;
        font-size: 15px;
        border-radius: 20px;
        margin-bottom: 20px;
        &:hover {
          background-color: rgba(0, 137, 123, 0.3);
        }
        &:nth-child(1) {
          &:hover {
            background-color: rgba(0, 137, 123, 0.3);
          }
        }
        &:nth-child(2) {
          &:hover {
            background-color: rgba(0, 137, 123, 0.3);
          }
        }
      }
    }
    .confirmButton {
      width: 80px;
      height: 80px;
      background: #8BC34A;
      //margin: 15px 35px;
      line-height: 17px;
      text-align: center;
      color: white;
      font-weight: bold;
      padding: 15px 0;
      font-size: 14px;
      border-radius: 20px;
      &:hover {
        cursor: pointer;
        background: #AED581;
      }
    }

    .editor-functions-category, .help-category {
      padding: 10px 25px 30px;
      position: relative;
    }

  }

  .confirmButton {
    width: 80px;
    height: 80px;
    background: #8BC34A;
    //margin: 15px 35px;
    line-height: 17px;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 15px 0;
    font-size: 14px;
    border-radius: 20px;
    &:hover {
      cursor: pointer;
      background: #AED581;
    }
  }

  .header-md::after {
    background-image: none !important;
  }

  .scroll-content {
    padding: 0 !important;
  }

  // editor styles \\
  *[contenteditable] {
    -webkit-user-select: auto !important;
  }

  select {
    height: 50px;
    flex: 2;
  }

  // exercises
  .secretInputFromWord {

  }

  .dragFromBottomToText {
    padding: 2.5px 5px;
    min-height: 20px;
    border: 1px solid #03A9F4;
    width: 105px;
    text-align: center;
    border-radius: 15px;
  }

  .secretInputFromWord {
    padding: 2.5px 5px;
    background: transparent;
    border-radius: 15px;
    border: 1px solid #FF9800;
    text-align: center;
    width: 100px;
  }

  .button-inner {
    max-height: 40px;
  }

  // animacie
  //@keyframes selectionAnimation {
  //  0% {
  //    background-color: #FFE0B2;
  //
  //  }
  //  100% {
  //    background-color: #FF9800;
  //
  //  }
  //}
  //
  //@keyframes selectionAnimationBlue {
  //  0% {
  //    background-color: #B3E5FC;
  //
  //  }
  //  100% {
  //    background-color: #03A9F4;
  //
  //  }
  //}
  .add {
    position: fixed;
    bottom: 15px;
    right: 15px;
    font-size: large;
    width: 100px;
    height: 100px;
    background: #8BC34A;
    line-height: 29px;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 20px 0;
    border-radius: 20px;
    letter-spacing: 1px;
    &:hover {
      cursor: pointer;
      background: #AED581;
    }
  }

  .close {
    bottom: 130px !important;
    background: #ff584d !important;
    opacity: 1;
    letter-spacing: 1px;
    &:hover {
      background: rgba(255, 88, 77, 0.8) !important;
    }
  }

}

// Checkbox variables
$checkbox-size: 20px;
$checkbox-animation-ripple: 700ms;
$checkbox-animation-check: 0.3s;
$lightbg-text: rgba(0, 0, 0, 0.84);
$checked-colour: #ffa726;

.checkbox {
  margin: 5px auto;
  display: inline-block;
  padding: 10px 20px;
  transform: translateZ(0); // Force 3d rendering
  width: 100%;
  label {
    cursor: pointer;
    padding-left: 0; // Reset for Bootstrap rule
  }

  // Hide native checkbox
  input[type=checkbox] {
    opacity: 0;
    position: absolute;
    margin: 0;
    z-index: -1;
    width: 0;
    height: 0;
    overflow: hidden;
    left: 0;
    pointer-events: none;
  }

  .checkbox-material {
    vertical-align: middle;
    position: relative;
    top: 3px;
    &:before {
      position: absolute;
      left: 8px;
      top: 2px;
      content: "";
      background-color: rgba(0, 0, 0, 0.5);
      height: 4px;
      width: 4px;
      border-radius: 100%;
      z-index: 1;
      opacity: 0;
      margin: 0;
      //transform: scale3d(2.3, 2.3, 1);
    }

    .check {
      position: relative;
      display: inline-block;
      width: $checkbox-size;
      height: $checkbox-size;
      border: 2px solid;
      border-radius: 2px;
      overflow: hidden;
      z-index: 1;
    }
    .check:before {
      position: absolute;
      content: "";
      transform: rotate(45deg);
      display: block;
      margin-top: -4px;
      margin-left: 6px;
      width: 0;
      height: 0;
      box-shadow: 0 0 0 0,
      0 0 0 0,
      0 0 0 0,
      0 0 0 0,
      0 0 0 0,
      0 0 0 0,
      0 0 0 0 inset;
      animation: checkbox-off $checkbox-animation-check forwards ease-out;
    }
  }

  input[type=checkbox]:focus + .checkbox-material .check:after {
    opacity: 0.2;
  }
  input[type=checkbox]:checked + .checkbox-material .check:before {
    box-shadow: 0 0 0 10px,
    10px -10px 0 10px,
    32px 0px 0 20px,
    0px 32px 0 20px,
    -5px 5px 0 10px,
    20px -12px 0 11px;
    animation: checkbox-on $checkbox-animation-check forwards ease-out;
  }

  input[type=checkbox]:not(:checked) + .checkbox-material:before {
    animation: rippleOff $checkbox-animation-ripple forwards ease-out;
  }
  input[type=checkbox]:checked + .checkbox-material:before {
    animation: rippleOn $checkbox-animation-ripple forwards ease-out;
  }

  // Ripple effect on click
  input[type=checkbox]:not(:checked) + .checkbox-material .check:after {
    animation: rippleOff $checkbox-animation-ripple forwards ease-out;
  }
  input[type=checkbox]:checked + .checkbox-material .check:after {
    animation: rippleOn $checkbox-animation-ripple forwards ease-out;
  }

  // Style for disabled inputs
  input[type=checkbox][disabled]:not(:checked) ~ .checkbox-material .check:before,
  input[type=checkbox][disabled] + .circle {
    opacity: 0.5;
  }
  input[type=checkbox][disabled] + .checkbox-material .check:after {
    background-color: $lightbg-text;
    transform: rotate(-45deg);
  }

}

// Coloured alternate styles
.brown {
  .checkbox-material {
    .check {
      color: $checked-colour;
    }
    &:before {
      background-color: $checked-colour;
    }
  }
  input[type=checkbox]:checked + .checkbox-material {
    .check {
      color: $checked-colour;
    }
  }
  input[type=checkbox]:not(:checked) + .checkbox-material {

  }
}

// Animations
@keyframes checkbox-on {
  0% {
    box-shadow: 0 0 0 10px,
    10px -10px 0 10px,
    32px 0px 0 20px,
    0px 32px 0 20px,
    -5px 5px 0 10px,
    15px 2px 0 11px;
  }
  50% {
    box-shadow: 0 0 0 10px,
    10px -10px 0 10px,
    32px 0px 0 20px,
    0px 32px 0 20px,
    -5px 5px 0 10px,
    20px 2px 0 11px;
  }
  100% {
    box-shadow: 0 0 0 10px,
    10px -10px 0 10px,
    32px 0px 0 20px,
    0px 32px 0 20px,
    -5px 5px 0 10px,
    20px -12px 0 11px;
  }
}

@keyframes checkbox-off {
  0% {
    box-shadow: 0 0 0 10px,
    10px -10px 0 10px,
    32px 0px 0 20px,
    0px 32px 0 20px,
    -5px 5px 0 10px,
    20px -12px 0 11px,
    0 0 0 0 inset;
  }

  25% {
    box-shadow: 0 0 0 10px,
    10px -10px 0 10px,
    32px 0px 0 20px,
    0px 32px 0 20px,
    -5px 5px 0 10px,
    20px -12px 0 11px,
    0 0 0 0 inset;
  }
  50% {
    transform: rotate(45deg);
    margin-top: -4px;
    margin-left: 6px;
    width: 0px;
    height: 0px;
    box-shadow: 0 0 0 10px,
    10px -10px 0 10px,
    32px 0px 0 20px,
    0px 32px 0 20px,
    -5px 5px 0 10px,
    15px 2px 0 11px,
    0 0 0 0 inset;
  }
  51% {
    transform: rotate(0deg);
    margin-top: -2px;
    margin-left: -2px;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 0,
    0 0 0 0,
    0 0 0 0,
    0 0 0 0,
    0 0 0 0,
    0 0 0 0,
    0px 0px 0 10px inset;
  }
  100% {
    transform: rotate(0deg);
    margin-top: -2px;
    margin-left: -2px;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 0,
    0 0 0 0,
    0 0 0 0,
    0 0 0 0,
    0 0 0 0,
    0 0 0 0,
    0px 0px 0 0px inset;
  }
}

@keyframes rippleOn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(13, 13);
  }
}

@keyframes rippleOff {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(13, 13);
  }
}
