<div class="relative-layout" id="editor-container">
  <div class="bgfader"></div>

  <!--  CONTROL PANEL  -->

  <div id="control-panel">

    <div class="first-category">
      <div class="disabled-category" *ngIf="!editMode" style="width:100%;  left:0;"></div>
      <!--font size -->
      <span>
            <div class="font-size">
                <input placeholder="Font Size" [(ngModel)]="Fsize" min="6" max="99" class="icon"
                       (mouseenter)="selHolder = saveSelection()" (mouseleave)="restoreSelection(selHolder)"
                       style="margin-right: auto;">
                <button (click)="setFront()" class="icon hover-effect" style="margin-left: auto;">
                    <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M9 4v3h5v12h3V7h5V4H9zm-6 8h3v7h3v-7h3V9H3v3z"/>
                    </svg>
                </button>

            </div>
          </span>
      <!--font size -->

      <!--bold text-->
      <button class="icon hover-effect"
              (click)="setBold()"
              [ngClass]="{'icon-selected': isBold}"
              style="margin-left: auto;margin-right: auto">


        <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M15.6 10.79c.97-.67 1.65-1.77 1.65-2.79 0-2.26-1.75-4-4-4H7v14h7.04c2.09 0 3.71-1.7 3.71-3.79 0-1.52-.86-2.82-2.15-3.42zM10 6.5h3c.83 0 1.5.67 1.5 1.5s-.67 1.5-1.5 1.5h-3v-3zm3.5 9H10v-3h3.5c.83 0 1.5.67 1.5 1.5s-.67 1.5-1.5 1.5z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
      </button>
      <!--bold text-->

      <!--italic text-->
      <button class="icon hover-effect"
              (click)="setItalic()"
              [ngClass]="{'icon-selected': isItalic}"
              style="margin-left: auto;margin-right: auto">

        <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none"/>
          <path d="M10 4v3h2.21l-3.42 8H6v3h8v-3h-2.21l3.42-8H18V4z"/>
        </svg>
      </button>
      <!--italic text-->

      <button class="icon hover-effect"
              (click)="addUnitComponent()"
              style="margin-left: auto;margin-right: auto">


        <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 3c-4.97 0-9 4.03-9 9s4.03 9 9 9c.83 0 1.5-.67 1.5-1.5 0-.39-.15-.74-.39-1.01-.23-.26-.38-.61-.38-.99 0-.83.67-1.5 1.5-1.5H16c2.76 0 5-2.24 5-5 0-4.42-4.03-8-9-8zm-5.5 9c-.83 0-1.5-.67-1.5-1.5S5.67 9 6.5 9 8 9.67 8 10.5 7.33 12 6.5 12zm3-4C8.67 8 8 7.33 8 6.5S8.67 5 9.5 5s1.5.67 1.5 1.5S10.33 8 9.5 8zm5 0c-.83 0-1.5-.67-1.5-1.5S13.67 5 14.5 5s1.5.67 1.5 1.5S15.33 8 14.5 8zm3 4c-.83 0-1.5-.67-1.5-1.5S16.67 9 17.5 9s1.5.67 1.5 1.5-.67 1.5-1.5 1.5z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
      </button>

      <br/>


      <!--text format-->
      <!--left-->
      <button class="icon hover-effect"
              (click)="setTextStyle('left')"
              [ngClass]="{'icon-selected': textAlignState == 'left'}"
              style="margin-left: auto;margin-right: auto">
        <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M15 15H3v2h12v-2zm0-8H3v2h12V7zM3 13h18v-2H3v2zm0 8h18v-2H3v2zM3 3v2h18V3H3z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
      </button>
      <!--left-->
      <!--center-->
      <button class="icon hover-effect"
              (click)="setTextStyle('center')"
              [ngClass]="{'icon-selected': textAlignState == 'center'}"
              style="margin-left: auto;margin-right: auto">
        <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M7 15v2h10v-2H7zm-4 6h18v-2H3v2zm0-8h18v-2H3v2zm4-6v2h10V7H7zM3 3v2h18V3H3z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
      </button>
      <!--center-->
      <!--right-->
      <button class="icon hover-effect"
              (click)="setTextStyle('right')"
              [ngClass]="{'icon-selected': textAlignState == 'right'}"
              style="margin-left: auto;margin-right: auto">

        <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M3 21h18v-2H3v2zm6-4h12v-2H9v2zm-6-4h18v-2H3v2zm6-4h12V7H9v2zM3 3v2h18V3H3z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
      </button>
      <!--right-->

      <!--justify-->
      <!--<button class="icon hover-effect"-->
      <!--(click)="setTextStyle('justify')"-->
      <!--[ngClass]="{'icon-selected': textAlignState == 'justify'}"-->
      <!--style="margin-left: auto;margin-right: auto">-->

      <!--<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">-->
      <!--<path d="M3 21h18v-2H3v2zm0-4h18v-2H3v2zm0-4h18v-2H3v2zm0-4h18V7H3v2zm0-6v2h18V3H3z"/>-->
      <!--<path d="M0 0h24v24H0z" fill="none"/>-->
      <!--</svg>-->
      <!--</button>-->
      <!--justify-->

      <!--text format-->


      <!--image upload-->
      <button class="icon imgupload hover-effect" style="margin-left: auto;margin-right: auto">
        <input type="file" imageUpload #upload id="fileupload"
               (click)="upload.value=''"
               (imageSelected)="selected($event)"
               [resizeOptions]="{resizeMaxHeight: 600, resizeMaxWidth: 600}">
        <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
        <!--<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"-->
        <!--xmlns:xlink="http://www.w3.org/1999/xlink">-->
        <!--<defs>-->
        <!--<path d="M24 24H0V0h24v24z" id="a"/>-->
        <!--</defs>-->
        <!--<clipPath id="b">-->
        <!--<use overflow="visible" xlink:href="#a"/>-->
        <!--</clipPath>-->
        <!--<path clip-path="url(#b)"-->
        <!--d="M3 4V1h2v3h3v2H5v3H3V6H0V4h3zm3 6V7h3V4h7l1.83 2H21c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H5c-1.1 0-2-.9-2-2V10h3zm7 9c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-3.2-5c0 1.77 1.43 3.2 3.2 3.2s3.2-1.43 3.2-3.2-1.43-3.2-3.2-3.2-3.2 1.43-3.2 3.2z"/>-->
        <!--</svg>-->
      </button>
      <!--image upload-->


      <div class="bottomLine"></div>
      <div class="category-text">
        CMS tools
      </div>
    </div>


    <div class="divider"></div>

    <!--editor functions-->

    <div class="editor-functions-category">
      <div class="disabled-category" *ngIf="!editMode" style="width:7px;  left:-12px;"></div>

      <div>
        <button class="icon hover-effect" [ngClass]="{'icon-selected': editMode}"
                (click)="showProjection(false)" style="margin-left: auto;margin-right: auto">
          <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
            <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
        </button>
      </div>

      <div>
        <button class="icon hover-effect" [ngClass]="{'icon-selected': !editMode}"
                (click)="showProjection(true)" style="margin-left: auto;margin-right: auto;margin-top: 10px;">
          <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path
              d="M11.5 9C10.12 9 9 10.12 9 11.5s1.12 2.5 2.5 2.5 2.5-1.12 2.5-2.5S12.88 9 11.5 9zM20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm-3.21 14.21l-2.91-2.91c-.69.44-1.51.7-2.39.7C9.01 16 7 13.99 7 11.5S9.01 7 11.5 7 16 9.01 16 11.5c0 .88-.26 1.69-.7 2.39l2.91 2.9-1.42 1.42z"/>
          </svg>
        </button>
      </div>

      <div class="bottomLine"></div>
      <div class="category-text">
        Editor
      </div>
    </div>
    <!--editor functions-->


    <div class="divider"></div>

    <!--ribbon-->
    <div class="secondCategory">
      <!--<div class="disabled-category" *ngIf="!editMode" style="width:calc(100% + 13px);  left:-7px;"></div>-->

      <div class="custom-select"
      >
        <div class="select-item" style="margin-left: 25px" (click)="showAlert('secret');"
             [ngClass]="{'selected': selection[0]}">Secret
        </div
        >
        <div class="select-item long-word-item" [ngClass]="{'selected-blue': selection[1]}"
             (click)="showAlert('dnd1');">DND <br/> replace
        </div
        >
        <div class="select-item long-word-item" [ngClass]="{'selected-brown': selection[2]}"
             (click)="showAlert('dndCategories');">DND <br/> groups
        </div
        >
        <div class="select-item long-word-item" [ngClass]="{'selected-brown': selection[3]}"
             (click)="showAlert('checkboxes');">Checkbox <br/> answers
        </div
        >
        <div class="select-item long-word-item" [ngClass]="{'selected-brown': selection[4]}"
             (click)="showAlert('radio');">Radio <br/> buttons
        </div
        >
        <div class="select-item long-word-item" [ngClass]="{'selected-brown': selection[5]}"
             (click)="showAlert('groups');">Group <br/> items
        </div
        >
        <div class="select-item long-word-item" [ngClass]="{'selected-brown': selection[6]}"
             (click)="showAlert('checkbox-text');">Inline <br/> checkbox
        </div
        >
      </div>
      <div class="bottomLine"></div>
      <div class="category-text">
        Custom CMS exercise tools
      </div>
    </div>
    <!--ribbon-->
    <!--execute button-->

    <div class="divider"></div>
    <div class="thirdCategory">
      <div class="disabled-category" *ngIf="!editMode" style="width:calc(100% + 12px);  left:-6px;"></div>

      <button *ngIf="selection[0]" (click)="setCustomExercise('secret')" class="confirmButton">Transform <br/>
        text to <br/> secret
      </button>
      <button *ngIf="selection[1]" (click)="setCustomExercise('dnd1')" class="confirmButton">Transform <br/> text
        to <br/> drop area
      </button>
      <button *ngIf="selection[6]" (click)="setCustomExercise('checkbox-text')" class="confirmButton">Put <br/>
        checkbox <br/> into text
      </button>
      <div class="bottomLine" *ngIf="selection[0] || selection[1]"></div>
      <div class="category-text" *ngIf="selection[0]">
        Execute secret tool
      </div>
      <div class="category-text" *ngIf="selection[1]">
        Execute replace tool
      </div>
    </div>

    <!--execute button-->

    <!--<div class="divider" ></div>-->

    <!--help button-->

    <div class="help-category" style="margin-left: auto; padding-top:12.5px">
      <div>
        <button class="icon hover-effect" [ngClass]="{'icon-selected': helpEnabled}"
                (click)="helpChange()" style="margin-left: auto;margin-right: auto;width: 80px;
    height: 80px;">
          <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"
               style="width: 50px;height: 50px;">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path
              d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-2h2v2zm2.07-7.75l-.9.92C13.45 12.9 13 13.5 13 15h-2v-.5c0-1.1.45-2.1 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41 0-1.1-.9-2-2-2s-2 .9-2 2H8c0-2.21 1.79-4 4-4s4 1.79 4 4c0 .88-.36 1.68-.93 2.25z"/>
          </svg>
        </button>
      </div>

      <div class="bottomLine"></div>
      <div class="category-text" *ngIf="!helpEnabled">
        Enable help
      </div>
      <div class="category-text" *ngIf="helpEnabled">
        Disable help
      </div>
    </div>
    <!--help button-->


  </div>

  <!--  CONTROL PANEL  -->

  <!--  VIEW  -->

  <div class="imac">
    <div #canvas [hidden]="!editMode"
         [ngClass]="{'disabled-selection': !selectionState}"
         contenteditable="true"
         id="canvas"
         [innerHTML]="content"
         (mouseleave)="saveSelectionState()"
         (mouseenter)="editMenuShow(false)"
         (keyup)="testProjection(canvas)"
         (click)="parentCheckOnClick()"
         >

    </div>

    <projection *ngIf="!editMode"
                [htmlData]="projection"
                [dnd1Data]="dnd1Data"
                [categoriesData]="categoriesData"
                [checkboxData]="checkboxData"
                [radioData]="radioData"
                [groupsData]="groupsData"
                [categoryNumber]="categoryNumber"
    ></projection>
    <h1 class="title">LearnBox</h1>

  </div>

  <!--  VIEW  -->


  <!--  CONTROLLERS  -->

  <controller [hide]="isControllerHidden" [panelName]="'Drag and drop controller'" [datadnd1]="dnd1Data"
              (dnd1DataChanged)="dnd1changed($event)"
              (addFakeAnswerDnd1)="addFakeAnswerDnd1($event.data)"></controller>

  <controllercat [hide]="isControllerCatHidden" [datadnd1]="categoriesData"
                 [panelName]="'Drag and drop categories controller'"
                 (dnd1DataChanged)="categoryChanged($event)"
                 (addFakeAnswerDnd1)="categoryChanged($event)"></controllercat>

  <controllercheckbox [hide]="isControllerCheckHidden" [datadnd1]="checkboxData"
                      [panelName]="'Multiple answer controller'"
                      (dnd1DataChanged)="checkboxChanged($event)"
                      (addFakeAnswerDnd1)="checkboxChanged($event)"></controllercheckbox>

  <controllerradio [hide]="isControllerRadioHidden" [datadnd1]="radioData" [panelName]="'Single answer controller'"
                   (dnd1DataChanged)="radioChanged($event)"
                   (addFakeAnswerDnd1)="radioChanged($event)"></controllerradio>

  <controllergroups [hide]="isControllerGroupsHidden" [datadnd1]="groupsData" [panelName]="'Groups controller'"
                    (dnd1DataChanged)="groupsChanged($event)"
                    (addFakeAnswerDnd1)="groupsChanged($event)"></controllergroups>

  <!--  CONTROLLERS  -->

  <item-edit-menu (mouseenter)="selHolder = saveSelection()"  (click)="saveSelection()" (lineHeight)="changeLineHeightOfParent($event, selHolder)" [panelVisible]="itemEditMenuVisible"
                  [itemEditElement]="itemEditElement"
                  ></item-edit-menu>
  <input style="position: absolute; right: 20px; top:150px;" placeholder="uuid" [(ngModel)]="tempUUID">
  <select style="position: absolute; right: 20px; top:200px;" (change)="changeEndpoint($event)">
    <option>dev linka</option>
    <option>ostra linka</option>
  </select>

  <div class="add" (click)="addQuestion()">Add question</div>
  <div class="add close" (click)="close()">Close editor</div>
</div>
