
$darkerBlue: #3f83fc;
$lighterBlue: #93c0fc;

.main-container-top-bar {
  background-color: #ffffff;
  color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
}

.logo {
  padding-left: 30px;
  cursor: pointer;
}

.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.astext {
  background: none;
  border: none;
  padding: 0;
  outline: none;
}

/*for arrow icon*/
.menu-size-item {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}

.message-center {
  width: 170px;
  height: 30px;
  border-radius: 2px;
  background-color: $darkerBlue;
  letter-spacing: 2px;
  color: #ffffff;
  text-align: center;
  font-family: Montserrat, monospace;
  font-size: 12px;
  padding-top: 7px;
  text-transform: uppercase;
  margin-right: 25px;
  cursor: pointer;
  &:hover {
    background-color: $lighterBlue;
  }
}

.logout {
  @extend .message-center;
  width: 90px !important;
  min-width: 90px !important;
}

.message-center-icon {
  color: $darkerBlue;
  font-size: 30px;
  margin-right: 10px;
  cursor: pointer;
  &:hover {
    color: $lighterBlue;
  }
}

.logout-icon {
  @extend .message-center-icon;
  margin-right: 40px;
}

.message-count {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  font-family: Montserrat, monospace;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  background-color: #ff584d;
  border: solid 1px #ffffff;
  position: absolute;
  top: 2px;
  right: 65px;
}

.course-logo-container {
  height: 100%;
}

.course-logo {
  display: flex;
  align-items: center;
  height: 50%;
}
