<div fxLayout="row" class="main-container-top-bar fixed-top">

  <!-- LearnBox main logo (on left side of topbar) -->
  <div fxFlex="33"
       fxLayout="row"
       fxLayoutAlign="start center"
       [fxShow.xs]="shouldShowLearnboxLogo()"
       (click)="redirectToUrl()">
    <img src="../../../assets/logo_learnbox.svg" alt="logo" class="logo">
  </div>

  <!-- Course Logo (e.g. "Maths Boxed") -->
  <div fxFlex="33" fxFlex.xs="50"
       fxLayout="row"
       fxLayoutAlign="center center" fxLayoutAlign.xs="start center"
       class="course-logo-container">
    <app-course-logo *ngIf="shouldShowCourseLogo()" [courseLogo]="courseLogo"
                     class="course-logo" [style.margin-left]="shouldCondenseMenu() ? '25px' : '0'">
    </app-course-logo>
  </div>

  <!-- Message Center (or mail icon if screen is small) and Menu button and Logout button -->
  <div fxFlex="33" fxFlex.xs="50"
       fxLayout="row"
       fxLayoutAlign="end center">
    <div fxLayout="row"
         fxLayoutAlign="end center">
      <div>
        <div *ngIf="shouldShowMessages()" class="message-center" (click)="openChat()" [fxShow]="!shouldCondenseMenu()">
          message centre
        </div>
        <div *ngIf="shouldShowMessages()" (click)="openChat()" [fxHide]="!shouldCondenseMenu()">
          <md-icon class="message-center-icon">email</md-icon>
        </div>
        <!-- no logic for unread message so message count is hide-->
        <div class="message-count" *ngIf="shouldShowMessages() && false">
          2
        </div>
      </div>
      <button class="astext" *ngIf="shouldShowMenu()">
        <md-icon class="menu-size-item" (click)="nav.open()">menu</md-icon>
      </button>
    </div>
    <div *ngIf="shouldShowLogout()" class="logout" (click)="logout()" [fxShow]="!shouldCondenseMenu()">
      logout
    </div>
    <div *ngIf="shouldShowLogout()" (click)="logout()" [fxHide]="!shouldCondenseMenu()">
      <md-icon class="logout-icon">open_in_new</md-icon>
    </div>
  </div>
</div>
