.colors-for-content {
  background-color: #212121;
  color: #ffffff;
  transform-style: flat;
}

md-sidenav-layout {
  transform: none !important;
}
.sidenav-index {
  z-index: 300;
}

.content-container-student {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  min-height: 100%;
  padding-top: 60px;
}

.remain-space {
  flex-grow: 1;
  height: 1px;
}
