<app-top-bar [nav]="end" [type]="'student'" (chatOpenEmitter)="toggleChat(true)"></app-top-bar>
<md-sidenav-layout class="colors-for-content">
  <md-sidenav #end class="sidenav-index" align="end" mode="push" opened="false">
    <app-dashboard [nav]="end" [type]="'student'"></app-dashboard>
  </md-sidenav>
  <div class="content-container-student">
    <router-outlet></router-outlet>
  </div>

</md-sidenav-layout>
<chat [shown]="chatOpened" [isStudent]="true" (closeChatEmitter)="toggleChat(false)"></chat>
