<div fxLayout="row" fxLayoutGap="20px">
  <div class="grey-container" fxFlex="65">
    <div fxLayout="row" fxLayoutGap="24px">
      <div fxFlex="33" class="admin-navigation">
        <black-button [icon]="'person_add'" [text]="'Add Learner'"
                      [active]="router.isActive('/super-user/user-setup/add-learner', true)"
                      routerLink="/super-user/user-setup/add-learner"></black-button>
      </div>
      <div fxFlex="33" class="admin-navigation">
        <black-button [icon]="'person_add'" [text]="'Add Tutor'"
                      [active]="router.isActive('/super-user/user-setup/add-tutor', true)"
                      routerLink="/super-user/user-setup/add-tutor"></black-button>
      </div>
      <div fxFlex="33" class="admin-navigation">
        <black-button [icon]="'person_add'" [text]="'Add Examiner'"
                      [active]="router.isActive('/super-user/user-setup/add-examiner', true)"
                      routerLink="/super-user/user-setup/add-examiner"></black-button>
      </div>
    </div>
  </div>
  <div class="green-container" fxFlex="35">

  </div>
</div>
<router-outlet></router-outlet>
