<app-top-bar [type]="getUserType()" [nav]="sidenav" (chatOpenEmitter)="toggleChat(true)"></app-top-bar>

<md-sidenav-layout class="colors-for-content">

  <md-sidenav #sidenav *ngIf="getUserType() === 'student'" class="sidenav-index" align="end" mode="push" opened="false">
    <app-dashboard [nav]="sidenav" [type]="'student'"></app-dashboard>
  </md-sidenav>

  <div class="text-page-container">

    <div class="text-page-title-container">
      <p class="text-page-title">{{ this.getMasterTitle() }}</p>
    </div>

    <div *ngIf="innerHTML === null" class="text-page-content">
      <div *ngFor="let entry of entries">

        <div [ngSwitch]="entry[0]">
          <div *ngSwitchCase="'SUBTITLE'">
            <p class="subtitle">{{ entry[1] }}</p>
          </div>
          <div *ngSwitchCase="'TEXT'">
            <p class="text">{{ entry[1] }}</p>
          </div>
          <div *ngSwitchCase="'LINK'">
            <a class="link" [href]="getLinkURL(entry[1])">{{ getLinkText(entry[1]) }}</a>
          </div>
        </div>

      </div>
    </div>

    <div *ngIf="innerHTML !== null" class="text-page-content" [innerHTML]="innerHTML"></div>

  </div>

</md-sidenav-layout>

<div *ngIf="getUserType().length > 0">
  <chat [shown]="chatOpened" [isStudent]="getUserType() === 'student'" (closeChatEmitter)="toggleChat(false)"></chat>
</div>
