
.colors-for-content {
  background-color: #212121;
  color: #ffffff;
  transform-style: flat;
}

md-sidenav-layout {
  transform: none !important;
}

.sidenav-index {
  z-index: 300;
}

.text-page-container {
  background-color: #424242;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  margin-top: 60px;
  position: relative;
  min-height: 100%;
}

.text-page-title-container {
  width: 100%;
  flex: 1 0 auto;
  height: 60px !important;
  background-color: #212121;
  padding: 17px 15px 15px 30px;
  text-align: left;
}

:host /deep/ .title {
  font-size: 18px !important;
  color: #fff;
  font-family: 'Chivo', sans-serif;
  font-weight: 300 !important;
  height: 100%;
  vertical-align: text-bottom;
}

:host /deep/ .text-page-title {
  @extend .title;
}

:host /deep/ .text-page-content {
  width: 100%;
  flex: 10 1 auto;
  font-family: 'Chivo', sans-serif;
  margin-top: 20px;
  background-color: #212121;
  padding: 30px;
  color: #FFFFFF;
  :host /deep/ h3, p, a {
    line-height: 28px;
  }
}

:host /deep/ h3 {
  @extend .title;
  height: auto;
}

:host /deep/ p {
  @extend .title;
  height: auto;
  font-size: 14px !important;
}

:host /deep/ a {
  @extend .title;
  height: auto;
  color: #7caeff;
  font-size: 14px !important;
  vertical-align: baseline !important;
}
