.progress-bar-container{
  height: 18px;
}

.progress-background{
  background-color: #4A4A4A;
}

.green-bar{
  background-color: #8BC34A;
  height: 18px;
}

.smaller {
  height: 10px !important;
}

.orange-bar{
  background-color: #FFA726;
  height: 18px;
}

.bar-value{
  line-height: 18px;
  padding-left: 15px;
  font-size: 13px;
}

.bar-value-smaller{
  font-family: 'PT Mono', sans-serif;
  font-size: 12px;
  margin: 0 5px;
}
