<div fxLayout="row" class="progress-bar-container" *ngIf="type == 'normal'">
    <div fxFlex="90" class="progress-background">
      <div [ngClass]="{'green-bar': color === 'green', 'orange-bar': color === 'orange'}" [style.width.%]="value"></div>
    </div>
    <div fxFlex="10">
      <div class="bar-value">
        {{value}}%
      </div>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" class="progress-bar-container smaller" *ngIf="type == 'smaller'">
  <div fxFlex="80" class="progress-background">
    <div class="smaller" [ngClass]="{'green-bar': color === 'green', 'orange-bar': color === 'orange'}" [style.width.%]="value"></div>
  </div>
  <div fxFlex="20" fxLayoutAlign="center center">
    <div class="bar-value-smaller">
      {{value}}
    </div>
  </div>
</div>
