<svg class="progress-circle" viewBox="0 0 38 38">
  <linearGradient id="lg" x1="100%" y1="100%" x2="0%" y2="100%">
    <stop offset="0%" stop-opacity="1" stop-color="rgb(236,192,129)"/>
    <stop offset="50%" stop-opacity="1" stop-color="rgb(218,120,62)"/>
  </linearGradient>

  <circle class="bg" r="16" cx="19" cy="19" stroke-width="3" fill="#000000"></circle>
  <circle class="progress" r="16" cx="19" cy="19" transform="rotate(-90, 19, 19)" stroke-width="3" stroke="url(#lg)"
          fill="none" stroke-dasharray="101" [style.stroke-dashoffset]="actaulInGraph">
  </circle>
  <text *ngIf="progressType == 'percent'" x="19" y="19" font-size="7" fill="#ffffff" font-family="PTMono"
        text-anchor="middle" alignment-baseline="central" style="opacity: 0">{{actualValue}}%
    <animate
      attributeType="CSS"
      attributeName="opacity"
      from="0"
      to="1"
      dur="0.5s"
      begin="0.5s"
      fill="freeze"></animate>
  </text>
  <text *ngIf="progressType !== 'percent'" class="up" x="19" y="14" font-size="7" fill="#ffffff" font-family="PTMono"
        text-anchor="middle" alignment-baseline="central" style="opacity: 0">{{actualValue}}
    <animate
      attributeType="CSS"
      attributeName="opacity"
      from="0"
      to="1"
      dur="0.5s"
      begin="0.5s"
      fill="freeze"></animate>
  </text>
  <line *ngIf="progressType !== 'percent'" x1="14" y1="18.5" x2="24" y2="18.5"
        style="stroke:#ffffff; stroke-width:0.7"/>
  <text *ngIf="progressType !== 'percent'" class="down" x="19" y="24" font-size="7" fill="#ffffff" font-family="PTMono"
        text-anchor="middle" alignment-baseline="central" style="opacity: 0">{{totalValue}}
    <animate
      attributeType="CSS"
      attributeName="opacity"
      from="0"
      to="1"
      dur="0.5s"
      begin="0.5s"
      fill="freeze"></animate>
  </text>
</svg>


