@import url('https://fonts.googleapis.com/css?family=PT+Mono');

svg.progress-circle {
  font-size: 7em;
  font-family: "PT Mono";
}
svg.progress-circle text {
  font-family: "PT Mono";
}
svg.progress-circle circle.bg {
  stroke: 	#48484D;
}
svg.progress-circle circle.progress {
  stroke-dashoffset: 101;
  transition: stroke-dashoffset 0.5s linear;
}
