.notification-list {
  margin-top: 10px;
}

.notification-row {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.notification-row:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.logo {
  height: 30px;
}