<app-grey-container>
    <div fxLayout="column">
        <div>Recent entries</div>
        <div class="notification-list">
            <div class="notification-row" *ngFor="let course of courses" routerLink="/super-user/course-setup/{{course.uuid}}">
                <app-course-logo [courseLogo]="{courseLogo: course.courseLogo, courseLogoText: course.courseLogoText}" class="logo"></app-course-logo>
                <md-checkbox></md-checkbox>
            </div>
        </div>
    </div>
</app-grey-container>