.content-container-video {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.progress-container-video {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.progress-item-container-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.size-progress-circle {
  margin-top: 15px;
  height: 200px;
  width: 200px;
}

.size-progress-bar {
  margin-top: 15px;
  fill: #ffffff;
}

.absolute {
  width: 100%;
  height: 100%;
}
.video-container-video {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.margin-button {
  margin: 25px;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 1025px) {
  .size-video-container {
    width: 570px;
    height: 321px;
  }

  .size-progress-bar {
    width: 400px;
  }

  .size-progress-circle {
    width: 150px;
    height: 150px;
  }
}


@media screen and (min-width: 1300px) {
  .size-video-container {
    width: 640px;
    height: 360px;
  }

  .size-progress-bar {
    width: 500px;
  }
}

@media screen and (min-width: 1420px) {
  .size-video-container {
    width: 768px;
    height: 432px;
  }

  .size-progress-bar {
    width: 550px;
  }
}

@media screen and (min-width: 1580px) {
  .size-video-container {
    width: 896px;
    height: 504px;
  }

  .size-progress-bar {
    width: 600px;
  }
}

@media screen and (max-width: 1024px) {
  .size-video-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
  }

  .video-container-video {
    width: 100%;
    align-items: center;
  }

  .big-button {
    width: 50%;
  }

  .content-container-video {
    flex-direction: column;
    align-items: stretch;
  }

  .progress-container-video {
    flex-direction: row;
    justify-content: space-around;
  }

  .size-progress-bar {
    width: 680px;
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .absolute {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }


}

@media screen and (max-width: 999px) {
  .progress-container-video {
    flex-direction: column;
    justify-content: flex-start;
  }

  .progress-item-container-video {
    width: 100%;
    height: auto;
  }

}

@media screen and (max-width: 692px) {
  .size-progress-bar {
    width: 100%;
  }
}
