<div class="content-container-video">
  <div class="video-container-video">
    <div class="size-video-container">
      <div class="absolute">
        <img style="width: 100%; height: 100%" [src]="tutorialDetail.urlImage" />
      </div>
    </div>
    <!--<blue-button class="big-button margin-button" [buttonTitle]="'NEXT'" (click)="submitTutorial()"></blue-button>-->
  </div>

  <div class="progress-container-video">
    <div class="progress-item-container-video">
      <h4>COURSE PROGRESS</h4>
      <div class="size-progress-circle">
        <progrees-bar-circle [actualValue]="total" [progressType]="'percent'"></progrees-bar-circle>
      </div>
    </div>
    <div class="progress-item-container-video">
      <h4>YOUR AVERAGE TEST SCORE</h4>
      <div class="size-progress-bar">
        <app-progress-bar [status]="avg" [pass]="75"></app-progress-bar>
      </div>
    </div>
  </div>

</div>

