<div class="menu-container" [@panel] *ngIf="panelVisible" (mouseup)="outputValues()">
  <div class="container" >
    <div class="slider">
      <input  [(ngModel)]="lineHeight" value=12 type = "range" min="0" max="600" oninput="rangevalue.value=value"/>
      <output id="rangevalue"></output>
    </div>
  </div>
</div>
