$orange: #ffa726;
$bg: #00897b;
.coloredText {
  //color: $orange;
}

.name {
  color: white;
  text-align: center;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: MontserratLight;
}

.scoreName {
  margin-top: 5%;
}

.quizname {
  color: white;
  text-align: center;
  font-size: 20px;
  letter-spacing: 4.4px;
  font-family: MontserratLight;
  margin-top: 20px;
  text-transform: uppercase;
}

.timeSVG {
  fill: $orange;
  width: 60px;
  height: 60px;
}

.timeCont, .attemptCont {
  margin-top: 6vh;
  width: 50%;
  display: inline-block;
  text-align: center;
  span {
    font-size: 30px;
    padding: 10px;
    vertical-align: top;
    line-height: 60px;
  }
}

.attemptCont {
  svg {
    fill: $orange;
    width: 60px;
    height: 60px;
  }
}

.score {
  font-size: 32px;
  text-align: center;
  letter-spacing: 5.3px;
  font-family: PTMonoRegular;
  margin-top: 20px;

}

.smallerMargin {
  margin-top: 0px !important;
}

.width280 {
  width: 280px !important;
}

.start {
  width: 220px;
  height: 61px;
  background-color: #ffffff;
  color: $bg;
  margin: 75px auto 0;
  font-size: 14px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 3.2px;
  font-family: MontserratLight;
  cursor: pointer;
}

.redMark {

  margin: 20px auto;
  width: 48px;
  height: 48px;
  border-radius: 48px;
  background: #ff584d;
  top: 110px;
  right: 50px;
  z-index: 1;
  .relCont {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .crossPart1 {
    width: 28px;
    height: 3px;
    background: white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 24px;
    left: 10px;
  }
  .crossPart2 {
    transform: rotate(-45deg) !important;

  }
}

.greenMark {
  margin: 20px auto;
  width: 48px;
  height: 48px;
  border-radius: 48px;
  background: #8bc34a;
  top: 110px;
  right: 50px;
  z-index: 1;
  .relCont {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .crossPart1 {
    width: 28px;
    height: 4px;
    background: white;
    transform: rotate(-57deg);
    position: absolute;
    top: 24px;
    left: 15px;
    border-radius: 10px;
  }
  .crossPart2 {
    transform: rotate(45deg) !important;
    width: 12px !important;
    top: 30px !important;
    left: 12px;
  }
}
.remainingText{
  width: 100%;
  text-align: center;
  color: white;
  font-size: 12px;
  margin-top: 7.5px;
}
@media screen and (max-height: 800px) {
  .greenMark, .redMark {
    margin: 10px auto !important;
  }
  .start {
    margin: 30px auto 0 !important;
  }
  .quizname {
    margin-top: 15px;

  }
  .scoreName {
    margin-top: 3% !important;
  }
  .score {
    margin-top: 10px !important;
  }
}

@media screen and (max-height: 700px) {
  .greenMark, .redMark {
    margin: 3px auto !important;
  }
  .start {
    margin: 10px auto 0 !important;
  }
  .quizname {
    margin-top: 10px;

  }
  .scoreName {
    margin-top: 1.5% !important;
  }
  .score {
    margin-top: 0px !important;
  }
}
