<div class="name">
  SPOT QUIZ
</div>
<div class="quizname" *ngIf="moduleDetail">
  '{{moduleDetail.name}}: <br/> {{tutorialDetail.desc}}'
</div>

<div class="name scoreName" >
  <span *ngIf="!tutorialDetail.isFirstAttempt">FINAL </span>SCORE
</div>
<div class="score" *ngIf="tutorialDetail.isFirstAttempt">
  <b>0</b>/<span class="coloredText"><b>{{tutorialDetail.totalQuestions}}</b></span>
</div>
<div class="score" *ngIf="!tutorialDetail.isFirstAttempt">
  <b>{{tutorialDetail.correctQuestions}}</b>/<span class="coloredText"><b>{{tutorialDetail.totalQuestions}}</b></span>
</div>
<div *ngIf="!tutorialDetail.isFirstAttempt">
  <div class="redMark" *ngIf="tutorialDetail.status !== 'PASS'"><div class="relCont"><div class="crossPart1"></div><div class="crossPart1 crossPart2"></div></div></div>
  <div class="greenMark" *ngIf="tutorialDetail.status === 'PASS'"><div class="relCont"><div class="crossPart1"></div><div class="crossPart1 crossPart2"></div></div></div>
</div>

<div *ngIf="tutorialDetail.isFirstAttempt" class="start" (click)="emitStartQuiz()">START QUIZ</div>
<!--<div class="start" (click)="emitStartQuiz()">START QUIZ</div>-->
<div *ngIf="!tutorialDetail.isFirstAttempt">
  <div *ngIf="tutorialDetail.status === 'PASS'" class="start smallerMargin width280" (click)="next()">CONTINUE TO NEXT</div>
  <div *ngIf="(tutorialDetail.maxAttempts - tutorialDetail.attempts) > 0 && tutorialDetail.status !== 'PASS'" class="start smallerMargin" (click)="emitStartQuiz()">RETAKE QUIZ</div>
  <div *ngIf="tutorialDetail.status !== 'PASS'" class="remainingText">* {{ tutorialDetail.maxAttempts - tutorialDetail.attempts}} ATTEMPT REMAINING</div>
</div>

