:host{
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.button-style{
  background-color: #000;
  text-align: center;
  color: #fff;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-style.style2{
  background-color: #212121;
}
.navigation-icon{
  font-size: 40px;
  height: 40px;
  width: 40px;
}

.navigation-description{
  font-family: 'Chivo', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.button-active{
  background-color: #00897B;
}
