<div class="button-style" [class]="class_" [ngClass]="{'button-active':active}">
  <div>
    <div>
      <md-icon class="navigation-icon">{{icon}}</md-icon>
    </div>
    <div class="navigation-description">{{text}}</div>
  </div>
</div>
