<loading [state]="loadingItems" *ngIf="loadingItems">
  Loading View Results
</loading>

<div id="results-container" *ngIf="!loadingItems" [@OpacityAnimation]>

  <div id="title">
    <div id="currently-review">Currently Reviewing:</div>
    <div id="view-name">{{quizName}}</div>
  </div>

  <div *ngFor="let quiz of quizzes.questions;let currentQuestion = index" class="answerContainer" fxLayout="row">

    <div id="left" fxFlex="63">
      <tutor-examiner-projection [secretDataIn]="quizzes.questions[currentQuestion].answers"
                        [htmlData]="quizzes.questions[currentQuestion].html"
                        [categoryNumber]="0"
                        *ngIf="quiz.questionType == 'SECRET'"
      ></tutor-examiner-projection>
      <tutor-examiner-projection [checkboxData]="quizzes.questions[currentQuestion].answers"
                        [htmlData]="quizzes.questions[currentQuestion].html"
                        [categoryNumber]="3"
                        *ngIf="quiz.questionType == 'CHECKBOX'"
      ></tutor-examiner-projection>
      <tutor-examiner-projection [radioData]="quizzes.questions[currentQuestion].answers"
                        [htmlData]="quizzes.questions[currentQuestion].html"
                        [categoryNumber]="4"
                        *ngIf="quiz.questionType == 'RADIO'"
      ></tutor-examiner-projection>
    </div>
    <div id="right" fxFlex="37">
      <div class="questionOverview question">
        QUESTION:
        <div class="score">
          <span [hidden]="currentQuestion > 9">0</span>{{currentQuestion + 1}} / <span
          [hidden]="quizzes.questions.length > 9">0</span>{{quizzes.questions.length}}
        </div>
      </div>

      <div class="workpad">
        <div class="workpad-header">
          <p>WORKPAD</p>
        </div>
        <div class="workpad-body">
          <textarea disabled [(ngModel)]="quiz.workpad"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div id="totalScore">
  <div class="quizName">{{quizName}} | TOTAL SCORE</div>
    <div class="passMark">PASS MARK: {{pass}}%</div>
    <div class="longLine">
      <div class="blackLine"></div>
      <div class="status"><span>STATUS</span></div>
      <div class="time">TIME TO COMPLETE</div>
      <div class="score1">SCORE</div>
      <div class="scoreVal">{{score}}/100</div>
      <div class="timeVal">4m 12s</div>
      <div class="redMark" *ngIf="score < pass"><div class="relCont"><div class="crossPart1"></div><div class="crossPart1 crossPart2"></div></div></div>
      <div class="greenMark" *ngIf="score > pass"><div class="relCont"><div class="crossPart1"></div><div class="crossPart1 crossPart2"></div></div></div>
    </div>
    <div class="progBar">
      <app-progress-bar-tutor-examiner [status]="score" [pass]="pass"></app-progress-bar-tutor-examiner>
    </div>
    <div>
      <blue-button [buttonTitle]="'Re-submit'" (click)="reSubmit()"></blue-button>
    </div>
  </div>
</div>
