#results-container {
  width: 100%;
  height: 100%;
}

#title{
  width: 100%;
  height: 60px;
  margin: 0 0 20px 0;
  background: #212121;
  font-family: ChivoRegular;
  #currently-review{
    margin-left: 35px;
    line-height: 60px;
    color: white;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    width: 198px;
    display: inline-block;
    vertical-align: top;
  }

  #view-name {
    width: calc(100% - 265px);
    height: 60px;
    vertical-align: top;
    display: inline-block;
    line-height: 60px;
    font-size: 17px;
    color: #326afb;
  }
}

.questionOverview{
  overflow: hidden;
  width: 40%;
  min-height: 30%;
  background: #383838;
  /*border: 1px solid green;*/
}

.question{
  padding-top: 41px;
  font-family: MontserratRegular;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 3.6px;
  text-align: center;
  width: 100%;
  height: 19px;
  color: #ffffff;
}

.score{
  font-family: PTMonoRegular;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 3px;
  text-align: center;
  color: #ffa726;
  padding-top: 32px;
  margin-bottom: 6px;

}

.workpad {
  overflow: hidden;
  height: 70%;
  background-color: #ffffff;
  font-family: MontserratRegular;
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 3.6px;
  color: #000000;
}

.workpad-header {
  height: 15%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.workpad-header p {
  margin: 0px;
}

.workpad-body {
  height: 85%;
  padding: 30px;
}

.workpad-body textarea {
  width: 100%;
  height: 80%;
  border: 0px;
  resize: none;
}

.workpad-body textarea:focus {
  outline: none !important;
  border:0px solid #4a4a4a;
  resize: none;
  overflow: hidden; /*to not show scroll bar*/
}

#left{
  background: #212121;
}

#right{
}
.answerContainer{
  height: 550px;
  margin-bottom: 30px;
}
.redMark{
  width: 48px;
  height: 48px;
  border-radius: 48px;
  position: absolute;
  background: #ff584d;
  top: 110px;
  right: 50px;
  z-index: 1;
  .relCont{
    width: 100%;
    height: 100%;
    position: relative;
  }
  .crossPart1{
    width: 28px;
    height: 3px;
    background: white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 24px;
    left: 10px;
  }
  .crossPart2{
    transform: rotate(-45deg)!important;

  }
}
.greenMark{
  width: 48px;
  height: 48px;
  border-radius: 48px;
  position: absolute;
  background: #8bc34a;
  top: 110px;
  right: 50px;
  z-index: 1;
  .relCont{
    width: 100%;
    height: 100%;
    position: relative;
  }
  .crossPart1{
    width: 28px;
    height: 4px;
    background: white;
    transform: rotate(-57deg);
    position: absolute;
    top: 24px;
    left: 15px;
    border-radius: 10px;
  }
  .crossPart2{
    transform: rotate(45deg) !important;
    width: 12px !important;
    top: 30px !important;
    left: 12px;
  }
}
#totalScore{
  height: 439px;
  width: 100%;
  background: #212121;
  margin-bottom: 36px;
  padding-top: 58px;
  position: relative;
  .progBar{
    width: calc(100% - 603px);
    position: absolute;
    left: -0.78%;
    z-index: 10;
    top: 48.5%;
  }
  .longLine{
    width: 87.8%;
    height: 2px;
    margin: 0 auto 41px auto;
    padding-top: 41px;
    border-bottom: 2px solid #979797;
    position: relative;
    font-family: MontserratRegular;

    .blackLine{
      width: 100%;
      position: absolute;
      height: 5px;
      background: #212121;
      left: 0%;
      bottom: -42px;
      z-index: 2;
    }
    .score1{
      position: absolute;
      right: 387px;
      font-size: 12px;
      letter-spacing: 2.7px;
      padding: 24px 40px 0 40px;
      color: white;
    }
    .status{
      position: absolute;
      right: 0;
      font-size: 12px;
      letter-spacing: 2.7px;
      padding: 24px 40px 0 40px;
      color: white;
      border-left: 2px solid #979797;
    }
    .time{
      position: absolute;
      right: 143px;
      font-size: 12px;
      letter-spacing: 2.7px;
      padding: 24px 40px 0 40px;
      color: white;
      border-left: 2px solid #979797;
    }
    .scoreVal{
      position: absolute;
      right: 387px;
      font-size: 24px;
      padding: 24px 40px 0 40px;
      color: white;
      top: 93px;
      font-family: PTMonoRegular;

    }
    .timeVal{
      position: absolute;
      right: 143px;
      font-size: 24px;
      padding: 24px 15px 0 15px;
      color: white;
      top: 93px;
      width: 241px;
      text-align: center;
      font-family: PTMonoRegular;
    }
  }
  .passMark{
    font-size: 12px;
    letter-spacing: 2.7px;
    text-align: center;
    color: white;
    padding-top: 24px;
  }
  .quizName{
    font-size: 16px;
    letter-spacing: 3.6px;
    color: white;
    text-align: center;

  }

}

@media screen and (min-width: 1199px) and (max-width: 1399px){
  .progBar {
    width: calc(100% - 559px) !important;
    left: -0.3% !important;
    top: 49.5% !important;
  }
  .scoreVal, .timeVal{
     font-size: 18px!important;
     top: 83px!important;
   }
  .greenMark, .redMark{
    transform: scale(0.8);
    top:104px!important;
  }
}
@media screen and (min-width: 991px) and (max-width: 1199px) {
  .progBar{
    width: calc(100% - 561px) !important;
    left: 1.2% !important;
    top: 52% !important;
  }
  .scoreVal, .timeVal{
    font-size: 15px!important;
    top: 71px!important;
  }
  .greenMark, .redMark{
    transform: scale(0.65);
    top:90px!important;
  }
}
// TODO mobilna verzia
@media screen and (max-width: 991px)  {
  .progBar{
    display: none;
  }
  //.scoreVal, .timeVal{
  //  font-size: 14px!important;
  //  top: 71px!important;
  //}
}
