<div class="loading-container" [hidden]="!loading">
  <div class="loading"></div>
  <div id="loading-text">loading</div>
</div>

<!--dnd 1. category + HTML-->
<div id="lecture_player"
     [innerHTML]="htmlData"
     [hidden]="loading"
     #player
     (dragover)="dragoverLecture($event)"
     (click)="removeElement($event)"
     (scroll)="scrollEventForButtonChange()">

</div>
<!--dnd 1. category + HTML -->

<!--dnd 2. category -->
<div class="dnds" *ngIf="categoryNumber == 1 || categoryNumber == 2 && !loading">
  <div class="panel panel-default dnd1panel" *ngIf="categoryNumber == 1 && dnd1Data.length > 0">
    <div *ngFor="let dnd of dnd1Data; let i = index" class="value"
         [class.hide-dnd]="hideIndex[i] && hideIndex[i].hide"
         dnd-draggable [dragEnabled]="true"
         (dragstart)="dragstart($event, i)"
         (dragend)="dragendDom($event)"
         [dragData]="dnd">{{dnd}}</div>
  </div>
  <!--dnd 2. category -->

  <!--dnd 3. category -->

  <div class="categoriesDiv" *ngIf="categoryNumber == 2 && !loading"
  >
    <div class="draggables"
         id="cat0"
         dnd-droppable
         (onDropSuccess)="transferDataSuccess($event)"
         [ngClass]="{'dragover': whichDropToColor == 'cat0'}"
         (dragover)="whichDropToColor = 'cat0'">
      <div class="category-answer"
           dnd-draggable
           [dragEnabled]="true"
           (dragstart)="setStartDragContainer($event)"
           [dragData]="item"
           *ngFor="let item of categoriesData">{{item.value}}
      </div>

    </div
    >
    <div class="dragAreas">
      <div class="category"
           id="cat1"
           dnd-droppable
           [ngClass]="{'dragover': whichDropToColor == 'cat1'}"
           (dragover)="whichDropToColor = 'cat1'"
           (onDropSuccess)="transferDataSuccess($event)"
      >
        <div class="meno-kategorie">
          MENO KATEGORIE NENI (BE)
        </div>
        <div *ngFor="let cat1item of cat1items; let i = index"
             class="value1"
             dnd-draggable
             [dragEnabled]="true"
             (dragstart)="setStartDragContainer($event)"
             [dragData]="cat1item"><span style="padding: 10px 15px">{{i+1}}.</span>
          <div class="category-answer">{{cat1item.value}}</div>
        </div>
      </div>
      <div class="category"
           id="cat2"
           dnd-droppable
           [ngClass]="{'dragover': whichDropToColor == 'cat2'}"
           (dragover)="whichDropToColor = 'cat2'"
           (onDropSuccess)="transferDataSuccess($event)">
        <div class="meno-kategorie">
          MENO KATEGORIE NENI (BE)
        </div>

        <div *ngFor="let cat2item of cat2items; let i = index"
             class="value1"
             dnd-draggable
             [dragEnabled]="true"
             (dragstart)="setStartDragContainer($event)"
             [dragData]="cat2item"><span style="padding: 10px 15px">{{i+1}}.</span>
          <div class="category-answer">{{cat2item.value}}</div>
        </div>
      </div>
    </div>
  </div>

  <!--<div dnd-droppable class="panel panel-info" (onDropSuccess)="transferDataSuccess($event)">-->
  <!--</div>-->
  <!---->
  <!---->
</div>
<!--dnd 3. category -->

<!--dnd 4. category -->
<div id="checkboxContainer" *ngIf="categoryNumber == 3 && checkboxData.length > 0 && !loading">
  <div class="checkbox brown" *ngFor="let item of checkboxData; let i = index">
    <label>
      <input type="checkbox" [(ngModel)]="item.checked"><span class="checkbox-material ">
          <span class="check"></span></span>
      <div disabled class="checkInput">{{item.value}}</div>
    </label>
  </div>
</div>
<!--dnd 4. category -->
<!--dnd 5. category -->
<div id="radioContainer" *ngIf="categoryNumber == 4 && radioData.length > 0 && !loading">
  <div class="radio-group">
    <div *ngFor="let item of radioData; let i = index" style="margin-bottom: 17px">
      <label for="id{{i}}">
        <input id="id{{i}}" class="prvyinput" type="checkbox" name="g1" [(ngModel)]="item.checked"
               (change)="changedRadio(radioData, i)"/>
        <span><div class="druhyInput" disabled>{{item.value}}</div></span>
      </label>
    </div>


  </div>
</div>
<!--dnd 5. category -->

<div id="groupContainer">

  <!--final idea -->
  <!--spravim draggable controllery, ktore budu pri kliknuti generovat nove svg(ciaru), ktorej budem menit -->
  <!--poziciu podla drag eventu, ked este ciara neexistuje .. inak budem modifikovat krajnu poziciu svg ciary-->
  <!--&gt; pri drop evente treba menit data .. najefektivnejsie-->

</div>

