<div class="progress-container-examiner">
  <div class="nadpis">Class Progress</div>
  <infinity-scroll-table [tableType]="tableType" [requestOptions]="requestOptions" [tableData]="data"></infinity-scroll-table>

</div>
