.progress-container-examiner{
  width: 100%;
  background: #212121;
  padding: 44px 34px 44px 50px;
  .bar-value, .cursor-pointer{
    color: white;
  }
  div{
    font-family: ChivoLight!important;
  }
  .nadpis{
    margin-bottom: 15px;
    font-size: 18px;
    color: white;
  }

}

