.content-container-dashboard {
  background-color: #212121;
  height: 100%;
  font-family: 'Montserrat';
  letter-spacing: 4px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 40px 20px;
  overflow: auto;
}

.content-container-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.icon-size {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.astext {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
}

.content-container-item {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.content-container-middle-item {
  flex-grow: 1;
}

app-dashboard-item {
  margin: 0 20px;
}
