<div class="content-container-dashboard">
  <div class="content-container-title">
    <div>DASHBOARD</div>
    <button (click)="closeDashboard()" class="astext">
      <md-icon class="icon-size">close</md-icon>
    </button>
  </div>

  <div *ngIf="type === 'student'" class="content-container-item">
    <div>
      <app-dashboard-item
        [dashboardItemData]="dashboardItemsData['home']"
        (click)="redirectTo(dashboardItemsData['home'])">
      </app-dashboard-item>
    </div>
    <div class="content-container-middle-item">
      <app-dashboard-item
        [dashboardItemData]="dashboardItemsData['courseOverview']"
        (click)="redirectTo(dashboardItemsData['courseOverview'])">
      </app-dashboard-item>
      <app-dashboard-item
        [dashboardItemData]="dashboardItemsData['learningPortfolio']"
        (click)="redirectTo(dashboardItemsData['learningPortfolio'])">
      </app-dashboard-item>
    </div>
    <div>
      <app-dashboard-item
        [dashboardItemData]="dashboardItemsData['help']"
        (click)="redirectTo(dashboardItemsData['help'])">
      </app-dashboard-item>
      <app-dashboard-item
        [dashboardItemData]="dashboardItemsData['logout']"
        (click)="logoutUser()">
      </app-dashboard-item>
    </div>
  </div>
  <div *ngIf="type === 'tutor'">
    to do
  </div>
</div>

