.input-button {
  width: 100%;
  height: 36px;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.2px;
  text-align: center;
  border: solid 1px #4a4a4a;
}

.input-button input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-width: 0px;
  font-family: Montserrat;
  font-size: 10px;
  letter-spacing: 2.2px;
  text-align: center;
}

.input-button input:focus {
   outline: none !important;
   border:0px solid #4a4a4a;
 }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

/*--- placeholder color ----*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #4a4a4a;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #4a4a4a;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #4a4a4a;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    #4a4a4a;
}

/*--- placeholder hide after click ---*/
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* Firefox 18- */
input:focus::-moz-placeholder { color:transparent; } /* Firefox 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* oldIE ;) */
