<div id="controller" #controllerCheck [hidden]="ishidden">
  <h3 class="h1">{{panelName}}</h3>
  <div id="itemsContainerrr" *ngIf="dataToShow.length > 0">
    <div class="itemCont" >
      <div class="checkbox brown" *ngFor="let item of dataToShow; let i = index">
        <label>
          <input type="checkbox" [(ngModel)]="item.checked" (change)="changedSomething(dataToShow)">
          <span class="checkbox-material ">
            <span class="check"></span>
          </span>
          <input (input)="changedSomething(dataToShow)" [(ngModel)]="item.value" class="checkInput">
        </label>
      </div>
    </div>
  </div>
  <h4 class="fakeadd" (click)="addAnswer()">Add checkbox answer</h4>
</div>
