<div class="container center-block">

  <div class="learnbox-form">
    <h1>LEARNBOX</h1>
    <h2>Hi and welcome in Learnbox!</h2>
  </div>

  <br>
  <div style="padding-top: 2%;padding-left: 88%">
    <button style="alignment: right; width: 150px" class="btn btn-default" (click)="logout()">Logout</button>
  </div>
  <br><br>

  <div class="row panel panel-default">

    <div class="panel-heading">
      <h4>Profile</h4>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="form-group">
          <label class="col-md-2" style="margin-top: 0px">Name</label>
          <p class="col-md-10">{{items.givenName}}</p>
        </div>
        <div class="form-group">
          <label class="col-md-2" style="margin-top: 0px">Last name</label>
          <p class="col-md-10"> {{items.familyName}} </p>
        </div>
        <div class="form-group">
          <label class="col-md-2" style="margin-top: 0px">Gender</label>
          <p class="col-md-10"> {{items.genderType}} </p>
        </div>
        <div class="form-group">
          <label class="col-md-2" style="margin-top: 0px">Birth date</label>
          <p class="col-md-10"> {{items.birthDate | date: 'MM/dd/yyyy'}} </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row panel panel-default">

    <div class="panel-heading">
      <h4>Add student(s)</h4>
    </div>

    <div class="panel-body">
      <div class="row">
        <form name="form">
          <div class="form-group">
            <label for="studentMail" class="col-md-3" style="margin-top: 0px">Student`s email</label>
            <input [(ngModel)]="mail" class="col-md-4" type="email" name="studentMail" required
                   placeholder="Enter student`s mail address">
            <button class="btn btn-default col-md-offset-1 col-md-2" (click)="inviteStudent(mail)">Submit</button>
          </div>
          <div *ngIf="messageStudent" class="col-md-6 col-md-offset-3">
            <b>{{messageStudent}}</b>
            <p></p>
          </div>
        </form>
      </div>
      <hr>
      <div class="row">
        <form name="form">
          <div class="form-group">
            <label for="mailFile" class="col-md-3" style="margin-top: 0px">File with student's mail addresses</label>
            <input ng2FileSelect [(uploader)]="uploader" class="col-md-4" type="file" name="mailFile" required>
            <button class="btn btn-default col-md-offset-1 col-md-2" (click)="uploadStudents()">Upload</button>
          </div>
          <div *ngIf="messageStudents" class="col-md-6 col-md-offset-3">
            <b>{{messageStudents}}</b>
            <p></p>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row panel panel-default">

    <div class="panel-heading">
      <h4>Change password</h4>
    </div>

    <div class="panel-body">
      <div class="row">
        <form name="form">
          <div class="form-group row container">
            <label for="oldPswd" class="col-md-3" style="margin-top: 0px">Old password</label>
            <input [(ngModel)]="oldPswd" class="col-md-4" type="password" name="oldPswd" required
                   placeholder="Enter your old password">
          </div>
          <div class="form-group row container">
            <label for="newPswd" class="col-md-3" style="margin-top: 0px">New password</label>
            <input [(ngModel)]="newPswd" class="col-md-4" type="password" name="newPswd" required
                   placeholder="Enter your new password">
          </div>
          <div class="form-group row container">
            <label for="newPswdAgain" class="col-md-3" style="margin-top: 0px">Confirm new password</label>
            <input [(ngModel)]="newPswdAgain" class="col-md-4" type="password" name="newPswdAgain" required
                   placeholder="Enter your new password again">
          </div>
          <div *ngIf="message" class="col-md-6 col-md-offset-3">
            <b>{{message}}</b>
            <p></p>
          </div>
          <div class="row container">
            <button class="btn btn-default col-md-offset-3 col-md-4"
                    (click)="changePswd(oldPswd, newPswd, newPswdAgain)">Change password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
