.learner-card{
  width: 100%;
  height: 340px;
  background-color: #00897b;
  padding: 32px 50px;
  color: white;
  font-family: 'Chivo', sans-serif;
  margin-bottom: 20px;
}

.picture{
  width: 60px;
  height: 60px;
  margin-bottom: 17px;
}

.picture i{
  font-size: 60px;
}

.learner-name, .account-info{
  font-size: 20px;
  text-align: left;
  margin-bottom: 25px;
}

.green-label{
  opacity: 0.4;
  font-size: 15px;
  text-align: left;
  margin-bottom: 3px;
}

.learner-data{
  font-size: 15px;
  text-align: left;
  margin-bottom: 33px;
}

.learner-data-lines{
  font-size: 15px;
  line-height: 1.67;
  text-align: left;
}

.learner-card li {
  line-height: 1.8;
}

.learner-card ul{
  margin-left: -22px;
}
