<div class="learner-card">
  <div class="picture">
    <i class="material-icons">account_circle</i>
  </div>
  <div fxLayout="row" *ngIf="learnerProfile">
    <div fxFlex="30">
      <div class="learner-name">
        {{learnerProfile.user.name}}
      </div>
      <div class="green-label">
        Company
      </div>
      <div class="learner-data">
        {{learnerProfile.user.company}}
      </div>
      <!--TODO: no info about activity implemeted yet -->
      <div class="learner-data-lines" *ngIf="false">
        Last Active
        <!--data<br>-->
        User Since
        <!--data-->
      </div>
    </div>
    <div fxFlex="20">
      <div class="account-info">
        Acount Info
      </div>
      <div class="green-label">
        Birthday
      </div>
      <div class="learner-data">
        {{learnerProfile.user.birthDate | date:'dd MMMM y'}}
      </div>
      <div class="green-label">
        Gender
      </div>
      <div class="learner-data">
        {{learnerProfile.user.genderType}}
      </div>
    </div>
    <div fxFlex="20">
      <div class="green-label">
        Address
      </div>
      <div class="learner-data-lines">
        {{learnerProfile.user.street}}<br>
        {{learnerProfile.user.city}}<br>
        {{learnerProfile.user.postCode}}<br>
      </div>
      <div class="green-label margin-top-30">
        Email
      </div>
      <div class="learner-data">
        {{learnerProfile.user.email}}
      </div>
    </div>
    <div fxFlex="20">
      <div class="green-label">
        Phone
      </div>
      <div class="learner-data">
        {{learnerProfile.user.phoneNumber}}
      </div>
    </div>
    <!--TODO: no info about activity implemeted yet -->
    <div fxFlex="20" *ngIf="false">
      <div class="account-info">
        Course Activity
      </div>
      <ul>
        <li  *ngFor="let activity of portfolio.courseActivity">
          {{ activity }}
        </li>
      </ul>
    </div>
  </div>
</div>
<app-grey-container *ngIf="learnerProfile">
  <learning-portfolio [courses]="learnerProfile.portfolioCourses" [qualifications]="learnerProfile.qualifications" [type]="'tutor'"></learning-portfolio>
</app-grey-container>
