<div class="container center-block">
  <div class="learnbox-form">
    <h1>LEARNBOX</h1>
    <h2>Finish registration</h2>
  </div>
  <div>
    <form name="form">
      <div class="row">
        <div class="form-group col-md-6 col-md-offset-3">
          <label for="givenName">Name</label>
          <input [(ngModel)]="givenName" class="form-control" type="text" name="givenName" required placeholder="Enter your name">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6 col-md-offset-3">
          <label for="familyName">Last name</label>
          <input [(ngModel)]="familyName" class="form-control" type="text" name="familyName" required placeholder="Enter your last name">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6 col-md-offset-3">
          <label for="genderType">Gender</label>
          <input [(ngModel)]="genderType" class="form-control" type="text" name="genderType" required placeholder="Enter your gender">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6 col-md-offset-3">
          <label for="birthDate">Birth day</label>
          <input [(ngModel)]="birthDate" class="form-control" type="date" name="birthDate" required placeholder="Enter your age">
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-md-offset-4">
          <button class="btn btn-default col-md-8" (click)="continue(birthDate, familyName, genderType, givenName)">Continue</button>
        </div>
      </div>

    </form>
  </div>
</div>
