$my-orange: #ffa726;

@mixin font-style($family, $size, $spacing) {
  font-family: $family;
  font-size: $size;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: $spacing;
}

@mixin flex-and-fill {
  flex: 1 1 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}

.fancy-scrollbar {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #F5F5F5;
    border-radius: 0px;
  }

  &::-webkit-scrollbar {
    width: 15px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: $my-orange;
  }
}

:host {
  @include flex-and-fill;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
}

.main-container {
  overflow: hidden;
  border: 1px solid white;
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
}

.left-panel {
  flex: 6 0 60%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}

.quiz {
  @extend .fancy-scrollbar;
  flex: 0 0 calc(100vh - 110px);
  color: #ffffff;
  position: relative;
  letter-spacing: 0.7px;
  overflow-x: hidden;
  overflow-y: auto;
}

.next, .previous {
  width: 143px !important;
  max-width: 143px;
  margin: 20px 0 20px 0;
}

.next {
  margin-right: 40px;
  float: right;
}

.previous {
  margin-left: 40px;
  float: left;
}

.secretInputFromWord {
  background: blue !important;
}

.time-and-calc {
  flex: 0 0 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  background-color: rgb(45, 45, 45);
}

.time {
  flex: 1 1 100%;

  p {
    padding-left: 40px;
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0px;
  }
}

.calculator {
  flex: 1 1 100%;

  p {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0px;
    cursor: pointer;
  }

  p:hover {
    background: rgb(50, 50, 50);
    box-shadow: inset 2px 2px 2px rgb(40, 40, 40);
  }
}

.right-panel {
  flex: 4 0 40%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}

.question-progress {
  @include font-style(MontserratRegular, 16px, 3.6px);
  overflow: hidden;
  flex: 1 5 150px;
  background: rgba(155, 155, 155, 0.19);
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.question-text {
  text-align: center;
}

.score {
  @include font-style(PTMonoRegular, 36px, 3px);
  text-align: center;
  color: $my-orange;
  padding-top: 20px;
  margin-bottom: 6px;
}

.workpad {
  @include font-style(MontserratRegular, 19px, 3.6px);
  overflow: hidden;
  flex: 4 6 100%;
  background-color: #ffffff;
  color: #000000;

  .header {
    height: 15%;
    max-height: 100px !important;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    p {
      margin: 0px;
    }
  }

  .body {
    height: 100%;
    padding: 30px;
    textarea {
      width: 100%;
      height: 80%;
      border: 0px;
      resize: none;
    }
    textarea:focus {
      outline: none !important;
      border: 0px solid #4a4a4a;
      resize: none;
      overflow: hidden; /*to not show scroll bar*/
    }
  }
  // end workpad style
}

.current-progress {
  flex: 0 0 50px;
  background-color: #9b9b9b;
  font-family: MontserratRegular;
  p {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0px;
  }
}

/* ******************** For the mobile layout ******************** */
@media screen and (max-width: 1024px) {

  .main-container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    position: relative;
  }

  .topbar {
    @include font-style(MontserratRegular, 13px, 2.2px);
    width: 100%;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    background-color: rgb(56, 56, 56);
    color: #ffffff;
  }

  .row1 {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    padding: 10px 20px 10px 0;
  }

  .time {
    flex: 1 1 50%;

    p {
      padding-left: 40px;
      display: flex;
      height: 100%;
      align-items: center;
      margin: 0px;
    }
  }

  .calc {
    flex: 1 1 50%;
    padding-right: 40px;
    cursor: pointer;

    &:hover {
      filter: brightness(85%);
    }
  }

  .question-progress {
    @include font-style(MontserratRegular, 16px, 3.6px);
    flex: 0 0 50px;
    background: rgba(155, 155, 155, 0.19);
    text-align: center;
    color: #ffffff;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  .question-text {
    flex: 1 1 auto;
  }

  .score {
    flex: 1 1 auto;
    @include font-style(PTMonoRegular, 25px, 3px);
    color: $my-orange;
    padding-bottom: 15px;
  }

  .left-panel {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
  }

  .quiz {
    color: #ffffff;
    letter-spacing: 0.7px;
    position: relative;
    flex: 1 0 auto;
    overflow-y: auto;
  }

  .right-panel {
    flex: 1 0 auto;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    padding: 10px 40px 10px 40px;
  }

  .workpad {
    @include font-style(MontserratRegular, 19px, 3.6px);
    overflow: hidden;
    flex: 0 0 200px;
    background-color: #ffffff;
    color: #000000;

    .header {
      height: 30px;
      max-height: 100px !important;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      p {
        margin: 0px;
      }
    }

    .body {
      height: 100%;
      padding: 30px;
      textarea {
        width: 100%;
        height: 80%;
        border: 0px;
        resize: none;
      }
      textarea:focus {
        outline: none !important;
        border: 0px solid #4a4a4a;
        resize: none;
        overflow: hidden; /*to not show scroll bar*/
      }
    }
    // end workpad style
  }

  .current-progress {
    margin-top: 20px;
    flex: 0 0 50px;
    background-color: rgba(0, 0, 0, 0);
    font-family: MontserratRegular;
    font-size: 13px;
    p {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      margin: 0px;
    }
  }
}
