<div class="main-container" (window:resize)="layoutQuizScreen($event)">

    <div *ngIf="useMobileLayout" class="topbar">
      <div class="row1">
        <div class="time">
          <p>QUIZ TIME <span style="color:#ffa726;margin-left: 10px;"><app-countdown #countdown (endedfunc)="submitQuizBecauseOfTime()" end="{{this.getTime()}}"></app-countdown></span><br></p>
        </div>
        <!-- Calculator icon graphic -->
        <img src="../../../../assets/calculator-icon.svg" *ngIf="isCalculatorRequired" class="calc-mobile" (click)="openCalc()"/>
      </div>

      <div class="question-progress">
        <div class="question-text">QUESTION:</div>
        <div class="score">
          <span [hidden]="currentQuestion >= 10">0</span>{{currentQuestion}} / <span [hidden]="maxQuestions >= 10">0</span>{{maxQuestions}}
        </div>
      </div>
    </div>

  <div class="left-panel">
    <div #quiz class="quiz">
      <span #container></span>
      <!--Insert the kind of quiz here, should be switchable every question e.g. get flag from backend an *ng-if the component-->
      <!--<app-text-input-quiz></app-text-input-quiz>-->
      <projection (secretProjectionChanged)="secretValuesChangedInProjection($event)"
                  (textCheckboxValuesChanged)="textCheckboxValuesChangedInProjection($event)"
                  [secretDataIn]="secretDataHold1"
                  [keyUpEventOnly]="keyUpEventOnly"
                  [htmlData]="htmlData"
                  [dnd1Data]="dndData"
                  [categoriesData]="categoriesData"
                  [checkboxData]="checkboxData"
                  [radioData]="radioData"
                  [groupsData]="groupsData"
                  [categoryNumber]="categoryNumber"
                  [textCheckboxesData]="textCheckboxesData"
                  [units]="units"
                  *ngIf="units"
      ></projection>
      <blue-button scrollTo scrollYTarget="-60" [hidden]="currentQuestion != maxQuestions" class="next" [buttonTitle]="'SUBMIT TEST'" (click)="submitTest()" [isLoading]="isSubmitted"></blue-button>
      <blue-button scrollTo scrollYTarget="-60" [hidden]="currentQuestion == maxQuestions" class="next" [buttonTitle]="'NEXT'" (click)="next()"></blue-button>
      <blue-button scrollTo scrollYTarget="-60" [hidden]="currentQuestion == 1" class="previous" [buttonTitle]="'PREVIOUS'" (click)="previous()"></blue-button>
    </div>

    <div *ngIf="!useMobileLayout" class="time-and-calc">
      <div class="time">
        <p>QUIZ TIME <span style="color:#ffa726;margin-left: 10px;"><app-countdown #countdown (endedfunc)="submitQuizBecauseOfTime()" end="{{this.getTime()}}"></app-countdown></span><br></p>
      </div>
      <div class="calculator" *ngIf="isCalculatorRequired" (click)="openCalc()">
        <p>LAUNCH CALCULATOR  + </p>
      </div>
    </div>
    <!-- end left panel -->
  </div>

  <div class="right-panel">
    <div *ngIf="!useMobileLayout" class="question-progress">
      <div class="question-text">QUESTION:</div>
      <div class="score">
        <span [hidden]="currentQuestion >= 10">0</span>{{currentQuestion}} / <span [hidden]="maxQuestions >= 10">0</span>{{maxQuestions}}
      </div>
    </div>

    <div class="workpad" (keyup)="workpadChanged()">
      <div class="header"><p><strong>WORKPAD</strong></p></div>
      <div class="body"><textarea [(ngModel)]="workpadText"></textarea></div>
    </div>

    <div class="current-progress">
      <p>CURRENT PROGRESS {{resolvedModules}} / {{maxModules}} AVG TEST {{avgTest}}%  + </p>
    </div>
    <!-- end right panel -->
  </div>

</div>

<calculator #calculator *ngIf="showCalc" [close]="closeCalc"></calculator>
