.dashboard-container-examiner {
  margin-top: 80px;
  .my-courses, .my-clases {
    padding: 30px 44px;
    background: #212121;
    .title {
      font-family: ChivoLight;
      font-size: 18px;
      color: white;
      margin-bottom: 24px;
    }
  }
  .courses, .classes{
    border-top: 2px solid #6d757b;

    .course, .class{
      border-bottom: 2px solid #6d757b;
      padding-top: 13px;
      padding-bottom: 12px;
      .boxlogo{
        width: 81.4px;
        height: 30px;
        margin-right: auto;
      }
      .className{
        flex:1;
        font-family: ChivoLight;
        line-height: 30px;
        font-size: 15px;
        color: white;
      }
      .view{
        color:#9b9b9b;
        font-size: 15px;
        font-family: ChivoLight;
        margin-left: auto;
        //line-height: 30px;
        div{
          margin: auto;
        }
      }
    }
  .show-less{
    font-size: 14px;
    color: white;
    font-family: ChivoLight;
    margin-bottom: 19px;
    margin-top: 61px;
    svg{
      margin-left: 11px;
    }
  }

  }

}
