<div fxLayout="row" class="dashboard-container-examiner" fxLayoutGap="20px">
  <div fxFlex="50" class="my-courses">
    <div class="title">My Courses</div>
    <div class="courses">
      <div fxLayout="row" class="course" *ngFor="let course of courses">
        <div class="boxlogo"><img src="../../../../../../assets/maths-b-o-x-e-d-icon-text-white.png" alt="boxlogo" class="boxlogo"></div>
        <div class="view" fxLayout="row"><div>View</div></div>
      </div>
    </div>
  </div>
  <div  fxFlex="50" class="my-clases">
    <div class="title">My Classes</div>
    <div class="classes">
      <div fxLayout="row" class="class" *ngFor="let class of classes">
        <div class="className">{{class.name}}</div>
        <div class="view" fxLayout="row"><div>View</div></div>
      </div>
      <div class="show-less">Show Less
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="6" viewBox="0 0 12 6">
          <path fill="#FFF" fill-rule="evenodd" d="M12 6L6 0 0 6h12z"/>
        </svg>
      </div>
    </div>
  </div>
  </div>
