.fixed-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 200;
  top: 0;
  left: 0;
  opacity: 0.85;
  background-color: #000000;
  svg {
    position: absolute;
    top: 23.7px;
    right: 22.8px;
    z-index: 201;
    cursor: pointer;
  }
  .rotate {
    transform: rotate(90deg);
  }
}

.offlineStatus {
  background-color: #ff584d !important;
}

#container {
  position: fixed;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  background: #eaedf2;
  padding: 0px;
  z-index: 201;
  font-family: MontserratLight;

  .left-panel {
    width: 288px;
    min-width: 288px;
    height: 100%;
    background: #1e1e1e;
    .blueBG {
      background: #3f83fc;
    }
    .choose-panel {
      height: 47px;
      width: 100%;
      background: black;
      md-select {
        width: 130px;
        margin: auto auto auto 24.8px;
      }
      .viewAll {
        color: #545454;
        margin: auto 27.8px auto auto;
        cursor: pointer;
      }
    }
    .search {
      height: 47px;
      width: 100%;
      border-bottom: 0.7px solid rgba(155, 155, 155, 0.15);
      border-top: 0.7px solid rgba(155, 155, 155, 0.15);
      svg {
        margin: auto 17.6px auto 24px;
      }
      input {
        background: none;
        border: none;
        outline: none;
        flex: 1;
        padding: 10px;
        color: white;
      }
      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #545454;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: #545454;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: #545454;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: #545454;
      }
    }

    .contact-container {
      height: calc(100% - 96px);
      width: 100%;
      overflow-y: auto;
      .contact {
        height: 64px;
        cursor: pointer;
      }
      .ball {
        width: 33.6px;
        height: 33.6px;
        background: black;
        text-align: center;
        line-height: 33.6px;
        border-radius: 100%;
        margin: auto 22.4px auto 23px;
        color: white;
        font-size: 12.2px;
        position: relative;

        .onlineStatus {
          background-color: #00e100;
          width: 9px;
          height: 9px;
          border-radius: 100%;
          position: absolute;
          right: 0;
          top: 0;
        }
        .offlineStatus {
          background-color: #ff584d !important;
        }
      }
      .contact-name {
        flex: 1;
        padding: 15px 60px 15px 0;
        color: white;
        line-height: 34px;
        font-size: 12px;
        position: relative;
        .unread-count {
          position: absolute;
          right: 25.6px;
          top: 15px;
        }
      }
    }
  }
  .chat-container {
    flex: 1;
    position: relative;
  }
  .opacity0 {
    opacity: 0;
  }
  .nobody-selected{
    position: absolute;
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    left:0;
    top: calc(50% - 25px);
    font-size: 15px;
    font-family: MontserratLight;
    color: #1e1e1e;
  }

  .studentNameContainer {
    height: 47.2px;
    background: #3f83fc;
    padding: 7px 2px;
    line-height: 33px;
    color: white;

    .name {
      font-size: 12px;
      margin: auto 17.6px auto 33px;
    }
    .onlineStatus {
      width: 10.1px;
      height: 10.1px;
      object-fit: contain;
      background-color: #00e100;
      border-radius: 100%;
      margin: auto 7.5px auto 0;
    }
    .onlineText {
      font-size: 12px;
      letter-spacing: 0.1px;
      margin: auto 0;
    }

    .right-container {
      margin: auto 25.6px auto auto;
      .call, .video, .addUser {
        background: #1a4879;
        width: 28.8px;
        height: 28.8px;
        border-radius: 100%;
        margin-left: 11.2px;
        svg {
          margin: auto;
        }
      }
    }
  }
  .messages-window {
    height: calc(100% - 113px);
    width: 100%;
    padding: 0px 15px 20px 15px;
    overflow-y: auto;
    padding-top: 32px;
    .time {
      position: absolute;
      top: 8.8px;
      left: 47.2px;
      color: #1e1e1e;
      font-size: 12px;
      text-transform: uppercase;
    }
    .ball {
      width: 33.6px;
      height: 33.6px;
      border-radius: 100%;
      position: absolute;
      left: 0;
      top: 0;
      font-size: 12.2px;
      line-height: 35px;
      text-align: center;
      color: white;
      text-transform: uppercase;
    }
    .tutor-message {
      width: 90%;
      min-height: 50px;
      min-width: 150px;
      padding: 43px 30px 0 0;
      //background: #3f83fc;
      margin: 0px auto 51.2px auto;
      //float: right;
      position: relative;
      //color: white;
      .ball {
        background: #e53935;
      }
    }
    .learner-message {
      width: 90%;
      min-height: 50px;
      min-width: 150px;
      padding: 43px 30px 0 0;
      margin: 0px auto 51.2px auto;
      //background: #a9a9a9;
      //float: left;
      position: relative;
      //color: white;
      .ball {
        background: #008577;
      }
    }

  }

  .sendWindow {
    height: 65px;
    position: relative;
    background: white;
    .divider {
      position: absolute;
      width: 95%;
      left: 2.5%;
      height: 1px;
      background: #4F5458;
      top: 0;
      display: none !important;

    }
    .textarea-container {
      width: calc(100% - 73px);
      height: 100%;
      display: inline-block;
      vertical-align: top;
      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #00897b;
        letter-spacing: 0.1px;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: #00897b;
        letter-spacing: 0.1px;
      }
      :-ms-input-placeholder { /* IE 10+ */
        letter-spacing: 0.1px;
        color: #00897b;
      }
      :-moz-placeholder { /* Firefox 18- */
        letter-spacing: 0.1px;
        color: #00897b;

      }
      textarea {
        width: 100%;
        height: 100%;
        resize: none;
        outline: none;
        border: none;
        padding: 26px 30px;
        background: transparent;
        color: black;
      }
    }
    .send {
      width: 65px;
      height: 65px;
      display: inline-block;
      vertical-align: top;
      position: relative;
      cursor: pointer;
      border-left: 2px solid #eaedf2;
      &:hover {
        svg {
          fill: rgba(63, 131, 252, 0.81)

        }
      }
      .divider {
        position: absolute;
        height: 80px;
        left: 0%;
        width: 1px;
        background: white;
        top: 10px;
      }

      svg {
        width: 42px;
        fill: #3f83fc;
        margin: 12px;

      }
    }
  }
}
