<div class="fixed-bg" *ngIf="shown">
  <span (click)="closeChat()">
  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" >
    <path fill="#FFF" fill-rule="evenodd" d="M1.722 23.04a.976.976 0 0 1-.678-.27.893.893 0 0 1 0-1.3L22.864.522a.986.986 0 0 1 1.356 0 .893.893 0 0 1 0 1.3L2.399 22.772a.975.975 0 0 1-.677.269z"/>
  </svg>
  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" class="rotate">
    <path fill="#FFF" fill-rule="evenodd" d="M1.722 23.04a.976.976 0 0 1-.678-.27.893.893 0 0 1 0-1.3L22.864.522a.986.986 0 0 1 1.356 0 .893.893 0 0 1 0 1.3L2.399 22.772a.975.975 0 0 1-.677.269z"/>
  </svg>
</span>
</div>

<div id="container" class="flex" *ngIf="shown">

  <div class="left-panel">
    <div class="choose-panel flex">
      <md-select placeholder="Tutors (Online)" *ngIf="isStudent">
        <md-option>Tutors (Online)</md-option>
      </md-select>
      <md-select placeholder="Learners (Online)" *ngIf="!isStudent">
        <md-option>Learners (Online)</md-option>
      </md-select>
      <div class="viewAll">View All</div>
    </div>
    <div class="search flex">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15">
        <path fill="#545454" fill-rule="evenodd"
              d="M15.207 14.404a.556.556 0 0 0-.17-.407l-3.175-3.173A5.783 5.783 0 0 0 13.16 8.23V8.22c.1-.445.151-.91.152-1.392 0-1.73-.613-3.207-1.838-4.432C10.26 1.184 8.788.577 7.058.577c-1.73 0-3.208.607-4.434 1.819C1.41 3.62.804 5.099.804 6.828c0 1.73.607 3.2 1.82 4.413 1.226 1.225 2.704 1.837 4.434 1.837 1.537 0 2.87-.482 3.999-1.449l3.174 3.173c.114.114.25.17.407.17.158 0 .29-.056.398-.17a.526.526 0 0 0 .17-.398zM10.668 3.201c1.004 1.003 1.506 2.212 1.507 3.627 0 .4-.04.786-.123 1.155-.204.926-.662 1.74-1.374 2.444l-.02.019c-.99.997-2.19 1.495-3.6 1.496-1.416 0-2.625-.502-3.629-1.506-.992-.99-1.488-2.194-1.488-3.608 0-1.415.496-2.624 1.488-3.627 1.004-.992 2.213-1.488 3.629-1.487 1.415 0 2.619.495 3.61 1.487z"/>
      </svg>
      <input [(ngModel)]="searchText" placeholder="Search">
    </div>
    <div class="contact-container">
      <div *ngFor="let contact of contacts" class="contact flex" (click)="selectContact(contact)"  [ngClass]="{blueBG: contact.active}">
        <div class="ball">{{getInitials(contact.name)}}
          <div class="onlineStatus" *ngIf="contact.online"></div>
          <div class="onlineStatus offlineStatus" *ngIf="!contact.online"></div>
        </div>
        <div class="contact-name">{{contact.name}}
          <span class="unread-count" *ngIf="contact.unreadCount > 0">({{contact.unreadCount}})</span>
        </div>
      </div>
    </div>
  </div>

  <div class="chat-container">
    <div class="nobody-selected" *ngIf="activeRoomUuid.length == 0">Please select someone to chat with</div>
    <div class="studentNameContainer flex" [ngClass]="{opacity0: activeRoomUuid.length == 0}">
      <div class="name">{{whoToChat}}</div>
      <div class="onlineStatus" [ngClass]="{offlineStatus: !onlineIndicator}" ></div>
      <div class="onlineText" *ngIf="onlineIndicator">online</div>
      <div class="onlineText" *ngIf="!onlineIndicator">offline</div>
      <div class="right-container flex">
        <div class="call flex">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13">
            <g fill="none" fill-rule="evenodd">
              <path d="M-2.022-1.006H13.98V14.99H-2.022z"/>
              <path fill="#FFF" fill-rule="nonzero"
                    d="M2.392 6.185a10.098 10.098 0 0 0 4.394 4.392l1.467-1.466c.18-.18.447-.24.68-.16a7.61 7.61 0 0 0 2.38.38c.367 0 .667.3.667.666v2.326c0 .367-.3.667-.667.667-6.26 0-11.335-5.072-11.335-11.33 0-.366.3-.666.667-.666h2.334c.366 0 .666.3.666.666 0 .833.134 1.633.38 2.38a.669.669 0 0 1-.166.68L2.392 6.184z"/>
            </g>
          </svg>

        </div>
        <div class="video flex">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="11" viewBox="0 0 16 11">
            <path fill="#FFF" fill-rule="evenodd"
                  d="M15.187.69l-4.275 2.466V1.67c0-.815-.66-1.476-1.474-1.478H2.263C1.447.193.785.855.785 1.671v7.17c0 .817.662 1.478 1.478 1.478h7.175c.816 0 1.478-.661 1.478-1.477V7.357l4.271 2.466V.69z"/>
          </svg>

        </div>
        <div class="addUser flex">
          <svg xmlns="http://www.w3.org/2000/svg" width="17" height="15" viewBox="0 0 17 15">
            <g fill="#FFF" fill-rule="evenodd">
              <path
                d="M6.632 9.25a2.822 2.822 0 0 0 2.82-2.818 2.822 2.822 0 0 0-2.82-2.819 2.822 2.822 0 0 0-2.82 2.819 2.822 2.822 0 0 0 2.82 2.818M6.632 9.955c-3.32 0-5.64 1.738-5.64 4.228v.705h11.28v-.705c0-2.49-2.32-4.228-5.64-4.228M16.502 2.909h-2.115V.795h-1.41v2.114h-2.115v1.409h2.115v2.114h1.41V4.318h2.115z"/>
            </g>
          </svg>

        </div>
      </div>
    </div>
    <div class="messages-window" [ngClass]="{opacity0: activeRoomUuid.length == 0}">
    <span *ngFor="let message of messages">
      <div *ngIf="message.type == 'tutor'" class="tutor-message">{{message.text}}<span
        class="time"> {{message.time}}</span><span class="ball">{{getInitials(tutorName)}}</span></div>
      <div *ngIf="message.type == 'learner'" class="learner-message">{{message.text}}<span
        class="time">{{message.time}}</span><span class="ball">{{getInitials(studentName)}}</span></div>
    </span>
    </div>
    <div class="sendWindow" [ngClass]="{opacity0: activeRoomUuid.length == 0}">
      <div class="textarea-container">
        <textarea [(ngModel)]="text" placeholder="Type message here.."></textarea>
      </div>
      <div class="send flex" (click)="addMessage()">
        <svg fill="#FFFFFF" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
      </div>
      <div class="divider"></div>
    </div>
  </div>
</div>

