
:host {
  @extend .flex-and-fill;
}

.flex-and-fill {
  flex: 1 1 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}

.content-tutorial {
  padding-bottom: 241px;
}

.content-tutorial-no-footer {
  padding-bottom: 0px;
}

.footer .learnbox-container{
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
}

.footer {
  height: 240px;
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: #424242;
}

@media screen and (max-width: 1300px) {
  .footer{
    height: 202px!important;

  }
  .content-tutorial{
    padding-bottom: 202px!important;
    margin-top: 0px!important;
  }

  .content-tutorial-no-footer {
    padding-bottom: 0px !important;
    height: 100% !important;
  }

  #wrapper{
    height: calc(100vh - 262px)!important;
  }
}
