<div class="content-tutorial flex-and-fill" [class.content-tutorial-no-footer]="disableFooter">
  <div *ngIf="tutorialDetail" class="flex-and-fill">
    <div [ngSwitch]="tutorialDetail['@type']" class="flex-and-fill">
      <app-video-tutorial *ngSwitchCase="'VIDEO'" [tutorialDetail]="tutorialDetail" [moduleDetail]="moduleDetail"> </app-video-tutorial>
      <app-image-tutorial *ngSwitchCase="'IMAGE'" [tutorialDetail]="tutorialDetail"></app-image-tutorial>
      <app-text-tutorial *ngSwitchCase="'TEXT'" [tutorialDetail]="tutorialDetail"></app-text-tutorial>
      <app-quiz-tutorial *ngSwitchCase="'QUIZ'" (quizTutorialEmitter)="handleDisableFooter($event)" class="flex-and-fill"
                         [tutorialDetail]="tutorialDetail" [moduleDetail]="moduleDetail"></app-quiz-tutorial>
      <app-evidence-tutorial *ngSwitchCase="'EVIDENCE'" [tutorialDetail]="tutorialDetail" [moduleDetail]="moduleDetail"></app-evidence-tutorial>
      <div *ngSwitchDefault>
        default switch
        <blue-button [buttonTitle]="'NEXT'" (click)="submitTutorial()"></blue-button>
      </div>
    </div>
  </div>
</div>
<div class="footer" *ngIf="!disableFooter">
  <div class="learnbox-container">
    <app-module-item *ngIf="moduleDetail" [moduleDetail]="moduleDetail" [actualTutorialEnrollment]="tutorialDetail.enrollmentUuid" [showViewAllModules]="true"></app-module-item>
  </div>
</div>
