.portfolio-title {
  font-family: 'PT Mono', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px;
}

.overview-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #ffffff;
}

.courses-title, .qualifications-title {
  font-family: 'PT Mono', sans-serif;
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  margin-top: 50px;
  padding-bottom: 20px;
  border-bottom: 3px solid #ffffff;
}

.courses-head, .qualifications-head {
  font-family: 'PT Mono', sans-serif;
  font-size: 15px;
  font-weight: bold;
  border-bottom: solid 1px #ffffff;
  color: #9b9b9b;
}

.courses-head-row, .qualifications-head-row {
  padding: 23px 0;
}

.courses-row {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  padding: 15px 0;
  border-bottom: solid 1px #ffffff;
}

.text-transform-uppercase {
  text-transform: uppercase;
}

.qualification-row {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  padding: 20px 0;
}

.progress-bar-width {
  width: 70%;
}

.status-true {
  width: 20px;
  height: 20px;
  background-color: #8bc34a;
  border-radius: 10px;
  cursor: pointer;
}

.status-false {
  width: 20px;
  height: 20px;
  background-color: #ff584d;
  border-radius: 10px;
  cursor: pointer;
}

.status-progress {
  width: 20px;
  height: 20px;
  background-color: #ffa726;
  border-radius: 10px;
  cursor: pointer;
}

.view-summary {
  border-radius: 2px;
  background-color: #3f83fc;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
  padding: 8px 15px;
  border: none;
  text-transform: uppercase;
}

.checkMark {
  color: #8bc34a;
  font-size: 30px;
}

.crossMark {
  color: #ff584d;
  font-size: 30px;
}

.green-font {
  color: #8bc34a !important;
}

/* Mobile design */

.margin-right-left {
  margin: 0 20px;
}

.courses-data-mobile, .qualification-data-mobile {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.blue-text {
  color: #3f83fc;
}

.courses-head-mobile, .qualification-head-mobile {
  font-family: 'PT Mono', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #9b9b9b;
}

.course-view-summary {
  border-radius: 2px;
  background-color: #3f83fc;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
  padding: 10px 0;
  border: none;
}

.margin-top-bottom-20 {
  margin: 20px 0;
}

.margin-top-15 {
  margin-top: 15px;
}

.bottom-border {
  border-bottom: solid 1px #ffffff;
}

.cursor-pointer {
  cursor: pointer;
}

