<div [fxShow.sm]="false" [fxShow.xs]="false">
  <div class="portfolio-title">
    Learning Portfolio
  </div>
  <div class="overview-title">
    Total Learning Overview
  </div>
  <div class="courses-title">
    Learnbox Courses
  </div>
  <div class="courses-head" fxLayout="row" fxLayoutAlign="start center">
    <div [fxFlex]="23" class="courses-head-row">
      Title
    </div>
    <div [fxFlex]="10" class="courses-head-row">
      Date
    </div>
    <div [fxFlex]="19" class="courses-head-row"
         fxLayoutAlign="center center">
      Progress (%)
    </div>
    <div [fxFlex]="16" class="courses-head-row">
      Tutor
    </div>
    <div [fxFlex]="15" class="courses-head-row"
         fxLayoutAlign="center center">
      Pass / Fail / Reset
    </div>
    <div [fxFlex]="17" class="courses-head-row"></div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" class="courses-row" *ngFor="let course of courses">
    <div [fxFlex]="23" class="text-transform-uppercase">
      {{course.courseName}}
    </div>
    <div [fxFlex]="10">
      {{course.startTime | date:'dd MMMM y'}}
    </div>
    <div [fxFlex]="19"
         fxLayoutAlign="center center">
      <progress-bar class="progress-bar-width" [value]="course.progress" [color]="'green'"
                    [type]="'smaller'"></progress-bar>
    </div>
    <div [fxFlex]="16" class="text-transform-uppercase">
      {{course.tutorName}}
    </div>
    <div [fxFlex]="15" fxLayoutAlign="center center">
      <div *ngIf="course.status === 'PASS'" (click)="resetCourse(course)" title="Click to reset course progress">
        <div class="status-true"></div>
      </div>
      <div *ngIf="course.status === 'FAIL'" (click)="resetCourse(course)" title="Click to reset course progress">
        <div class="status-false"></div>
      </div>
      <div *ngIf="course.status === 'ACTIVE'" (click)="resetCourse(course)" title="Click to reset course progress">
        <div class="status-progress"></div>
      </div>
    </div>
    <div [fxFlex]="17" fxLayoutAlign="center center" (click)="redirectToCourseOverview(course)">
      <button class="view-summary">
        View Summary
      </button>
    </div>
  </div>
  <div class="qualifications-title">
    Other Qualifications
  </div>
  <div class="qualifications-head" fxLayout="row" fxLayoutAlign="start center">
    <div [fxFlex]="23" class="qualifications-head-row">
      Title
    </div>
    <div [fxFlex]="10" class="qualifications-head-row">
      Date Recieved
    </div>
    <div [fxFlex]="19" class="qualifications-head-row"
         fxLayoutAlign="center center">
      Verified
    </div>
    <div [fxFlex]="16" class="qualifications-head-row">
      Tutor
    </div>
    <div [fxFlex]="15" class="qualifications-head-row"
         fxLayoutAlign="center center">
      Grade
    </div>
    <div [fxFlex]="17"></div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" class="qualification-row"
       *ngFor="let qualification of qualifications">
    <div [fxFlex]="23">
      {{qualification.qualificationTitle}}
    </div>
    <div [fxFlex]="10">
      {{qualification.dateReceived | date:'dd MMMM y'}}
    </div>
    <div [fxFlex]="19" fxLayoutAlign="center center">
      <md-icon class="checkMark" fxlayout="row"
               fxLayoutAlign="center center"
               *ngIf="qualification.verified === true">
        check
      </md-icon>
      <md-icon class="crossMark" fxlayout="row"
               fxLayoutAlign="center center"
               *ngIf="qualification.verified === false">
        close
      </md-icon>
      <div *ngIf="qualification.verified === null">N/A</div>
    </div>
    <div [fxFlex]="16" class="text-transform-uppercase">
      {{qualification.tutorName}}
    </div>
    <div [fxFlex]="15" fxLayoutAlign="center center">
      <div [ngClass]="{'green-font': qualification.grade != 'NON_GRADE'}">
        <div *ngIf="qualification.grade === 'NON_GRADE'">N/A</div>
        <div *ngIf="qualification.grade !== 'NON_GRADE'">{{qualification.grade}}</div>
      </div>
    </div>
    <div [fxFlex]="17"></div>
  </div>
</div>

<!--mobile view-->
<div [fxShow.gt-sm]="false" class="margin-right-left">
  <!--titles-->
  <div class="portfolio-title">
    Learning Portfolio
  </div>
  <div class="overview-title">
    Total Learning Overview
  </div>
  <div class="courses-title">
    Learnbox Courses
  </div>

  <!--courses-->
  <div fxLayout="column" *ngIf="courses">

    <ng-container *ngFor="let course of courses; let i = index;">

      <!--course title-->
      <div fxLayout="row"
           fxLayoutAlign="space-between center"
           class="courses-data-mobile margin-top-bottom-20">
        <div class="text-transform-uppercase">
          {{course.courseName}}
        </div>
        <div *ngIf="isOpenCourse[i]" (click)="closeCourse(i)" class="blue-text cursor-pointer">
          Close Details
        </div>
        <div *ngIf="!isOpenCourse[i]" (click)="openCouse(i)" class="blue-text cursor-pointer">
          View Details
        </div>
      </div>

      <!--open course-->
      <div fxLayout="column" *ngIf="isOpenCourse[i]" [@shrinkOut]="'in'" [@shrinkIn]="'out'">

        <!--date-->
        <div fxLayout="row" class="margin-top-15">
          <div fxFlex="50" class="courses-head-mobile">
            Date
          </div>
          <div fxFlex="50" class="courses-data-mobile">
            {{course.startTime | date:'dd MMMM y'}}
          </div>
        </div>

        <!--progress-->
        <div fxLayout="row" fxLayoutAlign="start center" class="margin-top-15">
          <div fxFlex="50" class="courses-head-mobile">
            Progress (%)
          </div>
          <div fxFlex="50" class="courses-data-mobile">
            <progress-bar [value]="course.progress" [color]="'green'"
                          [type]="'smaller'"></progress-bar>
          </div>
        </div>

        <!--tutor-->
        <div fxLayout="row" class="margin-top-15">
          <div fxFlex="50" class="courses-head-mobile">
            Tutor
          </div>
          <div fxFlex="50" class="courses-data-mobile text-transform-uppercase">
            {{course.tutorName}}
          </div>
        </div>

        <!--pass fail-->
        <div fxLayout="row" class="margin-top-15">
          <div fxFlex="50" class="courses-head-mobile">
            Pass / Fail / Reset
          </div>
          <div fxFlex="50" class="courses-data-mobile text-transform-uppercase">
            <div (click)="resetCourse(course)" title="Click to reset course progress">
              <div *ngIf="course.status === 'PASS'" class="status-true"></div>
              <div *ngIf="course.status === 'FAIL'" class="status-false"></div>
              <div *ngIf="course.status === 'ACTIVE'" class="status-progress"></div>
            </div>
          </div>
        </div>

        <!--view summary-->
        <button class="course-view-summary text-transform-uppercase margin-top-bottom-20"
                (click)="redirectToCourseOverview(course)">
          view summary
        </button>
      </div>
      <div class="bottom-border"></div>
    </ng-container>

  </div>

  <div class="qualifications-title">
    Other Qualifications
  </div>

  <div fxLayout="column" *ngIf="qualifications">

    <ng-container *ngFor="let qualification of qualifications; let i = index;">

      <!--qualification title-->
      <div fxLayout="row"
           fxLayoutAlign="space-between center"
           class="qualification-data-mobile margin-top-bottom-20">
        <div>
          {{qualification.qualificationTitle}}
        </div>
        <div *ngIf="isOpenQualification[i]" (click)="closeQualification(i)" class="blue-text">
          Close Details
        </div>
        <div *ngIf="!isOpenQualification[i]" (click)="openQualification(i)" class="blue-text">
          View Details
        </div>
      </div>

      <!--open course-->
      <div fxLayout="column" *ngIf="isOpenQualification[i]" [@shrinkOut]="'in'" [@shrinkIn]="'out'">

        <!--Date Received-->
        <div fxLayout="row" class="margin-top-15">
          <div fxFlex="50" class="qualification-head-mobile">
            Date Received
          </div>
          <div fxFlex="50" class="qualification-data-mobile">
            {{qualification.dateReceived | date:'dd MMMM y'}}
          </div>
        </div>

        <!--verified-->
        <div fxLayout="row" fxLayoutAlign="start center" class="margin-top-15">
          <div fxFlex="50" class="qualification-head-mobile">
            Verified
          </div>
          <div fxFlex="50" class="qualification-head-mobile">
            <md-icon class="checkMark" fxlayout="row"
                     fxLayoutAlign="center center"
                     *ngIf="qualification.verified === true">
              check
            </md-icon>
            <md-icon class="crossMark" fxlayout="row"
                     fxLayoutAlign="center center"
                     *ngIf="qualification.verified === false">
              close
            </md-icon>
            <div *ngIf="qualification.verified === null">N/A</div>
          </div>
        </div>

        <!--tutor-->
        <div fxLayout="row" class="margin-top-15">
          <div fxFlex="50" class="qualification-head-mobile">
            Tutor
          </div>
          <div fxFlex="50" class="qualification-data-mobile text-transform-uppercase">
            {{qualification.tutorName}}
          </div>
        </div>

        <!--grade-->
        <div fxLayout="row" class="margin-top-bottom-20">
          <div fxFlex="50" class="qualification-head-mobile">
            Grade
          </div>
          <div fxFlex="50" class="qualification-data-mobile text-transform-uppercase">
            <div [ngClass]="{'green-font': qualification.grade != 'NON_GRADE'}">
              <div *ngIf="qualification.grade === 'NON_GRADE'">N/A</div>
              <div *ngIf="qualification.grade !== 'NON_GRADE'">{{qualification.grade}}</div>
            </div>
          </div>
        </div>

      </div>
      <div class="bottom-border"></div>
    </ng-container>
  </div>


</div>


