<div id="controllerr" #controllerRadio [hidden]="ishidden">
  <h3 class="h1">{{panelName}}</h3>
  <div id="itemsContainerrr" *ngIf="dataToShow.length > 0">
    <div class="itemContr">
      <!--<div class="checkbox brown">-->
      <!--<label>-->
      <!--<input type="checkbox" [(ngModel)]="item.checked" (change)="changedSomething(dataToShow)"><span class="checkbox-material ">-->
      <!--<span class="check"></span></span>-->
      <!--<input (input)="changedSomething(dataToShow)" [(ngModel)]="item.value" class="checkInput">-->
      <!--</label>-->
      <!--</div>-->
      <div class="radio-group">
        <div *ngFor="let item of dataToShow; let i = index">
          <label for="id{{i}}">
            <input id="id{{i}}" class="prvyinput" type="checkbox" name="g1" [(ngModel)]="item.checked"
                   (change)="changedSomething(dataToShow, i)"/>
            <span>
              <input class="druhyInput" (input)="changedSomething(dataToShow, null)" [(ngModel)]="item.value">
            </span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <h4 class="fakeadd" (click)="addAnswer()">Add radio answer</h4>
</div>
