#controllerr{
  width: 250px;
  height: 350px;
  background: white;
  position: absolute;
  top:140px;
  left: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  z-index: 100;
  .h1{
    width:100%;
    text-align: center;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0px 3px 3px rgba(0, 0, 0, 0.24);
    padding:10px 15px;
    cursor: move;
    background-color: #795548;
    color: white;
  }
  .fakeadd{
    text-align: center;
    cursor: pointer;
    color:  #795548;
    padding: 10px 15px;
    &:hover{
      background: rgba(0,0,0,.1);
    }
  }

}

.controller-input{
    width: 85%;
    border: none;
}
.coloredIndex{
  color: #4e4e4e;
}
.oneItem{
  input{
    color: #797979;

  }
  .answer{
    background: none;
    border: none;
    padding: 5px 15px;
    color: #3f3f3f;

  }
}
#itemsContainerrr{
  max-height: calc(100% - 113px);
  overflow-y: auto;
}
.itemContr{

  padding: 10px;
  div{
    padding:5px 5px;
  }
}

$accent-color: #795548;
.radio-group {
  display: flex;
  flex-direction: column;

  &.vertical {
    flex-direction: column;

    label {
      margin: 0 0 8px 0;
    }
  }

  label {
    margin: 0 8px 0 0;
    cursor: pointer;
  }
  .prvyinput {
    &[type="checkbox"] {
      display: none;
      &:checked + span {
        &:before {
          background-color: $accent-color;
          box-shadow: inset white 0 0 0 2px;
          margin: 0 10px 0 0px;

        }
      }
    }
  }
  span {
    display: flex;
    &:before {
      border: 2px solid $accent-color;
      content: '';
      display: flex;
      height: 16px;
      width: 16px;
      margin: 0 10px 0 0px;
      border-radius: 50%;
      box-sizing: border-box;
      transition: all ease .200s;
      box-shadow: inset white 0 0 0 10px;
    }
  }
  .druhyInput{
    background: transparent;
    border: none;
    width: 100%;
  }
}
