.content-container-dashboard-item {
  letter-spacing: 4px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-size {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.astext {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
  text-align: left;
}

