<app-top-bar [nav]="end" [type]="'tutor'" (chatOpenEmitter)="toggleChat(true)"></app-top-bar>
<md-sidenav-layout class="colors-for-content">
  <md-sidenav #end align="end" mode="push">
    <app-dashboard [nav]="end" [type]="'tutor'"></app-dashboard>
  </md-sidenav>
  <div class="tutor-background">
    <div class="tutor-container fixed-top margin-top-15">
      <div class="learnbox-container">
        <div fxFlexFill *ngIf="router.isActive('/tutor', true)">
          <div class="welcome-box">
            <div class="welcome-message" fxLayoutAlign="left center"> Welcome back Matt Everest! Get started by
              selecting a task...
            </div>
          </div>
        </div>
        <div fxLayout="row" class="tutor-navigation" fxLayoutGap="27px">
          <div fxFlex="25" class="navigation-box">
            <black-button [icon]="'person_add'" [text]="'Learner Admin'"
                          [active]="router.isActive('/tutor/admin', false)" routerLink="/tutor/admin/add-learner"></black-button>
          </div>
          <div fxFlex="25" class="navigation-box">
            <black-button [icon]="'assignment'" [text]="'Class Setup / Enrolment'"
                          [active]="router.isActive('/tutor/class-setup', false)" routerLink="/tutor/class-setup"></black-button>
          </div>
          <div fxFlex="25" class="navigation-box">
            <black-button [icon]="'data_usage'" [text]="'Progress'" [active]="router.isActive('/tutor/progress', false)" routerLink="/tutor/progress/class-learner-progress"></black-button>
          </div>
          <div fxFlex="25" class="navigation-box">
            <black-button [icon]="'play_circle_outline'" [text]="'Review'" [active]="false"></black-button>
          </div>
        </div>
      </div>
    </div>
    <div class="tutor-container content-margin" [ngClass]="{'smaller-margin': !router.isActive('/tutor', true)}">
      <div class="learnbox-container" >
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</md-sidenav-layout>
<chat [shown]="chatOpened" [isStudent]="false" (closeChatEmitter)="toggleChat(false)"></chat>
