.tutor-progress-global-styles{
  .blue-button {
    position: absolute!important;
    right: 7%!important;
    bottom: 15%!important;
    height: 40px!important;
    width: 167px!important;
    font-family: Montserrat!important;
    font-size: 14px!important;
    font-weight: normal!important;
    font-style: normal!important;
    font-stretch: normal!important;
    line-height: normal!important;
    letter-spacing: 2.7px!important;
    text-align: center!important;
    color: #ffffff!important;
    background-color: #4286f4!important;
    font-family: ChivoLight;
  }
}
