.grey-container{
    background-color: #212121;
    color: #fff;
    padding: 40px;
    margin-bottom: 20px;
    font-family: 'Chivo', sans-serif;
}

.green-container {
    background-color: #00897B;
    color: #fff;
    padding: 30px;
    margin-bottom: 20px;
    font-family: 'Chivo', sans-serif;
}