.admin-navigation{
  height: 170px;
}

.section-title-underlined{
  font-size: 18px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 300;
}

.tips{
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  /* TODO check if bottom border really should be here */
  /*border-bottom: 1px solid rgba(255, 255, 255, 0.2);*/
  padding-bottom: 15px;
}

.green-container{
  background-color: #00897B;
  color: #fff;
  padding: 30px;
  margin-bottom: 20px;
  font-family: 'Chivo', sans-serif;
}

.grey-container{
  background-color: #212121;
  color: #fff;
  padding: 35px;
  margin-bottom: 20px;
}