<div fxLayout="row" fxLayoutGap="20px">
  <div class="grey-container" fxFlex="65">
    <div fxLayout="row" fxLayoutGap="24px">
      <div fxFlex="33" class="admin-navigation">
        <black-button [icon]="'person_add'" [text]="'Add Learners'"
                      [active]="router.isActive('/tutor/admin/add-learner', true)"
                      routerLink="/tutor/admin/add-learner"></black-button>
      </div>
      <div fxFlex="33" class="admin-navigation">
        <black-button [icon]="'person_add'" [text]="'Actions Required'"
                      [active]="router.isActive('/tutor/admin/actions-required', true) || router.isActive('/tutor/admin/evidence',true)"
                      routerLink="/tutor/admin/actions-required"></black-button>
      </div>
      <div fxFlex="33" class="admin-navigation">
        <black-button [icon]="'person_add'" [text]="'Learner Overview'"
                      [active]="router.isActive('/tutor/admin/learner-overview', true)"
                      routerLink="/tutor/admin/learner-overview"></black-button>
      </div>
    </div>
  </div>
  <div class="green-container" fxFlex="35" >
    <div [hidden]="router.isActive('/tutor/admin/add-learner', true)">
      <div class="section-title-underlined">
        Tips
      </div>
      <div class="tips">
        <div *ngIf="router.isActive('/tutor/admin/actions-required', true)">
          &#9679;  Use the “Actions required” button to access your learners quiz activity and mark submitted evidence
        </div>
        <div *ngIf="router.isActive('/tutor/admin/learner-overview', true)">
          &#9679;  Select learners from the list below to find out more about their learning history
        </div>
        <div *ngIf="!router.isActive('/tutor/admin/actions-required', true) && !router.isActive('/tutor/admin/learner-overview', true)">
          &#9679;  Add learners, either as individuals or in bulk via a list in CSV form<br>
          &#9679;  Adding a group of learners via CSV will automatically form a class<br>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
