<div id="evidence-container">
  <span class="fs20">
  <div class="inline blue">{{name}}</div>
  <div class="inline white"> Non Online Learning</div>
    </span>
  <div class="table-evidence">
    <div class="header" fxLayout="row">
      <div fxFlex="27">Content</div>
      <div fxFlex="29">Date</div>
      <div fxFlex="31">Tutor</div>
      <div fxFlex="13">Status</div>
    </div>
    <div class="table-evidence-body">
      <div class="custom-checkbox" fxLayout="row" *ngFor="let item of mock">
        <div fxFlex="27">{{item.content}}</div>
        <div fxFlex="29"><input type="date" class="date"></div>
        <div fxFlex="31">
          <md-select placeholder="Select Tutor">
            <md-option *ngFor="let tutor of tutors" [value]="tutor">{{ tutor }}</md-option>
          </md-select>
        </div>
        <div fxFlex="13"> <div>
          <md-checkbox [(ngModel)]="item.status1">Pass</md-checkbox>
        </div>
          <div class="margin-top-20">
            <md-checkbox [(ngModel)]="item.status2" >Fail</md-checkbox>
          </div>
          <div class="resubmit">Re-submit</div></div>
      </div>

    </div>
  </div>

  <span class="fs20">
  <div class="inline blue">{{name}}</div>
  <div class="inline white">Submitted Evidence</div>
    </span>
  <div class="table-evidence no">
    <div class="header" fxLayout="row">
      <div fxFlex="27">Content</div>
      <div fxFlex="29">Date</div>
      <div fxFlex="31">Tutor</div>
      <div fxFlex="13">Status</div>
    </div>
    <div class="table-evidence-body">


      <div class="custom-checkbox" fxLayout="row"  *ngFor="let item of evidence;let i = index ">
        <div fxFlex="27">
          <div fxLayout="column">
            <div><span class="evspan">Submitted Evidence</span><br/>{{item.content}}</div>
            <div class="mt15"><span class="evspan ">File Name</span><br/>{{item.fileName}}</div>
            <div>
              <div class="down_icon">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 0h24v24H0z" fill="none"/>
                  <path d="M9 16h6v-6h4l-7-7-7 7h4zm-4 2h14v2H5z"/>
                </svg>
              </div>
              <div class="ib"><a
                [attr.href]="item.downloadSource">View
                submitted evidence</a></div>
            </div>
          </div>
        </div>
        <div fxFlex="29"><input type="date" class="date"></div>
        <div fxFlex="31">
          <md-select placeholder="Select Tutor">
            <md-option *ngFor="let tutor of tutors" [value]="tutor">{{ tutor }}</md-option>
          </md-select>
        </div>
        <div fxFlex="13">
          <div>
            <md-checkbox [(ngModel)]="item.status1" (click)="submitEvidence(true, item)">Pass</md-checkbox>
          </div>
          <div class="margin-top-20">
            <md-checkbox [(ngModel)]="item.status2" (click)="submitEvidence(false, item)">Fail</md-checkbox>
          </div>
          <div class="resubmit" (click)="retakeEvidence(item)">Re-submit</div>
        </div>
      </div>

    </div>
  </div>
</div>

