#evidence-container{
  background: #212121;
  padding: 55px 49px;
  font-family: ChivoLight;
  .inline{
    display: inline;
  }
  .blue{
    color: #326afb;
  }
  .white{
    color: #fff;
  }
  .fs20{
    font-size: 20px;
    font-family: ChivoLight;
  }
  .table-evidence{
    border-top: 2px solid #9b9b9b;
    margin-top: 37px;
    margin-bottom: 37px ;


    .header{
      height: 200px;
      color: #757575;
      padding-top: 30px;
      padding-bottom: 19px;
      font-size: 15px;
      height: 70px;
      div{
        padding-left: 5px;
      }
    }
    .table-evidence-body{
      border-top: 1px solid #9b9b9b;
      min-height: 50px;
      color: white;
      padding-top: 31px;
      .custom-checkbox {
        height: 150px;
        .date{
          background: transparent;
          border: 1px solid white;
          width: 150px;
          height: 40px;
          text-align: center;
          line-height: 40px;
          outline: none;
        }

      }
    }
  }

  md-select{
    color: white;
    width: 250px;
    height: 40px;
    background: white;
  }
  .evspan{
    color: #898989;
  }
  .mt15{
    margin-top: 15px;
    margin-bottom: 25px;
  }
  .down_icon{
    width: 26px;
    height: 20px;
    background: #3f83fc;
    border-radius: 3px;
    position: relative;
    display: inline-block;
    vertical-align: top;

    svg{
      fill:#212121;
      width: 17px;
      position: absolute;
      left: 5px;
      top: 2px;
    }

  }
  .ib{
    display: inline-block;
    width: 172px;
    vertical-align: top;
    margin-left: 10px;
    line-height: 22px;
  }
  a{
    font-family: ChivoLight;
  }
  .no{
    border-bottom: 0px solid #9b9b9b!important;
  }
  .resubmit{
    width: 167px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #111111;
    color: white;
    margin-top: 25px;
    &:hover{
      background: #424242;
      cursor: pointer;
    }
  }
.custom-checkbox {
  margin-bottom: 20px;
}
}
