<div class="center-login">
  <div class="login">

    <!--Header = title-->
    <div class="login-title">
      <p>LOGIN TO GET STARTED</p>
    </div>

    <!--Body = login forms and button-->
    <div class="login-body center-block">
      <div style="margin-top: 85px">
        <bordered-input #username [placeholder]="'Email address'" [(name)]="userMail" [inputType]="'email'" (keyup.enter)="goToPassword()" (keyup.arrowdown)="goToPassword()"></bordered-input>
      </div>
      <div style="margin-top: 39px">
        <bordered-input #password [placeholder]="'Password'" [(name)]="userPswd" [inputType]="'password'" (keyup.enter)="login(userMail, userPswd)" (keyup.arrowup)="goToUsername()"></bordered-input>
      </div>
      <div *ngIf="error" class="login-error">
        <p>{{error}}</p>
      </div>
      <div class="center-block" style="margin-top: 39px; text-align: center">
        <blue-button [buttonTitle]="'LOGIN'" [isLoading]=isLogging (click)="login(userMail, userPswd)"></blue-button>
      </div>
    </div>

    <!--Footer = link for reset password-->
    <div class="login-footer" style="margin-top: 83px; text-align: center">
      <p>Forgot your password?</p>
      <a routerLink="/resetPassword">Click here</a>
    </div>

  </div>
</div>
