@import url(https://fonts.googleapis.com/css?family=Montserrat);

p, a {
  height: 17px;
  object-fit: contain;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.7;
  letter-spacing: 2.2px;
  text-align: center;
}

a{
  color: #3f83fc;
}

.login-title p {
  height: 19px;
  font-size: 16px;
  letter-spacing: 3.6px;
  padding-top: 36px;
}

.login {
  color: #333;
  width: 487px;
  height: 487px;
  background-color: #d8d8d8;
  border: solid 1px #979797;
}

.center-login{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-login {
  height:auto;
}
@media screen and (min-height: 500px) {
  .center-login {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.login-body{
  width: 250px;
}

.login-error p {
  color: #ff584d;
  padding-top: 17px;
}


