<md-sidenav-layout class="colors-for-content">
  <md-sidenav #end align="end" mode="push">
    <app-dashboard [nav]="end" [type]="'examiner'"></app-dashboard>
  </md-sidenav>
  <div class="examiner-background">
    <app-top-bar [nav]="end" [type]="'examiner'"></app-top-bar>
    <div class="examiner-container fixed-top margin-top-15">
      <div class="learnbox-container">
        <div fxFlexFill *ngIf="router.isActive('/examiner/dashboard', true)">
          <div class="welcome-box">
            <div class="welcome-message" fxLayoutAlign="left center"> Welcome back Matt Everest! Get started by
              selecting a task...
            </div>
          </div>
        </div>
        <div fxLayout="row" class="examiner-navigation" fxLayoutGap="27px">
          <div fxFlex="50" class="navigation-box">
            <black-button [icon]="'data_usage'" [class_]="'style2'" [text]="'Progress'" [active]="router.isActive('/examiner/progress', false)" routerLink="/examiner/progress/class-learner-progress"></black-button>
          </div>
          <div fxFlex="50" class="navigation-box">
            <black-button [icon]="'play_circle_outline'" [class_]="'style2'" [text]="'Review'" [active]="false"></black-button>
          </div>
        </div>
      </div>
    </div>
    <div class="examiner-container content-margin" [ngClass]="{'smaller-margin': !router.isActive('/examiner/dashboard', true)}">
      <div class="learnbox-container" >
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</md-sidenav-layout>
