.size-color {
  max-width: 624px;
  background-color: #212121;
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 15px;
  margin: 0 20px;
}

.picture-size-color {
  max-width: 263px;
}

.image-size {
  width: 100%;
}

.file-upload-size {
  width: 81px;
  height: 81px;
}

.spot-quiz-size {
  width: 120px;
  height: 40px;
}

.quiz-file-upload-container {
  width: 263px;
  height: 147px;
  background-color: rgba(0, 0, 0, 0.8);
}

.progress-circle-size {
  width: 130px;
}

.progress-bar-size {
  width: 100%;
  fill: #ffffff;
}

.tutorial-name-status-size {
  font-size: 16px;
}

.grey-text {
  color: #9b9b9b;
}

.green-text {
  color: #8bc34a;
}

.red-text{
  color: #fc3f3d;
}

.bottom-border-white {
  border-bottom: solid 1px #424242;
}

.content-text-size-margin-top {
  margin-top: 20px;
  font-size: 13px;
}

.padding-left-right {
  padding: 20px 30px;
}

.file-name {
  background-color: #FFFFFF;
  color: #9b9b9b;
  padding : 10px;
  margin: 15px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 3px;
}

.replace-file-font-size {
  font-size: 13px;
}

.icon-size {
  font-size: 15px;
}
