<div fxLayout="column" class="size-color">
  <div fxFlex="10" fxLayout="row" fxLayoutAlign="space-between center" class="tutorial-name-status-size padding-left-right bottom-border-white">
    <div>{{moduleOrder | number:'2.0-0'}}.{{tutorialOrder}} {{tutorial.name}}</div>
    <div>
      <span class="grey-text">Status: </span>
      <span *ngIf="tutorial.status === 'PASS'" class="green-text">Passed</span>
      <span *ngIf="tutorial.status === 'FAIL'" class="red-text">Failed</span>
      <span *ngIf="tutorial.status === 'ACTIVE'" class="green-text">Active</span>
      <span *ngIf="tutorial.status === 'UNAVAILABLE'">N/A</span>
    </div>
  </div>
  <div fxFlex="6"></div>
  <div fxFlex="28" fxLayout="row" fxLayoutAlign="space-between start" class="padding-left-right">
    <div fxFlex="48" fxLayoutAlign="center center" [ngSwitch]="tutorial['@type']">
      <div *ngSwitchCase="'VIDEO'">
        <img class="image-size" [src]="tutorial.thumbnailUrl"/>
      </div>
      <div *ngSwitchCase="'EVIDENCE'" fxLayoutAlign="center center" class="quiz-file-upload-container">
        <img class="file-upload-size" src="../../../assets/file-upload-dw.png"/>
      </div>
      <div *ngSwitchCase="'QUIZ'" fxLayoutAlign="center center" class="quiz-file-upload-container">
        <img class="spot-quiz-size" src="../../../assets/spot-quiz-logo-dw.png"/>
      </div>
    </div>

    <!--information about tutorial-->
    <div fxFlex="48" [ngSwitch]="tutorial['@type']" fxLayout="column">
      <div *ngSwitchCase="'VIDEO'">
        <div><span class="grey-text">Tutor:</span> {{tutorial.tutor}}</div>
        <div><span class="grey-text">Date:</span> <span *ngIf="tutorial.startTime">{{tutorial.startTime | date:'d MMMM y'}}</span><span *ngIf="!tutorial.startTime">N/A</span></div>
      </div>
      <div *ngSwitchCase="'EVIDENCE'">
        <div><span class="grey-text">Tutor:</span> {{tutorial.tutor}}</div>
        <div><span class="grey-text">Date:</span> <span *ngIf="tutorial.startTime">{{tutorial.startTime | date:'d MMMM y'}}</span><span *ngIf="!tutorial.startTime">N/A</span></div>
        <div class="file-name">{{tutorial.fileName}}</div>
        <div class="red-text replace-file-font-size" fxLayout="row" >
          <md-icon class="icon-size">error</md-icon>
          <div>REPLACE FILE</div>
        </div>
      </div>
      <div *ngSwitchCase="'QUIZ'">
        <div><span class="grey-text">Date:</span> {{tutorial.date | date:'d MMMM y'}}</div>
        <div><span class="grey-text">Time:</span> <span *ngIf="tutorial.startTime">{{tutorial.startTime}}</span><span *ngIf="!tutorial.startTime">N/A</span></div>
        <div><span class="grey-text">Attempts:</span> {{tutorial.attempts}}</div>
      </div>
    </div>
  </div>

  <!-- Assessment Criteria and Learning Outcome-->
  <div fxFlex="28" fxLayout="row" fxLayoutAlign="space-between start" class="padding-left-right">

    <!-- Assessment Criteria -->
    <div fxFlex="48" fxLayout="column">
      <div *ngIf="tutorial.name !== 'Risk assessment'">
        <div>Assessment Criteria</div>
      </div>
      <div *ngIf="tutorial.name === 'Risk assessment'">
        <div>Learning Criteria</div>
      </div>
      <div fxFlex class="content-text-size-margin-top">
        <div *ngIf="tutorial.name !== 'Risk assessment'">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a libero neque. Aliquam quis neque et urna tincidunt mattis at id urna. Etiam mattis nibh odio, eget accumsan urna rutrum ac.
        </div>
        <div *ngIf="tutorial.name === 'Risk assessment'">
          Course standard for processes used across automotive production and implementation.
        </div>
      </div>
    </div>

    <!-- Learning Outcome -->
    <div fxFlex="48" fxLayout="column">
      <div>Learning Outcome</div>
      <div class="content-text-size-margin-top">
        <div *ngIf="tutorial.name !== 'Risk assessment'">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a libero neque. Aliquam quis neque et urna tincidunt mattis at id urna. Etiam mattis nibh odio, eget accumsan urna rutrum ac.
        </div>
        <div *ngIf="tutorial.name === 'Risk assessment'">
          Learner to be able to answer series of questions demonstrating understanding of how to carry out tests and checks. Learner to be able to answer questions demonstrating how to use findings of tests and checks to assess risks in production and manufacture.
        </div>
      </div>
    </div>
  </div>

  <!-- progress bars -->
  <div fxFlex="28" fxLayout="row" fxLayoutAlign="space-around center" *ngIf="tutorial['@type'] === 'QUIZ'" class="padding-left-right">
    <div class="progress-circle-size">
      <progrees-bar-circle #progressCircle [progressType]="'percent'" [actualValue]="tutorial.earnScorePercent"></progrees-bar-circle>
    </div>
    <div class="progress-bar-size">
      <app-progress-bar [status]="tutorial.earnScorePercent" [pass]="tutorial.passMark"></app-progress-bar>
    </div>
  </div>
</div>
