.grey-container{
  background-color: #212121;
  color: #fff;
  padding: 40px;
  margin-bottom: 20px;
  font-family: 'Chivo', sans-serif;
}

.section-title-underlined{
  font-size: 15px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 300;
}

.setup-label{
  line-height: 40px;
  font-size: 13px;
}

.name-input{
  width: 80% !important;
}

.quick-tip{
  line-height: 40px;
  font-weight: 300;
}

.quick-tip a{
  color: #9b9b9b;
}

.divider{
  padding-bottom: 10px;
  padding-top: 5px;
  border-bottom: 1px solid #6d757b;
}

.submit-outside-form{
  margin-top: -40px;
}

.border-bottom{
  border-bottom: 1px solid #6d757b;
}

.inputFile{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputFile + label{
  width: 180px;
  height: 40px;
  background-color: #000;
  text-align: center;
  padding-top: 11px;
  font-family: 'Chivo', sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}

.multiple-title{
  height: 70px;
  background-color: #424242;
  margin: 40px -40px 0;
  padding: 40px 0 0 40px;
  font-size: 18px;
}

.class-section{
  height: 85px;
  line-height: 85px;
  border-top: 1px solid #6d757b;
  border-bottom: 1px solid #6d757b;
  margin-top: 15px;
}

.class-name{
  float: left;
  margin-right: 40px;
}

.multiple-learners{
  width: 100%;
  padding-top: 1px;
}

.single-learner{
  width: 47%;
  float: left;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #6d757b;
}

.single-learner:nth-child(odd){
  float: left;
}

.single-learner:nth-child(even){
  float: right;
}

.edit-single-learner{
  float: right;
  color: #3f83fc;
}

.save-button{
  margin-top: 20px;
  float: right;
}

.user-list{
  margin-top: -10px;
}

.move-to-top{
  margin-top: -260px;
  height: 770px;
}

.section-title-underlined{
  font-size: 18px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 300;
}

.tips{
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 15px;
  margin-bottom: 15px;
}
