<div fxLayout="row" fxLayoutGap="20px">
    <div class="grey-container" fxFlex="65">
        <div class="section-title-underlined">
            Learner Information
        </div>
        <form (ngSubmit)="inviteStudent($event)">
            <div fxLayout="row" class="margin-top-30">
                <div fxFlex="20">
                    <div class="setup-label margin-bottom-20">
                        Name
                    </div>
                    <div class="setup-label margin-bottom-20">
                        Company
                    </div>
                    <div class="setup-label margin-bottom-20">
                        Birthday
                    </div>
                </div>
                <div fxFlex="80">
                    <div class="form-group">
                        <div class="learnbox-learner-input name-input margin-bottom-20">
                            <input type="text"
                                   placeholder="Alex Humphries"
                                   required
                                   [(ngModel)]="addLearner.name"
                                   name="addLearnerName">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="learnbox-input margin-bottom-20">
                            <input type="text"
                                   placeholder="Auto Consulting"
                                   [(ngModel)]="addLearner.company"
                                   name="addLearnerCompany">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="learnbox-input margin-bottom-20">
                          <input type="date" class="date"
                                 [(ngModel)]="addLearner.birthday"
                                 name="addLearnerBirthday">
                        </div>
                    </div>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="20">
                    <div class="setup-label margin-bottom-20">
                        Gender<br>
                    </div>
                </div>
                <div fxFlex="80">
                    <div class="form-group custom-radio">
                      <md-radio-group [(ngModel)]="addLearner.genderType" [ngModelOptions]="{standalone: true}">
                        <div class="add-learner-label">
                          <md-radio-button [value]="'MALE'" name="addLearnerGender1">Male</md-radio-button>
                        </div>
                        <div class="add-learner-label">
                          <md-radio-button [value]="'FEMALE'" name="addLearnerGender2">Female</md-radio-button>
                        </div>
                        <div class="add-learner-label">
                          <md-radio-button [value]="'UNDEFINED'" name="addLearnerGender3">Decline to state</md-radio-button>
                        </div>
                      </md-radio-group>
                    </div>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="20">
                    <div class="setup-label margin-bottom-20">
                        Address
                    </div>
                </div>
                <div fxFlex="80">
                    <div class="form-group">
                        <div class="learnbox-input">
                          <div>
                            <input type="text"
                                   placeholder="Address line 1"
                                   [(ngModel)]="addLearner.street"
                                   name="addLearnerStreet">
                          </div>
                          <div>
                            <input type="text"
                                   placeholder="Town / City"
                                   [(ngModel)]="addLearner.city"
                                   name="addLearnerCity">
                          </div>
                          <div>
                            <input type="text"
                                   placeholder="Post code"
                                   [(ngModel)]="addLearner.zipCode"
                                   name="addLearnerZipCode">
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="20">
                    <div class="setup-label margin-bottom-20">
                        Email
                    </div>
                    <div class="setup-label margin-bottom-20">
                        Phone No.
                    </div>
                </div>
                <div fxFlex="80">
                    <div class="form-group">
                        <div class="learnbox-input margin-bottom-20">
                            <input type="text"
                                   placeholder="info@autoconsulting300.com"
                                   required
                                   [(ngModel)]="addLearner.email"
                                   name="addLearnerEmail">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="learnbox-input margin-bottom-20">
                            <input type="text"
                                   placeholder="0207 435 8736"
                                   [(ngModel)]="addLearner.phoneNumber"
                                   name="addLearnerPhoneNumber">
                        </div>
                    </div>
                </div>
            </div>
          <div fxLayout="row" fxLayoutGap="10px">
            <div fxFlex="25">
              <black-small-button [type]="'submit'" [text]="'+ ADD NEW'"></black-small-button>
            </div>
            <div fxFlex="75"></div>
          </div>
        </form>
      <div fxLayout="row" fxLayoutGap="10px" class="submit-outside-form">
        <div fxFlex="25"></div>
        <div fxFlex="25">
          <input type="file" (change)="inviteMultipleStudents($event)" placeholder="Upload-file" accept=".csv" #fileInput id="fileInput" class="inputFile">
          <label for="fileInput">+ add multiple</label>
        </div>
        <div fxFlex="50" class="quick-tip">
          Tip - Quick uploading using .CSV <a href="tutor/admin/add-learner">Download sample here</a>
        </div>
      </div>
      <div *ngIf="addMultiple">
        <div class="multiple-title">
          Multiple User Upload
        </div>
        <div class="class-section">
          <div class="class-name">
            Class name
          </div>
          <div class="learnbox-input margin-bottom-20">
            <input type="text"
                   placeholder="CLASS 01"
                   [(ngModel)]="multiple.className"
                   name="multipleClassName">
          </div>
        </div>
        <div class="multiple-learners">
          <div *ngFor="let learner of multiple.learners" class="single-learner">
            {{learner.name}}
            <span class="edit-single-learner">
              Edit
            </span>
          </div>
        </div>
        <div class="save-button" (click)="saveAndContinue()">
          <black-small-button [text]="'SAVE & CONTINUE'"></black-small-button>
        </div>
      </div>
    </div>
    <div fxFlex="35">
      <div class="grey-container move-to-top">
        <div class="section-title-underlined">
          Edit Existing Users
        </div>
        <div class="default-tabs divider">
          <md-tab-group [selectedIndex]="2" class="full-width-labels" (selectChange)="onTabClick($event)">
            <md-tab label="Examiner" fxFlex="33" (click)="showUsers('EXAMINER')"></md-tab>
            <md-tab label="Tutor" fxFlex="33" (click)="showUsers('TUTOR')"></md-tab>
            <md-tab label="Learner" fxFlex="33" (click)="showUsers('STUDENT')"></md-tab>
          </md-tab-group>
        </div>
        <div class="form-group border-bottom">
          <div class="learnbox-input margin-bottom-20 margin-top-20">
            <input class="full-width" type="text" placeholder="Search by name ...">
          </div>
        </div>
        <div class="table-container user-list">
          <infinity-scroll-table [tableType]="tableType" [role]="selectedRole" [requestOptions]="requestOptions" [tableData]="newLearners"></infinity-scroll-table>
        </div>
      </div>
      <app-grey-container [color]="'GREEN'">
        <div class="section-title-underlined">
          Tips
        </div>
        <div class="tips">
            &#9679;  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan libero eget mollis tincidunt.
        </div>
        <div class="tips">
          &#9679;  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan libero eget mollis tincidunt.
        </div>
        <div class="tips">
          &#9679;  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan libero eget mollis tincidunt.
        </div>
      </app-grey-container>
    </div>
</div>
