.custom-modal-container {
  height: 200px;
}

.custom-modal-header {
  background-color: #00897B;
  color: #fff;
  border-bottom: 1px solid rgba(0,0,0,0.5);
  font-family: 'Chivo', sans-serif;
  padding: 10px;
  font-size: 30px;
  margin-top: -1px;
}

.custom-modal-body{
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  font-family: 'Chivo', sans-serif;

}

.close-button{
  float: right;
  margin-right: 20px;
  background-color: #212121;
}
