.table-container{
  background-color: #212121;
  color: #fff;
  padding: 35px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.results{
  height: 500px;
  overflow-y: scroll;
  font-family: 'Chivo', sans-serif;
}

.higher-results{
  height: 700px;
}

.datatable-row{
  height: 50px;
  border-bottom: 1px solid #4F5458;
  line-height: 50px;
  margin-right: 15px;
}

.higher-row{
  height: 100px !important;
}

.datatable-head{
  line-height: 50px;
  border-bottom: 1px solid #4F5458;
  border-top: 1px solid #4F5458;
  margin-right: 15px;
  color: #9B9B9B;
  font-family: 'Chivo', sans-serif;
}

.messages, .name{
  color: #3F83FC;
  text-align: left;
  cursor: pointer;
}

.class-name, .marking, .normal-data{
  color: #fff;
  text-align: left;
}

.view-button{
  color: #9B9B9B;
  float: left;
  padding-left: 30px;
}

.view-button-blue{
  color: #3F83FC;
  float: right;
  cursor: pointer;
}

.marking-left{
  float: left;
}

.issues-left{
  float: left;
  padding-left: 30px;
}

.status{
  border-right: 1px solid #4F5458;
}

.status-true{
  width: 20px;
  height: 20px;
  background-color: #FF584D;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 15px;
}

.status-false{
  width: 20px;
  height: 20px;
  background-color: #545454;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 15px;
}

.red{
  color: #FF584D;
}

.message-icon{
  padding-top: 5px;
  margin-bottom: -5px;
}

.message-icon i {
  font-size: 19px;
}

.title{
  float: left;
}

.order{
  float: left;
  padding-top: 8px;
  padding-left: 5px;
  margin-bottom: -8px;
}

.average-progress{
  color: #8BC34A;
}

.average-score{
  color: #FFA726;
}

.progress-margin{
  margin-top: 24px;
  margin-bottom: 17px;
}

.student-row{
  height: 80px;
}

.expanded-students{
  margin-top: 35px;
  margin-bottom: 35px;
}

.student-progress-bar{
  margin-top: 20px;
  margin-bottom: 17px;
}

.course-img img{
  width: 81px;
  height: 30px;
}

.showbox{
  margin-top: 10px;
}

.add-learner-row{
  margin-right: 0 !important;
  height: 82px !important;
  line-height: 1.5 !important;
  padding-top: 18px;
}

.enrol-learner{
  text-align: right;
  color: #7aba3a;
}

.edit-learner{
  text-align: right;
  color: #3f83fc;
}

.expanded-tutor-row{
  height: 325px !important;
}

.bubble{
  height: 185px;
  border: solid 1px #979797;
  margin-top: 10px;
  padding: 20px;
  overflow-y: scroll;
}

.bubble-point{
  width: 8px;
  height: 8px;
  border-top: solid 1px #979797;
  border-right: solid 1px #979797;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  right: 42px;
  top: -4px;
  background-color: #212121;
}

.add-course-item{
  width: 33%;
  float: left;
  text-align: center;
}

.add-course-item img{
  width: 68px;
  height: 26px;
  margin-bottom: 30px;
}

.confirm-button{
  background: #000;
  margin-top: 15px;
}

.confirm-button button{
  margin: auto;
}
