<div class="datatable-head" [hidden]="tableType == 'add-user'">
  <div fxLayout="row" *ngIf="tableType == 'actions-required'">
    <div fxFlex="5" class="message-icon">
      <i class="material-icons">email</i>
    </div>
    <div fxFlex="15">
      <div (click)="sortOptions('name')" class="cursor-pointer">
        <div class="title">
          Name
        </div>
        <div class="order">
          <i *ngIf="requestOptions.name == null || requestOptions.name == 'asc'"
             class="material-icons">arrow_drop_down</i>
          <i *ngIf="requestOptions.name == 'desc'" class="material-icons">arrow_drop_up</i>
        </div>
      </div>
    </div>
    <div fxFlex="25">
      <div (click)="sortOptions('className')" class="cursor-pointer">
        <div class="title">
          Class name
        </div>
        <div class="order">
          <i *ngIf="requestOptions.className == null || requestOptions.className == 'asc'" class="material-icons">arrow_drop_down</i>
          <i *ngIf="requestOptions.className == 'desc'" class="material-icons">arrow_drop_up</i>
        </div>
      </div>
    </div>
    <div fxFlex="25">
      <div (click)="sortOptions('marking')" class="cursor-pointer">
        <div class="title">
          Marking Required
        </div>
        <div class="order">
          <i *ngIf="requestOptions.marking == null || requestOptions.marking == 'asc'" class="material-icons">arrow_drop_down</i>
          <i *ngIf="requestOptions.marking == 'desc'" class="material-icons">arrow_drop_up</i>
        </div>
      </div>
    </div>
    <div fxFlex="8" class="padding-left-10">
      <div (click)="sortOptions('status')" class="cursor-pointer">
        <div class="title">
          Status
        </div>
        <div class="order">
          <i *ngIf="requestOptions.status == null || requestOptions.status == 'asc'" class="material-icons">arrow_drop_down</i>
          <i *ngIf="requestOptions.status == 'desc'" class="material-icons">arrow_drop_up</i>
        </div>
      </div>
    </div>
    <div fxFlex="22" class="padding-left-30">
      <div (click)="sortOptions('issues')" class="cursor-pointer">
        <div class="title">
          Issues
        </div>
        <div class="order">
          <i *ngIf="requestOptions.issues == null || requestOptions.issues == 'asc'" class="material-icons">arrow_drop_down</i>
          <i *ngIf="requestOptions.issues == 'desc'" class="material-icons">arrow_drop_up</i>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" *ngIf="tableType == 'learner-overview'">
    <div fxFlex="20">
      <div (click)="sortOptions('name')" class="cursor-pointer">
        <div class="title">
          Name
        </div>
        <div class="order">
          <i *ngIf="requestOptions.name == null || requestOptions.name == 'asc'"
             class="material-icons">arrow_drop_down</i>
          <i *ngIf="requestOptions.name == 'desc'" class="material-icons">arrow_drop_up</i>
        </div>
      </div>
    </div>
    <div fxFlex="20">
      <div (click)="sortOptions('dateAdded')" class="cursor-pointer">
        <div class="title">
          Date Added
        </div>
        <div class="order">
          <i *ngIf="requestOptions.dateAdded == null || requestOptions.dateAdded == 'asc'" class="material-icons">arrow_drop_down</i>
          <i *ngIf="requestOptions.dateAdded == 'desc'" class="material-icons">arrow_drop_up</i>
        </div>
      </div>
    </div>
    <div fxFlex="20">
      <div (click)="sortOptions('course')" class="cursor-pointer">
        <div class="title">
          Course
        </div>
        <div class="order">
          <i *ngIf="requestOptions.course == null || requestOptions.course == 'asc'" class="material-icons">arrow_drop_down</i>
          <i *ngIf="requestOptions.course == 'desc'" class="material-icons">arrow_drop_up</i>
        </div>
      </div>
    </div>
    <div fxFlex="35">
      <div (click)="sortOptions('className')" class="cursor-pointer">
        <div class="title">
          Class name
        </div>
        <div class="order">
          <i *ngIf="requestOptions.className == null || requestOptions.className == 'asc'" class="material-icons">arrow_drop_down</i>
          <i *ngIf="requestOptions.className == 'desc'" class="material-icons">arrow_drop_up</i>
        </div>
      </div>
    </div>
    <div fxFlex="5" class="message-icon text-align-right">
      <i class="material-icons">email</i>
    </div>
  </div>
</div>
<div class="results" [ngClass]="{'higher-results': tableType == 'class-learner-progress'}"
     infinite-scroll
     [infiniteScrollDistance]="3"
     [infiniteScrollThrottle]="500"
     (scrolled)="onScroll()"
     [scrollWindow]="false">
  <div *ngFor="let action of tableData; let i = index" class="datatable-row"
       [ngClass]="{'higher-row': tableType == 'class-learner-progress' && !action.expanded,
                     'height-auto': action.expanded,
                     'add-learner-row': tableType == 'add-user',
                     'expanded-tutor-row': tableType === 'add-user' && (role === 'TUTOR' || role === 'EXAMINER') && expandedRow === i}">
    <div fxLayout="row" *ngIf="tableType == 'actions-required'">
      <div fxFlex="5" class="messages" (click)="routing('chat', action.name)">
        ({{action.messages}})
      </div>
      <div fxFlex="15" class="name" (click)="routing('evidence', action.uuid)">
        {{action.name}}
      </div>
      <div fxFlex="25" class="class-name">
        {{action.className}}
      </div>
      <div fxFlex="25" class="marking">
        <div class="marking-left">
          {{action.marking}}
        </div>
        <div class="view-button">
          View
        </div>
      </div>
      <div fxFlex="8" class="status">
        <div *ngIf="action.status">
          <div class="status-true"></div>
        </div>
        <div *ngIf="!action.status">
          <div class="status-false"></div>
        </div>
      </div>
      <div fxFlex="22" class="issues">
        <div class="issues-left" [ngClass]="{'red': action.issueSpecial}">
          {{action.issues}}
        </div>
        <div class="view-button-blue"
             (click)="routing('view_results', {userUuid: action.userUuid, enrollmentUuid: action.enrollmentUuid})">
          View
        </div>
      </div>
    </div>
    <div fxLayout="row" *ngIf="tableType == 'learner-overview'">
      <div fxFlex="20" class="name">
        {{action.name}}
      </div>
      <div fxFlex="20" class="normal-data">
        {{action.dateAdded}}
      </div>
      <div fxFlex="20" class="normal-data">
        <div *ngIf="action.course === 'maths'" class="course-img">
          <img src="../../../assets/maths-course.png">
        </div>
        <div *ngIf="action.course === 'english'" class="course-img">
          <img src="../../../assets/english-course.png">
        </div>
      </div>
      <div fxFlex="35" class="normal-data">
        {{action.className}}
      </div>
      <div fxFlex="5" class="text-align-right messages" (click)="routing('chat', action.name)">
        ({{action.messages}})
      </div>
    </div>
    <div fxLayout="row" *ngIf="tableType === 'add-user' && role === 'STUDENT'">
      <div fxFlex="70">
        {{action.name}}<br>
        {{action.company}}
      </div>
      <div fxFlex="15" class="edit-learner">
        <div>Edit</div>
      </div>
      <div fxFlex="15" class="enrol-learner">
        <div>Enrol</div>
      </div>
    </div>
    <div *ngIf="tableType === 'add-user' && (role === 'TUTOR' || role === 'EXAMINER')">
      <div fxLayout="row">
        <div fxFlex="60">
          {{action.name}}<br>
          <span [hidden]="i == expandedRow">
              {{action.company}}
            </span>
        </div>
        <div fxFlex="15">
          <div>Edit</div>
        </div>
        <div fxFlex="25">
          <div (click)="expandedRow == i ? expandedRow = null : expandedRow = i">Add Course</div>
        </div>
      </div>
      <div *ngIf="i == expandedRow" class="position-relative">
        <div class="bubble-point"></div>
        <div class="bubble">
          <div class="add-course-item">
            <img src="../../../assets/english.png">
          </div>
          <div class="add-course-item">
            <img src="../../../assets/english.png">
          </div>
          <div class="add-course-item">
            <img src="../../../assets/english.png">
          </div>
          <div class="add-course-item">
            <img src="../../../assets/english.png">
          </div>
          <div class="add-course-item">
            <img src="../../../assets/english.png">
          </div>
          <div class="add-course-item">
            <img src="../../../assets/english.png">
          </div>
          <div class="add-course-item">
            <img src="../../../assets/english.png">
          </div>
          <div class="add-course-item">
            <img src="../../../assets/english.png">
          </div>
          <div class="add-course-item">
            <img src="../../../assets/english.png">
          </div>
          <div class="add-course-item">
            <img src="../../../assets/english.png">
          </div>
          <div class="add-course-item">
            <img src="../../../assets/english.png">
          </div>
          <div class="add-course-item">
            <img src="../../../assets/english.png">
          </div>
          <div class="add-course-item">
            <img src="../../../assets/english.png">
          </div>

        </div>
        <div class="confirm-button">
          <black-full-width-button [height]="40" [text]="'CONFIRM & ADD COURSES'"></black-full-width-button>
        </div>
      </div>
    </div>
  </div>
  <loading [state]="loadingState"></loading>
</div>
