#editor-parent {
// ionic fix stuffs
.scroll-content{
  background: #e8e8e8;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}
//


.dnds{
  width:80%;
  margin:50px auto;
  .dnd1panel{
    min-height: 50px;
    //border: 2px solid #fafafa;

  }
  .value, .value1{
    margin: 10px;
    width: auto;
    display: inline-block;
    padding: 10px 15px 10px 15px;
    border: 1px solid #fafafa;
    &:hover{
      cursor: move;
    }
  }
  .value1{
    width: 80%;
    margin: 10px auto;
    display: block;
    div{
      width:85%;
      display:inline;
    }

  }
}
#lecture_player{
  margin-bottom: 15px;
  .dragFromBottomToText{
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
  }
  .secretInputFromWord, .dragFromBottomToText{
    margin: 10px!important;
    width: auto!important;
    display: inline!important;
    padding: 10px 15px 10px 15px!important;
    border: 1px solid #fafafa!important;
    border-radius: 0!important;
    background: transparent;
  }

}

.categoriesDiv{
  width: 100%;
  height: 500px;
  .draggables{
    width: 30%;
    display: inline-block;
    height:100%;
    vertical-align: top;
    .category-answer{
      width: 80%;
      text-align: center;
      margin: 15px auto;
      font-size: 24px;
      padding: 10px 15px 10px 15px;
      border: 1px solid #fafafa;
    }
  }
  .dragAreas{
    width: 70%;
    display: inline-block;
    //border-left: 2px solid #fafafa;
    height:100%;
    h1{
      position: absolute;
      top: -23%;
      width: 100%;
      text-align: center;
    }
    .category{
      width: 80%;
      margin: 6.73% auto;
      height: 35%;
      border: 2px solid #fafafa;
      position: relative;
      //overflow-y: scroll;

    }
  }
}

projection{
//checkbox
// checkbox design
  #checkboxContainer, #radioContainer{
    width: 550px;
    margin: 0 auto;
  }
.checkInput{
  width: 86%;
  border: none;
  outline: none;
  padding: 0px 14px!important;
  background: transparent!important;
  font-size: 17px!important;
}
// Checkbox variables
$checkbox-size: 20px;
$checkbox-animation-ripple: 700ms;
$checkbox-animation-check: 0.3s;
$lightbg-text: rgba(0,0,0,0.84);
$checked-colour: #ffa726;


.checkbox {
  margin: 5px auto;
  display: inline-block;
  padding: 10px 20px;
  transform: translateZ(0); // Force 3d rendering
  width: 100%;
  label {
    cursor: pointer;
    padding-left: 0; // Reset for Bootstrap rule
  }

  // Hide native checkbox
  input[type=checkbox] {
    opacity: 0;
    position: absolute;
    margin: 0;
    z-index: -1;
    width: 0;
    height: 0;
    overflow: hidden;
    left: 0;
    pointer-events: none;
  }

  .checkbox-material {
    vertical-align: middle;
    position: relative;
    top: 3px;
    &:before {
      position: absolute;
      left: 8px;
      top: 2px;
      content: "";
      background-color: rgba(0,0,0,0.5);
      height: 4px;
      width: 4px;
      border-radius: 100%;
      z-index: 1;
      opacity: 0;
      margin: 0;
      //transform: scale3d(2.3, 2.3, 1);
    }

    .check {
      position: relative;
      display: inline-block;
      width: $checkbox-size;
      height: $checkbox-size;
      border: 2px solid;
      border-radius: 2px;
      overflow: hidden;
      z-index: 1;
    }
    .check:before {
      position: absolute;
      content: "";
      transform: rotate(45deg);
      display: block;
      margin-top: -4px;
      margin-left: 6px;
      width: 0;
      height: 0;
      box-shadow:
        0 0 0 0,
        0 0 0 0,
        0 0 0 0,
        0 0 0 0,
        0 0 0 0,
        0 0 0 0,
        0 0 0 0 inset;
      animation: checkbox-off $checkbox-animation-check forwards ease-out;
    }
  }

  input[type=checkbox]:focus + .checkbox-material .check:after {
    opacity: 0.2;
  }
  input[type=checkbox]:checked + .checkbox-material .check:before {
    box-shadow:
      0 0 0 10px,
      10px -10px 0 10px,
      32px 0px 0 20px,
      0px 32px 0 20px,
      -5px 5px 0 10px,
      20px -12px 0 11px;
    animation: checkbox-on $checkbox-animation-check forwards ease-out;
  }

  input[type=checkbox]:not(:checked) + .checkbox-material:before {
    animation: rippleOff $checkbox-animation-ripple forwards ease-out;
  }
  input[type=checkbox]:checked + .checkbox-material:before {
    animation: rippleOn $checkbox-animation-ripple forwards ease-out;
  }

  // Ripple effect on click
  input[type=checkbox]:not(:checked) + .checkbox-material .check:after {
    animation: rippleOff $checkbox-animation-ripple forwards ease-out;
  }
  input[type=checkbox]:checked + .checkbox-material .check:after {
    animation: rippleOn $checkbox-animation-ripple forwards ease-out;
  }

  // Style for disabled inputs
  input[type=checkbox][disabled]:not(:checked) ~ .checkbox-material .check:before,
  input[type=checkbox][disabled] + .circle {
    opacity: 0.5;
  }
  input[type=checkbox][disabled] + .checkbox-material .check:after {
    background-color: $lightbg-text;
    transform: rotate(-45deg);
  }

}

// Coloured alternate styles
.brown {
  .checkbox-material {
    .check {
      color: $checked-colour;
    }
    &:before{
      background-color: $checked-colour;
    }
  }
  input[type=checkbox]:checked + .checkbox-material {
    .check {
      color: $checked-colour;
    }
  }
  input[type=checkbox]:not(:checked) + .checkbox-material {

  }
}

// Animations
@keyframes checkbox-on {
  0% {
    box-shadow:
      0 0 0 10px,
      10px -10px 0 10px,
      32px 0px 0 20px,
      0px 32px 0 20px,
      -5px 5px 0 10px,
      15px 2px 0 11px;
  }
  50% {
    box-shadow:
      0 0 0 10px,
      10px -10px 0 10px,
      32px 0px 0 20px,
      0px 32px 0 20px,
      -5px 5px 0 10px,
      20px 2px 0 11px;
  }
  100% {
    box-shadow:
      0 0 0 10px,
      10px -10px 0 10px,
      32px 0px 0 20px,
      0px 32px 0 20px,
      -5px 5px 0 10px,
      20px -12px 0 11px;
  }
}
@keyframes checkbox-off {
  0% {
    box-shadow:
      0 0 0 10px,
      10px -10px 0 10px,
      32px 0px 0 20px,
      0px 32px 0 20px,
      -5px 5px 0 10px,
      20px -12px 0 11px,
      0 0 0 0 inset;
  }

  25% {
    box-shadow:
      0 0 0 10px,
      10px -10px 0 10px,
      32px 0px 0 20px,
      0px 32px 0 20px,
      -5px 5px 0 10px,
      20px -12px 0 11px,
      0 0 0 0 inset;
  }
  50% {
    transform: rotate(45deg);
    margin-top: -4px;
    margin-left: 6px;
    width: 0px;
    height: 0px;
    box-shadow:
      0 0 0 10px,
      10px -10px 0 10px,
      32px 0px 0 20px,
      0px 32px 0 20px,
      -5px 5px 0 10px,
      15px 2px 0 11px,
      0 0 0 0 inset;
  }
  51% {
    transform: rotate(0deg);
    margin-top: -2px;
    margin-left: -2px;
    width: 20px;
    height: 20px;
    box-shadow:
      0 0 0 0,
      0 0 0 0,
      0 0 0 0,
      0 0 0 0,
      0 0 0 0,
      0 0 0 0,
      0px 0px 0 10px inset;
  }
  100% {
    transform: rotate(0deg);
    margin-top: -2px;
    margin-left: -2px;
    width: 20px;
    height: 20px;
    box-shadow:
      0 0 0 0,
      0 0 0 0,
      0 0 0 0,
      0 0 0 0,
      0 0 0 0,
      0 0 0 0,
      0px 0px 0 0px inset;
  }
}
@keyframes rippleOn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(13,13);
  }
}
@keyframes rippleOff {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(13,13);
  }
}
// checkbox
  //radio
#radioContainer{
  padding: 10px 20px;
}
  .radio-group {
    display: flex;
    flex-direction: column;

    &.vertical {
      flex-direction: column;

      label {
        margin: 0 0 8px 0;
      }
    }

    label {
      margin: 0 8px 0 0;
      cursor: pointer;
    }
    .prvyinput {
      &[type="checkbox"] {
        display: none;
        &:checked + span {
          &:before {
            background-color: $checked-colour;
            box-shadow: inset #212121 0 0 0 2px;
            margin: 0 10px 0 0px;

          }
        }
      }
    }
    span {
      display: flex;
      &:before {
        border: 2px solid $checked-colour;
        content: '';
        display: flex;
        height: 20px;
        width: 20px;
        margin: 0 10px 0 0px;
        border-radius: 50%;
        box-sizing: border-box;
        transition: all ease .200s;
        box-shadow: inset #212121 0 0 0 10px;
      }
    }
    .druhyInput{
      width: 86%;
      border: none;
      outline: none;
      padding: 0px 14px !important;
      background: transparent !important;
      font-size: 17px !important;
    }
  }

  //radio
}


  // Checkbox variables
  $checkbox-size: 20px;
  $checkbox-animation-ripple: 700ms;
  $checkbox-animation-check: 0.3s;
  $lightbg-text: rgba(0,0,0,0.84);
  $checked-colour: #ffa726;



  label {
    cursor: pointer;
    padding-left: 0; // Reset for Bootstrap rule
  }

  // Hide native checkbox
  input[type=checkbox] {
    opacity: 0;
    position: absolute;
    margin: 0;
    z-index: -1;
    width: 0;
    height: 0;
    overflow: hidden;
    left: 0;
    pointer-events: none;
  }

  .checkbox-material {
    vertical-align: middle;
    position: relative;
    top: 3px;
    &:before {
      position: absolute;
      left: 8px;
      top: 2px;
      content: "";
      background-color: rgba(0,0,0,0.5);
      height: 4px;
      width: 4px;
      border-radius: 100%;
      z-index: 1;
      opacity: 0;
      margin: 0;
      //transform: scale3d(2.3, 2.3, 1);
    }

    .check {
      position: relative;
      display: inline-block;
      width: $checkbox-size;
      height: $checkbox-size;
      border: 2px solid;
      border-radius: 2px;
      overflow: hidden;
      z-index: 1;
    }
    .check:before {
      position: absolute;
      content: "";
      transform: rotate(45deg);
      display: block;
      margin-top: -4px;
      margin-left: 6px;
      width: 0;
      height: 0;
      box-shadow:
        0 0 0 0,
        0 0 0 0,
        0 0 0 0,
        0 0 0 0,
        0 0 0 0,
        0 0 0 0,
        0 0 0 0 inset;
      animation: checkbox-off $checkbox-animation-check forwards ease-out;
    }
  }

  input[type=checkbox]:focus + .checkbox-material .check:after {
    opacity: 0.2;
  }
  input[type=checkbox]:checked + .checkbox-material .check:before {
    box-shadow:
      0 0 0 10px,
      10px -10px 0 10px,
      32px 0px 0 20px,
      0px 32px 0 20px,
      -5px 5px 0 10px,
      20px -12px 0 11px;
    animation: checkbox-on $checkbox-animation-check forwards ease-out;
  }

  input[type=checkbox]:not(:checked) + .checkbox-material:before {
    animation: rippleOff $checkbox-animation-ripple forwards ease-out;
  }
  input[type=checkbox]:checked + .checkbox-material:before {
    animation: rippleOn $checkbox-animation-ripple forwards ease-out;
  }

  // Ripple effect on click
  input[type=checkbox]:not(:checked) + .checkbox-material .check:after {
    animation: rippleOff $checkbox-animation-ripple forwards ease-out;
  }
  input[type=checkbox]:checked + .checkbox-material .check:after {
    animation: rippleOn $checkbox-animation-ripple forwards ease-out;
  }

  // Style for disabled inputs
  input[type=checkbox][disabled]:not(:checked) ~ .checkbox-material .check:before,
  input[type=checkbox][disabled] + .circle {
    opacity: 0.5;
  }
  input[type=checkbox][disabled] + .checkbox-material .check:after {
    background-color: $lightbg-text;
    transform: rotate(-45deg);
  }


  // Animations
  @keyframes checkbox-on {
    0% {
      box-shadow:
        0 0 0 10px,
        10px -10px 0 10px,
        32px 0px 0 20px,
        0px 32px 0 20px,
        -5px 5px 0 10px,
        15px 2px 0 11px;
    }
    50% {
      box-shadow:
        0 0 0 10px,
        10px -10px 0 10px,
        32px 0px 0 20px,
        0px 32px 0 20px,
        -5px 5px 0 10px,
        20px 2px 0 11px;
    }
    100% {
      box-shadow:
        0 0 0 10px,
        10px -10px 0 10px,
        32px 0px 0 20px,
        0px 32px 0 20px,
        -5px 5px 0 10px,
        20px -12px 0 11px;
    }
  }
  @keyframes checkbox-off {
    0% {
      box-shadow:
        0 0 0 10px,
        10px -10px 0 10px,
        32px 0px 0 20px,
        0px 32px 0 20px,
        -5px 5px 0 10px,
        20px -12px 0 11px,
        0 0 0 0 inset;
    }

    25% {
      box-shadow:
        0 0 0 10px,
        10px -10px 0 10px,
        32px 0px 0 20px,
        0px 32px 0 20px,
        -5px 5px 0 10px,
        20px -12px 0 11px,
        0 0 0 0 inset;
    }
    50% {
      transform: rotate(45deg);
      margin-top: -4px;
      margin-left: 6px;
      width: 0px;
      height: 0px;
      box-shadow:
        0 0 0 10px,
        10px -10px 0 10px,
        32px 0px 0 20px,
        0px 32px 0 20px,
        -5px 5px 0 10px,
        15px 2px 0 11px,
        0 0 0 0 inset;
    }
    51% {
      transform: rotate(0deg);
      margin-top: -2px;
      margin-left: -2px;
      width: 20px;
      height: 20px;
      box-shadow:
        0 0 0 0,
        0 0 0 0,
        0 0 0 0,
        0 0 0 0,
        0 0 0 0,
        0 0 0 0,
        0px 0px 0 10px inset;
    }
    100% {
      transform: rotate(0deg);
      margin-top: -2px;
      margin-left: -2px;
      width: 20px;
      height: 20px;
      box-shadow:
        0 0 0 0,
        0 0 0 0,
        0 0 0 0,
        0 0 0 0,
        0 0 0 0,
        0 0 0 0,
        0px 0px 0 0px inset;
    }
  }
  @keyframes rippleOn {
    0% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
      transform: scale(13,13);
    }
  }
  @keyframes rippleOff {
    0% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
      transform: scale(13,13);
    }
  }

}
