
<loading-2 [loadingState]="loading"></loading-2>


<!--dnd 1. category + HTML-->
<div id="lecture_player" [innerHTML]="projection">

</div>
<!--dnd 1. category + HTML -->

 <!--dnd 2. category -->
<div class="dnds" *ngIf="categoryNumber == 1 || categoryNumber == 2">
    <div class="panel panel-default dnd1panel" *ngIf="categoryNumber == 1 && dnd1Data.length > 0">
        <div *ngFor="let dnd of dnd1Data; let i = index" class="value" dnd-draggable [dragEnabled]="true"
             [dragData]="dnd.value"><span style="padding: 10px 15px">{{i+1}}.</span>{{dnd.value}}
        </div>
    </div>
  <!--dnd 2. category -->

  <!--dnd 3. category -->

  <div class="categoriesDiv" *ngIf="categoryNumber == 2 "
    ><div class="draggables" >
            <div class="category-answer" dnd-draggable [dragEnabled]="true"
                 [dragData]="item" *ngFor="let item of categoriesData[0].items">{{item.name}}
            </div>
            <div class="category-answer" dnd-draggable [dragEnabled]="true"
                 [dragData]="item" *ngFor="let item of categoriesData[1].items">{{item.name}}
            </div>
        </div
        ><div class="dragAreas" >
            <div class="category" id="cat1" dnd-droppable (onDropSuccess)="transferDataSuccess($event)"><h1>
                {{categoriesData[0].name}}</h1>
                <div *ngFor="let cat1item of cat1items; let i = index" class="value1" dnd-draggable [dragEnabled]="true"
                     [dragData]="cat1item"><span style="padding: 10px 15px">{{i+1}}.</span><div class="category-answer">{{cat1item.name}}</div></div>
            </div>
            <div class="category" id="cat2" dnd-droppable (onDropSuccess)="transferDataSuccess($event)"><h1>
                {{categoriesData[1].name}}</h1>
                <div *ngFor="let cat2item of cat2items; let i = index" class="value1" dnd-draggable [dragEnabled]="true"
                     [dragData]="cat2item"><span style="padding: 10px 15px">{{i+1}}.</span><div class="category-answer">{{cat2item.name}}</div></div>
            </div>
        </div>
    </div>

    <!--<div dnd-droppable class="panel panel-info" (onDropSuccess)="transferDataSuccess($event)">-->
    <!--</div>-->
    <!---->
    <!---->
</div>
<!--dnd 3. category -->

<!--dnd 4. category -->
<div id="checkboxContainer" *ngIf="categoryNumber == 3 && checkboxData.length > 0">
<div class="checkbox brown" *ngFor="let item of checkboxData; let i = index">
  <label>
    <input type="checkbox" [(ngModel)]="item.checked" ><span class="checkbox-material ">
          <span class="check"></span></span>
    <input  [(ngModel)]="item.value" disabled class="checkInput">
  </label>
</div>
</div>
<!--dnd 4. category -->
<!--dnd 5. category -->
<div id="radioContainer" *ngIf="categoryNumber == 4 && radioData.length > 0">
  <div class="radio-group">
    <div *ngFor="let item of radioData; let i = index" style="margin-bottom: 17px">
      <label for="id{{i}}">
        <input id="id{{i}}" class="prvyinput" type="checkbox" name="g1" [(ngModel)]="item.checked" (change)="changedSomething(radioData, i)"/>
        <span><input class="druhyInput" disabled
                     [(ngModel)]="item.value"></span>
      </label>
    </div>


  </div>
</div>
<!--dnd 5. category -->

<div id="groupContainer">

  <!--final idea -->
  <!--spravim draggable controllery, ktore budu pri kliknuti generovat nove svg(ciaru), ktorej budem menit -->
  <!--poziciu podla drag eventu, ked este ciara neexistuje .. inak budem modifikovat krajnu poziciu svg ciary-->
  <!--&gt; pri drop evente treba menit data .. najefektivnejsie-->

</div>
