<div class="quiz-site">

  <div class="quiz-site-question">
    <div *ngFor="let questionPart of question">
      {{questionPart}}
    </div>
  </div>

  <div class="quiz-site-answer">

    <div class="answer-div">
      <div class="answer">
        <div class="answer-input" *ngFor="let answer of answers">
          <p>{{answer}}</p>
          <bordered-input></bordered-input>
        </div>
      </div>
    </div>

    <div class="submit-button">
      <blue-button [buttonTitle]="'SUBMIT'" type="submit"></blue-button>
    </div>
  </div>
</div>
