
.submit-button{
  width: 150px;
  padding-top: 10px;
}

.quiz-site{
  display: flex;
  flex-direction: row;
  height: 100%;
}

.quiz-site-question{
  display: flex;
  flex-basis: 50%;
}

.quiz-site-answer{
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  align-items: center;
}

.answer-div {
  display: flex;
  width: 100%;
  height: 80%;
  align-self: flex-start;
  padding-top: 20px;
  overflow: overlay;
}

.answer {
  width: 80%;
  align-self: center;
}

.answer-input {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
  padding: 10px;
}

.answer-input p {
  width: 30%;
  text-align: right;
}

.answer-input bordered-input {
  padding-left: 20px;
  width: 70%;
}


