.blue-button {
  width: 100%;
  height: 50px;
  font-family: MontserratRegular;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.7px;
  text-align: center;
  color: #ffffff;
  background-color: #3f83fc;
}
