.content-container-video {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.progress-container-video {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.progress-item-container-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.size-progress-circle {
  margin-top: 15px;
  height: 200px;
  width: 200px;
}

.margin-top-0 {
  margin-top: 0px !important;
}

.size-progress-bar {
  margin-top: 15px;
  fill: #ffffff;
}

.absolute {
  width: 100%;
  height: 100%;
}

.video-container-video {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.margin-button {
  margin: 25px;
}

.replayLayout {
  flex: 1;
  background: #00897b;
  margin-right: 30px;
  position: absolute !important;
  width: 100%;
  height: 100%;
  opacity: 0.85;

}

.loader {
  width: 105.4px;
  height: 109.4px;
  margin: auto;
  background: url('../../../../../assets/Ellipse.png');
  background-size: 96%;
  background-repeat: no-repeat;
  background-position: center;
}

.playIconWithoutOpacity {
  z-index: 22;
  background: transparent !important;
  opacity: 1 !important;
}

.opacity0 {
  opacity: 0;
}

.triangle {
  width: 0;
  height: 0;
  border-top: 15.85px solid transparent;
  border-bottom: 15.85px solid transparent;
  border-left: 24.6px solid white;
  margin: auto;
}

.replayLayout div {
  margin-right: auto !important;
  margin-left: auto !important;
}

.fileUpText {
/ / margin-top: 69.6 px;
  margin-top: auto;
  color: white;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 25.4px;
  font-family: MontserratLight;
  margin-bottom: 0;
}

.fileUpText2 {
  margin-top: 30px;
  color: white;
  font-size: 19px;
  letter-spacing: 4.2px;
  line-height: 25.4px;
  font-family: MontserratLight;
  text-transform: uppercase;
  margin-bottom: 0;

}

.replay {
  width: 245px;
  height: 60px;
  object-fit: contain;
  background-color: #ffffff;
  color: #00897B;
  margin-bottom: auto;
  font-size: 14px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 3.2px;
  font-family: MontserratLight;
  cursor: pointer;

}

/*MEDIA QUERIES*/

@media screen and (min-width: 1025px) {
  .size-video-container {
    width: 570px;
    height: 321px;
  }

  .size-progress-bar {
    width: 400px;
  }

  .size-progress-circle {
    width: 150px;
    height: 150px;
  }
}

@media screen and (min-width: 1300px) {
  .size-video-container {
    width: 640px;
    height: 360px;
  }

  .size-progress-bar {
    width: 500px;
  }
}

@media screen and (min-width: 1420px) {
  .size-video-container {
    width: 768px;
    height: 432px;
  }

  .size-progress-bar {
    width: 550px;
  }
}

@media screen and (min-width: 1580px) {
  .size-video-container {
    width: 896px;
    height: 504px;
  }

  .size-progress-bar {
    width: 600px;
  }
}

@media screen and (max-width: 1024px) {
  .size-video-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
  }

  .video-container-video {
    width: 100%;
    align-items: center;
  }

  .big-button {
    width: 50%;
  }

  .content-container-video {
    flex-direction: column;
    align-items: stretch;
  }

  .progress-container-video {
    flex-direction: row;
    justify-content: space-around;
  }

  .size-progress-bar {
    width: 680px;
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .absolute {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

}

@media screen and (max-width: 999px) {
  .progress-container-video {
    flex-direction: column;
    justify-content: flex-start;
  }

  .progress-item-container-video {
    width: 100%;
    height: auto;
  }

}

@media screen and (max-width: 692px) {
  .size-progress-bar {
    width: 100%;
  }
}
