<div class="content-container-video">
  <div class="video-container-video">

    <div class="replayLayout video-container-video playIconWithoutOpacity"
         *ngIf="tutorialDetail.status === 'PASS'"
         (click)="replayVideo()">
      <div class="fileUpText opacity0" >S</div>
      <div class="fileUpText2 opacity0" >S</div>
      <div class="fileUpText2 opacity0 margin-top-0" >S</div>
      <div class="loader flex">
        <div class="triangle"></div>
      </div>
      <div class="replay opacity0">
        S
      </div>
    </div>
    <div class="replayLayout video-container-video" *ngIf="tutorialDetail.status === 'PASS'" >
      <div class="fileUpText2" >{{moduleName}}</div>
      <div class="fileUpText2 margin-top-0" >{{tutorialDetail.name}}</div>
      <div class="loader flex opacity0">
        <div class="triangle"></div>
      </div>
      <div class="replay">
        REPLAY VIDEO
      </div>
    </div>

    <div class="size-video-container">
      <div class="absolute">
        <iframe #iframe [src]="videoURL" id="player1" (load)="onIframeLoad()"
                width="100%"
                height="100%"
                frameborder="0"
                webkitallowfullscreen mozallowfullscreen allowfullscreen
                *ngIf="videoURL"
        >
        </iframe>
      </div>
    </div>
      <!--<blue-button class="big-button margin-button" [buttonTitle]="'NEXT'" (click)="submitTutorial()"></blue-button>-->
  </div>

  <div class="progress-container-video">
    <div class="progress-item-container-video">
      <h4>COURSE PROGRESS</h4>
      <div class="size-progress-circle">
        <progrees-bar-circle [actualValue]="total" [progressType]="'percent'"></progrees-bar-circle>
      </div>
    </div>
    <div class="progress-item-container-video">
      <h4>YOUR AVERAGE TEST SCORE</h4>
      <div class="size-progress-bar">
        <app-progress-bar [status]="avg" [pass]="75"></app-progress-bar>
      </div>
    </div>
  </div>

</div>
