<input #upload type="file" class="upload-hidden-part" (change)="fileChange($event)" placeholder="Upload file">
<!--<input #upload type="file" class="upload-hidden-part" (change)="fileChange($event)" placeholder="Upload file" accept="video/*">-->
<div class="evidence-container content-container-video">
  <div class="upload-visible-part video-container-video">
    <div class="fileUpText" *ngIf="!tutorialDetail.uploaded">SUBMIT EVIDENCE</div>
    <div class="fileUpText" *ngIf="tutorialDetail.uploaded ">SUBMITTED EVIDENCE</div>
    <div class="fileUpText2">{{tutorialDetail.name}}</div>
    <div class="Oval" *ngIf="!tutorialDetail.uploaded">
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M9 16h6v-6h4l-7-7-7 7h4zm-4 2h14v2H5z"/>
      </svg>
    </div>
    <div class="addyourfile" (click)="downloadDescription()">Download description</div>
    <div class="addyourfile" (click)="upload.click()" *ngIf="!tutorialDetail.uploaded && tutorialDetail.status == 'ACTIVE' && tutorialDetail.fileName == null">
      ADD YOUR FILE
    </div>


    <div *ngIf="tutorialDetail.fileName" class="parag" style="margin: auto">{{tutorialDetail.fileName}}</div>

  </div>
  <div class="progress-container-video">
    <div class="progress-item-container-video">
      <h4>COURSE PROGRESS</h4>
      <div class="size-progress-circle">
        <progrees-bar-circle [actualValue]="total" [progressType]="'percent'"></progrees-bar-circle>
      </div>
    </div>
    <div class="progress-item-container-video">
      <h4>YOUR AVERAGE TEST SCORE</h4>
      <div class="size-progress-bar">
        <app-progress-bar [status]="avg" [pass]="75"></app-progress-bar>
      </div>
    </div>
  </div>

</div>
