.upload-hidden-part {
  opacity: 0;
  position: absolute;
  z-index: 0;
  top: - 500px;
}

.upload-visible-part {
  flex: 1;
  height: 475px;
  background: #00897b;
  margin-right: 30px;
  text-align: center;
  .parag {
    margin-bottom: auto;
    color: white;

  }
  .fileUpText {
    //margin-top: 69.6px;
    margin-top: auto;
    color: white;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 25.4px;
    font-family: MontserratLight;
    margin-bottom: 0;
  }
  .fileUpText2 {
    margin-top: 16px;
    color: white;
    font-size: 19px;
    letter-spacing: 4.2px;
    line-height: 25.4px;
    font-family: MontserratLight;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-bottom: auto;

  }
  .Oval {
    margin-top: 61.6px;
    width: 80px;
    height: 80px;
    background-color: #004236;
    border-radius: 100%;
    display: flex;
    margin-bottom: 68px;
  }
  .addyourfile {
    width: 245px;
    height: 60px;
    object-fit: contain;
    background-color: #ffffff;
    color: #00897B;
    margin-bottom: auto;
    font-size: 14px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 3.2px;
    font-family: MontserratLight;
    cursor: pointer;

  }
  .disabledAdd {
    cursor: auto !important;
    background: #9b9b9bs !important;

  }
  svg {
    margin: auto;
    width: 44px;
    fill: white;

  }

}

.content-container-video {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.progress-container-video {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.progress-item-container-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.size-progress-circle {
  margin-top: 15px;
  height: 203px;
  width: 203px;
}

.size-progress-bar {
  margin-top: 15px;
  fill: #ffffff;
}

.absolute {
  width: 100%;
  height: 100%;
}

.video-container-video {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 45%;
}

.margin-button {
  margin: 25px;
}

/*MEDIA QUERIES*/

@media screen and (min-width: 1025px) {
  .size-video-container {
    width: 570px;
    height: 321px;
  }

  .size-progress-bar {
    width: 400px;
  }

  //.size-progress-circle {
  //  width: 150px;
  //  height: 150px;
  //}
}

@media screen and (min-width: 1300px) {
  .size-video-container {
    width: 640px;
    height: 360px;
  }

  .size-progress-bar {
    width: 500px;
  }
}

@media screen and (min-width: 1420px) {
  .size-video-container {
    width: 768px;
    height: 432px;
  }

  .size-progress-bar {
    width: 550px;
  }
}

@media screen and (min-width: 1580px) {
  .size-video-container {
    width: 896px;
    height: 504px;
  }

  .size-progress-bar {
    width: 600px;
  }
}

@media screen and (max-width: 1024px) {
  .size-video-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
  }

  .video-container-video {
    width: 100%;
    align-items: center;
  }

  .big-button {
    width: 50%;
  }

  .content-container-video {
    flex-direction: column;
    align-items: stretch;
  }

  .progress-container-video {
    justify-content: space-around;
  }

  .size-progress-bar {
    width: 680px;
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .absolute {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

}

@media screen and (max-width: 999px) {
  .progress-container-video {
    flex-direction: column;
    justify-content: flex-start;
  }

  .progress-item-container-video {
    width: 100%;
    height: auto;
  }

}

@media screen and (max-width: 692px) {
  .size-progress-bar {
    width: 100%;
  }
}
