.color-bg {
  background-color: #424242;
  width: 100%;
}
.welcome-box {
  height: 60px;
  margin-top: 20px;
  background-color: #212121;
}
.welcome-message {
  font-size: 18px;
  color: #fff;
  padding-left: 40px;
  font-family: 'Chivo', sans-serif;
  font-weight: 300;
  height: 100%;
}
.content-container {
  margin-top: 20px;
  background-color: #212121;
  padding: 30px;
  padding-bottom: 88px;
}
.navigation-box {
  height: 95px;
}
.form {
  padding-top: 31px;
}
.form textarea {
  height: 325px;
  background-color: #FFFFFF;
  color: #00897b;
  font-size: 12px;
  width: 100%;
  padding: 15px;
}
.form .input-block {
  position: relative;
}
.form .input-block .message {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #00897b;
  padding: 39px 43px;
}
.form .input-block .message .icon_box {
  padding-bottom: 36px;
}
.form .input-block .message .icon_block {
  display: inline-block;
  background-color: #8bc34a;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  text-align: center;
}
.form .input-block .message .icon {
  color: #FFFFFF;
  width: 46px;
  height: 46px;
  line-height: 46px;
  font-size: 40px;
}
.form .input-block .message .title {
  font-size: 20px;
  letter-spacing: 3.4px;
  padding-bottom: 5px;
}
.form .input-block .message .message-text {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
}
.actions {
  padding-top: 29px;
}
.actions button {
  text-transform: uppercase;
  background-color: #111111;
  color: #FFFFFF;
  font-weight: 300;
  border: none;
  padding: 12px 60px;
}


















