<div class="color-bg">
  <div class="learnbox-container">
    <div fxFlexFill>
      <div class="welcome-box">
        <div class="welcome-message" fxLayoutAlign="left center">Welcome to the Help Center! Get started by selecting
          the department you wish to speak to …
        </div>
      </div>
    </div>
    <div class="content-container">
      <div fxLayout="row" class="help-navigation" fxLayoutGap="27px">
        <div fxFlex="33.33" class="navigation-box">
          <black-button [icon]="'settings'" (click)="changeCategory('technical')" [text]="'Technical'"
                        [active]="category == 'technical'"></black-button>
        </div>
        <div fxFlex="33.33" class="navigation-box">
          <black-button [icon]="'assignment'" (click)="changeCategory('education')" [text]="'Education'"
                        [active]="category == 'education'"></black-button>
        </div>
        <div fxFlex="33.33" class="navigation-box">
          <black-button [icon]="'stars'" (click)="changeCategory('purchasing')" [text]="'Purchasing'"
                        [active]="category == 'purchasing'"></black-button>
        </div>
      </div>
      <div class="form">
        <form name="" method="">
          <div class="input-block">
            <textarea name="" placeholder="Type message here..."></textarea>
            <div *ngIf="messageSent" class="message success">
              <div class="icon_box">
                <div class="icon_block">
                  <md-icon class="icon">done</md-icon>
                </div>
              </div>
              <div class="title">
                MESSAGE SENT
              </div>
              <div class="message-text">
                THANK YOU FOR YOUR ENQUIRY, WE’LL BE IN TOUCH SOON.
              </div>
            </div>
          </div>
          <div class="actions">
            <button type="submit" (click)="submitMessage()">{{messageSent ? "Success!" : "Submit"}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
