<svg viewBox="0 0 816 198" width="100%">
  <svg viewBox="0 0 766 198">
    <rect x="0" y="47" width="100%" height="60" style="fill:#979797;stroke-width:0;"></rect>

    <rect id="rectStatus" x="0" y="47" [attr.width]="0" height="60" style="fill:#ffa726;stroke-width:0;">
      <animate
        attributeName="width"
        from="0"
        [attr.to]="status + '%'"
        dur="0.5s"
        begin="0s"
        fill="freeze"
        id="rectAnimation"></animate>
    </rect>


    <line x1="100%" y1="47" x2="100%" y2="151"
          style="stroke:#3f83fc;stroke-width:2">
      <animate
        attributeName="x1"
        from="100%"
        [attr.to]="pass + '%'"
        dur="0.5s"
        begin="0s"
        fill="freeze"></animate>
      <animate
        attributeName="x2"
        from="100%"
        [attr.to]="pass + '%'"
        dur="0.5s"
        begin="0s"
        fill="freeze"></animate>
    </line>

    <line x1="0" y1="47" x2="0" y2="107"
          style="stroke:#ffa726;stroke-width:2">
      <animate
        attributeName="x1"
        from="0"
        [attr.to]="status + '%'"
        dur="0.5s"
        begin="0s"
        fill="freeze"></animate>
      <animate
        attributeName="x2"
        from="0"
        [attr.to]="status + '%'"
        dur="0.5s"
        begin="0s"
        fill="freeze"></animate>
    </line>


    <text [attr.x]="status + '%'" y="35" textLength="40" lengthAdjust="spacing" font-family="Montserrat"
          font-size="20px"
          style="text-anchor: middle; opacity: 0;" >
      {{status}}%
      <animate
        attributeType="CSS"
        attributeName="opacity"
        from="0"
        to="1"
        dur="0.5s"
        begin="rectAnimation.end"
        fill="freeze"></animate>
    </text>

    <text *ngIf="!isIntersectPercent(pass, status)" [attr.x]="pass + '%'" y="35" textLength="40" lengthAdjust="spacing"
          font-family="Montserrat" font-size="20px"
          style="text-anchor: middle; opacity: 0;" >
      {{pass}}%
      <animate
        attributeType="CSS"
        attributeName="opacity"
        from="0"
        to="1"
        dur="0.5s"
        begin="rectAnimation.end"
        fill="freeze"></animate>
    </text>

    <text *ngIf="!(isIntersectPercent(pass, 100) || isIntersectPercent(status, 100))" x="100%" y="35" textLength="40"
          lengthAdjust="spacing" font-family="Montserrat" font-size="20px"
          style="text-anchor: middle; opacity: 0;" >
      100%
      <animate
        attributeType="CSS"
        attributeName="opacity"
        from="0"
        to="1"
        dur="0.5s"
        begin="rectAnimation.end"
        fill="freeze"></animate>
    </text>
  </svg>

  <text [attr.x]="statusTextPosition" [attr.y]="83"
        textLength="180" lengthAdjust="spacing" font-family="Montserrat"
        font-size="20px" fill="#ffffff" style="opacity: 0; text-anchor: left;" >
    YOUR SCORE
    <animate
      attributeType="CSS"
      attributeName="opacity"
      from="0"
      to="1"
      dur="0.5s"
      begin="rectAnimation.end"
      fill="freeze"></animate>
  </text>

  <text [attr.x]="getPassTextPositionX()"
        [attr.y]="177"
        textLength="140" lengthAdjust="spacing" font-family="Montserrat"
        font-size="20px" style="opacity: 0; text-anchor: middle">
    PASS MARK
    <animate
      attributeType="CSS"
      attributeName="opacity"
      from="0"
      to="1"
      dur="0.5s"
      begin="rectAnimation.end"
      fill="freeze"></animate>
  </text>

</svg>
