.course-responsive-input {
  width: 100%;
}

.course-setup-button {
  width: 100%;
  border-radius: 4px;
  height: 60px;
  color: white;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;;
  text-align: center;
  line-height: 60px;
  border: 0;
  margin-bottom: 20px;
  outline: 0;
}

.course-setup-button:hover {
  opacity: 0.8;
}

.thumbnail {
  border: 1px solid green;
}

.blue {
  background-color: #3f83fc;
}

.red {
  background-color: #ff584d;
}

.green {
  background-color: #00897b;
}

.section-title-underlined{
  font-size: 15px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 300;
}

.setup-label{
  line-height: 1.5em;
  height: 40px;
  font-size: 13px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.cms-button {
  cursor: pointer;
  float: right;
}
