<span defaultOverlayTarget></span>
<span id="editor-parent" *ngIf="editorShown">
  <editor (closeEditor)="setEditorVisibility(false)"></editor>

</span>
<form #courseForm="ngForm" id="ngForm">
  <div fxLayout="row" fxLayoutGap="17px">
    <div fxFlex="66">
      <app-grey-container>
        <div class="section-title-underlined">{{course.courseUuid ? 'Edit course' : 'New Course Setup'}}</div>
        <div class="default-tabs">
          <div fxLayout="row" class="margin-top-30">
            <div fxFlex="20">
              <div class="setup-label">Course Title</div>
              <div class="setup-label">Course Type</div>
              <div class="setup-label">Course Logo</div>
              <div class="setup-label">No logo?<br />Type to create text logo</div>
              <div class="setup-label">Course Number</div>
              <div class="setup-label">Qualification Code</div>
              <div class="setup-label">Qualification Mapping Document</div>
              <div class="setup-label">Add tutor</div>

            </div>

            <div fxFlex="80">
              <div class="learnbox-input margin-bottom-20">
                <input type="text" placeholder="Performing Manufacturing Operations" required [(ngModel)]="course.courseTitle" name="className" class="course-responsive-input">
              </div>
              <div class="learnbox-input margin-bottom-10">
                <md-tab-group (selectChange)="changeCourse($event)">
                  <md-tab label="Basic"></md-tab>
                  <md-tab label="Advanced"></md-tab>
                </md-tab-group>
              </div>
              <div class="learnbox-input margin-bottom-20" fxLayout="row">
                <input type="file" placeholder="+ Upload File" (change)="addLogoFile($event)" name="logoFile">
                <a href="{{course.courseLogo | thumb:4}}" *ngIf="course.courseLogo">
                  <img class="thumbnail" src="{{course.courseLogo | thumb:4}}">
                </a>
              </div>
              <div class="learnbox-input margin-bottom-20">
                <input type="text" placeholder="Text goes here" required="{{!files.logo}}" [(ngModel)]="course.courseTextLogo" name="courseTextLogo" accept="image/*">
              </div>
              <div class="learnbox-input margin-bottom-20">
                <input type="text" placeholder="000000" required [(ngModel)]="course.courseNumber" name="courseNumber">
              </div>
              <div class="learnbox-input margin-bottom-20">
                <input type="text" placeholder="000000" required [(ngModel)]="course.qualificationCode" name="qualificationCode">
              </div>
              <div class="learnbox-input margin-bottom-20">
                <input type="file" placeholder="+ Upload file" (change)="addDocumentFile($event)"  name="documentFile">
                <a href="{{course.qualificationMappingDocument}}" *ngIf="course.qualificationMappingDocument">Download document</a>
              </div>
              <div class="learnbox-input margin-bottom-20">
                <input type="text" placeholder="Select" required [(ngModel)]="course.userUuid" name="userUuid">
              </div>
              <button type="button" (click)="setEditorVisibility(true)" class="course-setup-button blue cms-button">START CMS</button>

            </div>
          </div>
        </div>
      </app-grey-container>
      <app-grey-container class="modules" [style]="{display: 'flex', width: '100%', flexDirection: 'column'}">
        <div class="section-title-underlined">Modules</div>
        <div *ngFor="let module of course.modules; let index = index">
          <app-course-module-detail [module]="course.modules[index]" [position]="index + 1"></app-course-module-detail>
        </div>
        <div>
          <black-small-button [style]="{width: '100px'}" [text]="'+ Add Module'" (click)="addModule()"></black-small-button>
        </div>
      </app-grey-container>
    </div>
    <div fxFlex="34">
      <div fxLayout="row">
        <button type="submit" (click)="publishCourse(courseForm.valid)" class="course-setup-button blue">PUBLISH COURSE</button>
      </div>
      <div fxLayout="row" fxLayoutGap="17px">
        <div fxFlex="50">
          <button (click)="saveAsDraft(courseForm.valid)" class="course-setup-button red">SAVE AS DRAFT</button>
        </div>
        <div fxFlex="50">
          <button class="course-setup-button green" disabled>PREVIEW</button>
        </div>
      </div>
      <app-grey-container>
        <div fxLayout="row">
          <div fxFlex="40">
            <div class="setup-label margin-bottom-20">Course Date</div>
            <div class="setup-label margin-bottom-20">Course Updated</div>
            <div class="setup-label">Enabled</div>
          </div>
          <div fxFlex="60">
            <div class="learnbox-input margin-bottom-20">
              <input type="date" required [(ngModel)]="courseDateString" name="courseDate" class="course-responsive-input" required>
            </div>
            <div class="learnbox-input margin-bottom-20">
              <input type="date" [(ngModel)]="courseUpdatedString" name="courseUpdated" class="course-responsive-input" disabled>
            </div>
            <div class="learnbox-input margin-bottom-20">
              <div fxLayout="row">
                <md-slide-toggle name="enable" [(ngModel)]="course.enable"></md-slide-toggle>
                <black-small-button [width]="85" [height]="30" [text]="'Delete'"></black-small-button>
              </div>
            </div>
          </div>
        </div>
      </app-grey-container>
      <app-courses-listing></app-courses-listing>
    </div>
  </div>
</form>
