.module-item {
  font-family: PTMonoRegular, monospace;
  color: #ffffff;
  padding-top: 20px;
}

.module-title {
  font-size: 15px;
  font-family: PTMonoRegular, monospace;
}

.progress-circle-box-container {
  background-color: black;
  width: 165px;
  height: 165px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress-circle-title {
  margin-top: 10px;
}

.progress-circle-size {
  height: 110px;
  width: 110px;
}

.arrow-button-left{
  position: absolute;
  top: 45%;
  left: -30px;
  z-index: 100;
}

.arrow-button-right{
  position: absolute;
  top: 45%;
  right: -30px;
  z-index: 100;
}

.flex-90{
  flex: 1 1 100%;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  max-width: 90% !important;
}

.flex-100{
  flex: 1 1 100%;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  max-width: 100% !important;
}

/*container only for tutorials*/
.containerFlex {
  display: flex;
  align-items: stretch;
}

app-tutorial-item {
    cursor: pointer;
}

/*for arrow icon*/
.arrow-size-item {
  width: 30px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*for button to be without appearance*/
.astext {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
}

.visibility-hidden {
  visibility: hidden;
}

.viewAllModules {
  font-family: PTMonoRegular;
  color: #3f83fc;
  font-size: 15px;
  cursor: pointer;
}

.containerFlexMobile {
  display: flex; /* or inline-flex */
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: center;
  margin-right: 20px;
}

.list-container {
  position: relative;
}

.tutorial-margin {
  flex: 0 0 auto;
  margin: 8px 10px 14px 0;
}

.progress-margin-mobile {
  margin-top: 0px;
}

.progress-circle-disabled {
    opacity: 0.3;
}

.responsive-flex-progress-mobile {
  flex: 0 0 145px;
}

.progress-container {
  position: absolute;
  top: 25px;
  left: 85%;
  z-index: 202;
}

@media screen and (max-width: 1300px) {
  .bottom-padding {
      padding-bottom: 0px;
  }

  .progress-circle-box-container {
    width: 120px;
    height: 120px;
  }

  .progress-circle-size {
    height: 60px !important;
    width: 60px !important;
  }
}

@media screen and (max-width: 1400px) {
  .progress-circle-size {
    height: 100px;
    width: 100px;
  }

  .progress-circle-title {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    margin-top: 5px;
  }
}
