<div class="module-item">
  <div (window:resize)="onResize($event)"></div>
  <span class="module-title">{{moduleDetail.name}} </span>
  <span *ngIf="showViewAllModules" [fxHide.xs]="true"> | <span class="viewAllModules" (click)="goToOverview()">View All Modules +</span></span>
  <div class="viewAllModules" *ngIf="showViewAllModules" [fxHide.gt-xs]="true" (click)="goToOverview()">View All Modules +</div>
  <div *ngIf="!scrollApply">
      <div fxLayout="row" class="position-relative">
        <div class="arrow-button-left">
          <button class="astext" [class.visibility-hidden]="selectedTab === 0">
            <md-icon class="arrow-size-item" (click)="changeTab(-1)">keyboard_arrow_left</md-icon>
          </button>
        </div>
        <div fxFlex [class.flex-100]="!progressApply">
          <md-tab-group [(selectedIndex)]="selectedTab">
            <md-tab *ngFor="let tab of createRange(tabsCount-1); let i = index">
              <div class="containerFlex">
                <app-tutorial-item class="tutorial-margin"
                  *ngFor="let item of createRange(itemShow); let j = index;"
                  (click)="selectTutorial(moduleDetail.tutorials[(i*itemShow)+j])"
                  [tutorialInfo]="moduleDetail.tutorials[(i*itemShow)+j]"
                  [shouldUseModuleQuizLogo]="isLastQuiz(i * itemShow + j)">
                </app-tutorial-item>
              </div>
            </md-tab>
            <md-tab>
              <div class="containerFlex">
                <app-tutorial-item class="tutorial-margin"
                  *ngFor="let item of createRange(leftItems); let l = index;"
                  (click)="selectTutorial(moduleDetail.tutorials[((tabsCount-1)*itemShow)+l])"
                  [tutorialInfo]="moduleDetail.tutorials[((tabsCount-1)*itemShow)+l]"
                  [shouldUseModuleQuizLogo]="isLastQuiz((tabsCount-1) * itemShow + l)">
                </app-tutorial-item>
              </div>
            </md-tab>
          </md-tab-group>
          <div class="progress-container" *ngIf="progressApply">
            <div class="progress-circle-box-container" [class.progress-circle-disabled]="moduleDetail.status === 'UNAVAILABLE'">
              <div class="progress-circle-title">YOUR PROGRESS</div>
              <div class="progress-circle-size">
                <progrees-bar-circle [actualValue]="passedTutorials" [totalValue]="moduleDetail.tutorials.length"></progrees-bar-circle>
              </div>
            </div>
          </div>
        </div>
        <div class="arrow-button-right">
          <button class="astext" [class.visibility-hidden]="selectedTab === (tabsCount -1)">
            <md-icon class="arrow-size-item" (click)="changeTab(1)">keyboard_arrow_right</md-icon>
          </button>
        </div>
    </div>
  </div>
  <div class="list-container" *ngIf="scrollApply">
    <perfect-scrollbar>
      <div class="containerFlexMobile">
        <app-tutorial-item class="tutorial-margin"
                           *ngFor="let tutorial of moduleDetail.tutorials; let i = index;"
                           (click)="selectTutorial(tutorial)"
                           [tutorialInfo]="tutorial"
                           [shouldUseModuleQuizLogo]="isLastQuiz(i)">
        </app-tutorial-item>
        <div *ngIf="progressApply" class="responsive-flex-progress-mobile">
          <div class="progress-circle-box tutorial-margin progress-margin-mobile" [class.progress-circle-disabled]="moduleDetail.status === 'UNAVAILABLE'">
            <progrees-bar-circle  [actualValue]="passedTutorials" [totalValue]="moduleDetail.tutorials.length"></progrees-bar-circle>
          </div>
        </div>
      </div>
    </perfect-scrollbar>
  </div>
</div>
