.evidenceUppercase{
  text-transform: uppercase;
  color: #898989;
  font-family: ChivoRegular;
  font-size: 10px;
}
.evidence-margin-information{
  margin-left: 9px!important;
  height: 13px!important;
}
.uppercase{
  text-transform: uppercase;
  font-size: 11px;

}
.FILEUPLOADED, .FILEFAILED{
  letter-spacing: 0.4px;
  position: absolute!important;
  bottom: 10px!important;
  left: 10px!important;
  color: white;
  font-size: 10px;
}
.FILEUPLOADED svg, .FILEFAILED svg{
  fill: white;
  width: 24px;
  position: absolute;
  bottom: 15px;
  left: -3px;
}
.passEvidence{
  position: absolute!important;
  bottom: 10px!important;
  right: 10px!important;

}
.tutorial-box {
  height: 165px;
  width: 219px;
  background-color: black;
  font-family: ChivoLight;
  font-size: 12px;
  position: relative;
}

.quiz-box {
  height: 165px;
  width: 165px;
  display: flex;
  flex-direction: column;
  background-color: black;
  font-family: ChivoLight;
  font-size: 12px;
}

.quiz-image-box-size {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-thumbnail-size {
  width: 100%;
  height: auto;
}

.bar {
  width: 100%;
  height: 3px;
}

.pass-background-color {
  background-color: #8bc34a;
}

.fail-background-color {
  background-color: #ff584d;
}

.pass-color {
  color: #8bc34a;
}

.fail-color {
  color: #ff584d;
}

.containerFlexForTutorials {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}


.icon-size {
  font-size: 14px;
  width: 12px;
  height: 12px;
}

.margin-information {
  margin: 3px 6px;
}

.margin-information-quiz {
  margin: 0 10px 10px 10px;
}


.containerFlexOut {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 30px;
}

.disabled {
  opacity: 0.3;
}
.FILEFAILED{
  color: #ff584d!important;
  font-size: 12px!important;

}

.FILEFAILED div{
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #ff584d;
  color: #000!important;
  display: inline;
  padding-right: 13px;
  position: relative;
  margin-right: 5px;
}

.FILEFAILED span{
  position: absolute;
  left: 5px;
  font-family: MontserratRegular;
  font-size: 11px!important;

}

.overflow-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.module-quiz-logo {
  width: 67% !important;
}

@media screen and (max-width: 1300px) {
  .containerFlexOut{
    height: 20px;
  }

  .tutorial-box {
    width: 159px;
    height: 120px;
    font-size: 9px;
  }

  .quiz-box {
    height: 120px;
    width: 120px;
    font-size: 9px;
  }

  .quiz-image {
    width: 52px;
  }

}
