<div class="tutorial-box" [class.disabled]="tutorialInfo.status === 'UNAVAILABLE'"
     *ngIf="tutorialInfo['@type'] !== 'QUIZ'">
  <img class="image-thumbnail-size" [attr.src]="tutorialInfo.thumbnailUrl"/>
  <div [ngClass]="{'evidence-margin-information': tutorialInfo['@type'] === 'EVIDENCE'}"
       class="margin-information containerFlexOut">
    <div class="containerFlexForTutorials">
      <span class="font-style overflow-ellipsis" *ngIf="tutorialInfo['@type'] !== 'EVIDENCE'">{{tutorialInfo.name}}</span>
      <md-icon class="icon-size"
               *ngIf="tutorialInfo['@type'] !== 'EVIDENCE'"
               [class.pass-color]="tutorialInfo.status === 'PASS'"
               [class.fail-color]="tutorialInfo.status === 'FAIL'">
        play_circle_outline
      </md-icon>
    </div>
    <div class="font-style evidenceUppercase overflow-ellipsis" *ngIf="tutorialInfo['@type'] === 'EVIDENCE'">{{tutorialInfo.name}}</div>
    <div class="font-style uppercase" *ngIf="tutorialInfo['@type'] == 'EVIDENCE'">{{tutorialInfo.name}}</div>
    <div class="bar"
         [class.pass-background-color]="tutorialInfo.status === 'PASS'"
         [class.fail-background-color]="tutorialInfo.status === 'FAIL'">
      <!--*ngIf="!tutorialInfo.disabled"> ked bude fungovat vymazat-->
    </div>
  </div>
  <div *ngIf="tutorialInfo['@type'] != 'EVIDENCE'"></div>
  <div class="pass-color passEvidence" *ngIf="tutorialInfo.status === 'PASS' && tutorialInfo['@type'] == 'EVIDENCE'">
    <span>PASSED</span>
    <md-icon class="icon-size">check</md-icon>
  </div>
  <div class="pass-color FILEUPLOADED" *ngIf="tutorialInfo.status === 'PASS' && tutorialInfo['@type'] == 'EVIDENCE'">
    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0h24v24H0z" fill="none"/>
      <path d="M9 16h6v-6h4l-7-7-7 7h4zm-4 2h14v2H5z"/>
    </svg>
    FILE UPLOADED
  </div>
  <div class="pass-color FILEFAILED" *ngIf="tutorialInfo.status === 'FAIL' && tutorialInfo['@type'] == 'EVIDENCE'">
    FAILED <br/>
    <div><span>!</span></div>
    REPLACE FILE
  </div>
</div>


<div class="quiz-box" [class.disabled]="tutorialInfo.status === 'UNAVAILABLE'" *ngIf="tutorialInfo['@type'] === 'QUIZ'">
  <div class="quiz-image-box-size content-center-center">
    <img class="quiz-image" [class.module-quiz-logo]="shouldUseModuleQuizLogo" [src]="logoURL" />
  </div>
  <div class="margin-information-quiz" *ngIf="tutorialInfo.status !== 'UNAVAILABLE'">
    <span [class.pass-color]="tutorialInfo.status === 'PASS'"
          [class.fail-color]="tutorialInfo.status === 'FAIL'" class="overflow-ellipsis">
      {{tutorialInfo.name}} <span *ngIf="!tutorialInfo.isFirstAttempt">SCORE {{tutorialInfo.correctQuestions}}/{{tutorialInfo.totalQuestions}}</span>
    </span>
    <div class="fail-color" *ngIf="tutorialInfo.status === 'FAIL'">
      <span>RETAKE</span>
      <md-icon class="icon-size">replay</md-icon>
    </div>
    <div class="pass-color" *ngIf="tutorialInfo.status === 'PASS'">
      <span>PASSED</span>
      <md-icon class="icon-size">check</md-icon>
    </div>
  </div>
</div>


<!--<canvas #canvas></canvas>-->
