.wrapper {
}

.header {
    padding: 15px;
    font-size: 24px;
}

.desc {
    color: grey;
    padding: 0 15px 15px;
}

.course-setup-button {
    width: 100%;
    border-radius: 4px;
    height: 30px;
    color: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;;
    text-align: center;
    border: 0;
    margin: 20px;
    outline: 0;
}

.course-setup-button:hover {
    opacity: 0.8;
}

.blue {
    background-color: #3f83fc;
}
