<div fxLayout="column" class="wrapper">
    <div class="header">{{context.title}}</div>
    <div class="desc">{{context.desc}}</div>
    <div>
        <div class="learnbox-input margin-bottom-20" [hidden]="context.input1Placeholder.length === 0">
            <input #input1 type="text" value="{{context.input1Value}}" [placeholder]="context.input1Placeholder" class="full-width">
        </div>
        <div class="learnbox-input margin-bottom-20" [hidden]="context.input2Placeholder.length === 0">
            <input #input2 type="text" [placeholder]="context.input2Placeholder" class="full-width">
        </div>
    </div>
    <div fxLayout="row">
        <button *ngIf="context.canDismiss" (click)="close()" class="course-setup-button red">Cancel</button>
        <button (click)="save(input1, input2)" class="course-setup-button blue">Save</button>
    </div>
</div>