<div id="controllerCat" #controllerCat [hidden]="ishidden">
    <h3 class="h1">{{panelName}}</h3>
    <input (input)="changedSomething(categories)"
           [(ngModel)]="categories[0].name"
           placeholder="1st category name"
           class="catname1">
    <input (input)="changedSomething(categories)"
           [(ngModel)]="categories[1].name"
           placeholder="2nd category name"
           class="catname2">
    <div id="itemsContainercat">
        <div *ngFor="let category of categories" class="category">
            <div class="itemCont" *ngFor="let item of category.items; let i = index">
                <h4 class="oneItem">
                    <span class="coloredIndex">{{i+1}}.</span>
                    <input (input)="changedSomething(categories)"[(ngModel)]="item.name" class="controller-input">
                </h4>
            </div>
        </div>
    </div>
    <h4 class="catadd" (click)="addItem(0)">Add answer to 1st category</h4>
    <h4 class="catadd" (click)="addItem(1)">Add answer to 2nd category</h4>
</div>
