.table-container{
  background-color: #212121;
  color: #fff;
  padding: 35px 35px;
  margin-bottom: 20px;
}

.labels-font {
  font-family: 'Chivo', sans-serif;
  font-size: 14px;
  color: #FFFFFF;
}

.disable-select {
  user-select: none;
}

.header-row {
  border-top: solid 1px #6d757b;
  border-bottom: solid 1px #6d757b;
  padding: 15px 0;
}

.gray-font-color {
  color: #9b9b9b;
}

.orange-font-color {
  color: #ffa726;
}

.green-font-color {
  color: #8bc34a;
}

.progress-bar-font {
  font-family: 'PT Mono';
  font-size: 12px;
}

.item-row {
  padding: 20px 0;
  border-bottom: solid 1px #6d757b;
}

.line-height-header {
  line-height: 28px;
}

.order-arrow {
  font-size: 28px;
  height: 28px;
  width: 28px;
}


.loading {
  margin-top: 15px;
}