<div class="table-container labels-font">

  <!--header-->
  <div fxLayout="row" class="header-row">

    <!--class name header-->
    <div fxFlex="30" fxLayout="row" fxLayoutAlign="start center" class="cursor-pointer disable-select gray-font-color line-height-header"
         (click)="switchOrder('classNameOrder')">
      <div>
        Class name
      </div>
      <div fxLayoutAlign="center center">
        <md-icon *ngIf="classNameOrder === 'asc'" class="order-arrow">arrow_drop_down</md-icon>
        <md-icon *ngIf="classNameOrder === 'desc'" class="order-arrow">arrow_drop_up</md-icon>
      </div>
    </div>

    <!--average progress-->
    <div fxFlex="17" fxLayout="row" fxLayoutAlign="start center" class="cursor-pointer disable-select green-font-color line-height-header"
         (click)="switchOrder('averageProgressOrder')">
      <div>
        Average Progress
      </div>
      <div fxLayoutAlign="center center">
        <md-icon *ngIf="averageProgressOrder === 'asc'" class="order-arrow">arrow_drop_down</md-icon>
        <md-icon *ngIf="averageProgressOrder === 'desc'" class="order-arrow">arrow_drop_up</md-icon>
      </div>
    </div>

    <!--average score-->
    <div fxFlex="15" fxLayout="row" fxLayoutAlign="start center" class="cursor-pointer disable-select orange-font-color line-height-header"
         (click)="switchOrder('averageScoreOrder')">
      <div>
        Average Score
      </div>
      <div fxLayoutAlign="center center">
        <md-icon *ngIf="averageScoreOrder === 'asc'" class="order-arrow">arrow_drop_down</md-icon>
        <md-icon *ngIf="averageScoreOrder === 'desc'" class="order-arrow">arrow_drop_up</md-icon>
      </div>
    </div>
  </div>

  <!--data-->
  <ng-container *ngIf="classLearnerProgresses">

  <div fxLayout="column" class="item-row" *ngFor="let classLearnerProgress of classLearnerProgresses; let i = index;">

    <div fxLayout="row">
      <!--class name data-->
      <div fxFlex="25">
        {{classLearnerProgress.className}}
      </div>

      <!--space between name and bars-->
      <div fxFlex="5"></div>

      <!--progress bars-->
      <div fxFlex="45" class="progress-bar-font">
        <div class="margin-bottom-20">
          <progress-bar [value]="classLearnerProgress.averageProgress" [color]="'green'" [type]="'normal'"></progress-bar>
        </div>
        <progress-bar [value]="classLearnerProgress.averageScore" [color]="'orange'" [type]="'normal'"></progress-bar>
      </div>

      <!--view full class button-->
      <div fxFlex="25" fxLayoutAlign="end start">
        <div fxLayout="row" fxLayoutAlign="start center" class="cursor-pointer disable-select"
             (click)="switchOpen(classLearnerProgress.uuidClassLearnerProgress ,i)">
          <div *ngIf="!isOpenedClass[i]">View Full Class</div>
          <div *ngIf="isOpenedClass[i]">Close Full Class</div>
          <div fxLayoutAlign="center center">
            <md-icon *ngIf="!isOpenedClass[i]">arrow_drop_down</md-icon>
            <md-icon *ngIf="isOpenedClass[i]">arrow_drop_up</md-icon>
          </div>
        </div>
      </div>
    </div>

    <!--student rows-->
    <loading [state]="isFetchingStudents[i]" class="loading" *ngIf="isFetchingStudents[i]"></loading>
    <div *ngIf="isOpenedClass[i] && !isFetchingStudents[i]" class="margin-top-20">
      <div fxLayout="column" *ngFor="let student of classLearnerProgress.students" class="margin-top-20">
        <div fxLayout="row">
          <!--space before name-->
          <div fxFlex="13"></div>
          <!--student name-->
          <div fxFlex="12" (click)="showLearnerProgress(student.learnerUuid)" class="cursor-pointer disable-select">
            {{student.name}}
          </div>
          <!--space after name-->
          <div fxFlex="5"></div>

          <!--students progress bars-->
          <div fxFlex="45" class="progress-bar-font">
            <div class="margin-bottom-20">
              <progress-bar [value]="student.averageProgress" [color]="'green'" [type]="'normal'"></progress-bar>
            </div>
            <progress-bar [value]="student.averageScore" [color]="'orange'" [type]="'normal'"></progress-bar>
          </div>

        </div>
      </div>
    </div>

  </div>
  </ng-container>

  <loading [state]="fetching"></loading>
</div>
