<div class="background">
  <app-top-bar [nav]="end" [type]="'superUser'" (chatOpenEmitter)="toggleChat(true)"></app-top-bar>
  <div class="container fixed-top margin-top-15">
    <div class="learnbox-container">
      <div fxFlexFill *ngIf="router.isActive('/super-user', true)">
        <div class="welcome-box">
          <div class="welcome-message" fxLayoutAlign="left center"> Welcome back Matt Everest! Get started by
            selecting a task...
          </div>
        </div>
      </div>
      <div fxLayout="row" class="navigation" fxLayoutGap="27px">
        <div fxFlex="25" class="navigation-box">
          <black-button
            [icon]="'person_add'"
            [text]="'User Setup'"
            [active]="router.isActive('/super-user/user-setup', false)"
            routerLink="/super-user/user-setup/add-learner"></black-button>
        </div>
        <div fxFlex="25" class="navigation-box">
          <black-button
            [icon]="'assignment'"
            [text]="'Course Setup'"
            [active]="router.isActive('/super-user/course-setup', false)"
            routerLink="/super-user/course-setup"></black-button>
        </div>
        <div fxFlex="25" class="navigation-box">
          <black-button
            [icon]="'data_usage'"
            [text]="'Enrolment'"
            [active]="router.isActive('/super-user/enrolment', false)"
            routerLink="/super-user/enrolment"></black-button>
        </div>
        <div fxFlex="25" class="navigation-box">
          <black-button
          [icon]="'play_circle_outline'"
          [text]="'Statistics'"
          [active]="false"></black-button>
        </div>
        <div fxFlex="25" class="navigation-box">
          <black-button
          [icon]="'play_circle_outline'"
          [text]="'Review'"
          [active]="false"></black-button>
        </div>
      </div>
    </div>
  </div>
  <div class="super-user-container content-margin" [ngClass]="{'smaller-margin': !router.isActive('/super-user', true)}">
    <div class="learnbox-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
