<div class="custom-modal-container">
  <div class="custom-modal-header">
    {{context.title}}
  </div>
  <div class="custom-modal-body">
    {{context.body}}
  </div>
  <div class="close-button">
    <black-small-button (click)="closeModal()" [width]="60" [height]="40" [text]="'OK'"></black-small-button>
  </div>
</div>

