.colors-for-content {
  background-color: #212121;
  color: #ffffff;
}

.dashboard-container{
  margin-top: 20px;
  font-family: 'Chivo', sans-serif;
}

.dashboard-item{
  background-color: #212121;
  color: #fff;
  padding: 40px;
  margin-bottom: 20px;
  font-family: 'Chivo', sans-serif;

}

.section-title{
  font-size: 17px;
  margin-bottom: 20px;
  font-weight: 300;
}
.course-row,
.classe-row{
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  padding-top: 18px;
  padding-bottom: 18px;
}
.course-row::before,
.course-row::after,
.classe-row::before,
.classe-row::after{
  display: table;
  content: "";
  line-height: 0;
}
.course-row::after,
.classe-row::after{
  clear: both;
}
.course-row:last-child,
.classe-row:last-child{
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.course-img,
.classe-name{
  float: left;
}
.course-img{
  max-height: 30px;
}
.view-course,
.view-classe{
  float: right;
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
.course-row {
  padding-top: 15px;
  padding-bottom: 15px;
}
.course-row .view-course{
  line-height: 30px;
}
.toolbar-bottom {
  margin-top: 60px;
}
.toolbar-bottom button{
  background: none;
  border: none;
  height: 15px;
  line-height: 15px;
  padding-right: 20px;
  position: relative;
}
.toolbar-bottom button::after{
  position: absolute;
  right: 0px;
  top: 5px;
  content: "";
  border-top: 0;
  border-bottom: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.toolbar-bottom button.less::after{
  border-top: 4px dashed;
  border-bottom: 0;
}
.classes-list.less .classe-row:nth-child(1n+4){
  display: none;
}
