<div class="dashboard-container">
  <div fxLayout="row" fxLayoutGap="22px">
    <div fxFlex="50">
      <div fxLayout="column">
        <div class="dashboard-item">
          <div class="section-title">
            My Courses
          </div>
          <div class="courses-list">
            <div *ngFor="let course of examinerCourses" class="course-row">
              <img class="course-img" [src]="course.img">
              <div class="view-course" routerLink="">
                View
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex="50">
      <div fxLayout="column">
        <div class="dashboard-item">
          <div class="section-title">
            My Classes
          </div>
          <div id="classesList" class="classes-list less"> <!--zmenit class less|more-->
            <div *ngFor="let classe of examinerClasses" class="classe-row">
              <div class="classe-name" [innerText]="classe.teacherName + ' - ' + classe.subjectName + ' - ' + classe.note"></div>
              <div class="view-classe" routerLink="">
                View
              </div>
            </div>
          </div>
          <div class="toolbar-bottom">
            <button id="toggleButton" class="less" (click)="showMoreLessClasses()">Show More</button> <!--zmenit class less|more-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
