<div>
  <div class="module-name-row" fxLayout="row">
    <div class="learnbox-input margin-bottom-20">
      <input type="text" placeholder="Tutorial name" required [(ngModel)]="tutorial.name" name="moduleName" class="tutorial-name">
    </div>
    <div (click)="toggle()">
      <div *ngIf="!expanded">+</div>
      <div *ngIf="expanded">-</div>
    </div>
  </div>
</div>