input[type=checkbox] {
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 22px;
  visibility: hidden;
}

input[type=checkbox]:after {
  content: " ";
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;;
  width: 30px;
  height: 30px;
  visibility: visible;
  border: 1px solid #ffffff;
  border-radius: 1px;
}

input[type=checkbox]:checked:after {
  content: "\2714";
  font-family: Montserrat;
  display: flex;
  align-items: center;
  justify-content: center;
}
