
<div *ngFor="let item of items">
  <p>{{item.name}} <input type="checkbox" [ngModel]="item.selected == true" (ngModelChange)="item.selected=$event? true:false"> </p>
</div>
<div *ngFor="let item of items">
  <p>{{item.name}} {{item.selected}} </p>
</div>
