<div fxLayout="row" fxLayoutGap="20px">
  <app-grey-container fxFlex="65">
    <div class="section-title-underlined">
      Learner Information
    </div>
    <form (ngSubmit)="addNewTutor($event)">
      <div fxLayout="row" class="margin-top-30">
        <div fxFlex="20">
          <div class="setup-label margin-bottom-20">
            Name
          </div>
          <div class="setup-label margin-bottom-20">
            Company
          </div>
        </div>
        <div fxFlex="80">
          <div class="form-group">
            <div class="learnbox-learner-input name-input margin-bottom-20">
              <input type="text"
                     placeholder="Alex Humphries"
                     required
                     [(ngModel)]="addTutorExaminer.name"
                     name="addLearnerName">
            </div>
          </div>
          <div class="form-group">
            <div class="learnbox-input margin-bottom-20">
              <input type="text"
                     placeholder="Auto Consulting"
                     [(ngModel)]="addTutorExaminer.company"
                     name="addLearnerCompany">
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row" class="margin-bottom-5">
        <div fxFlex="20">
          <div class="setup-label margin-bottom-20">
            Address
          </div>
        </div>
        <div fxFlex="80">
          <div class="form-group">
            <div class="learnbox-input">
              <div>
                <input type="text"
                       placeholder="Address line 1"
                       [(ngModel)]="addTutorExaminer.street"
                       name="addLearnerStreet">
              </div>
              <div>
                <input type="text"
                       placeholder="Town / City"
                       [(ngModel)]="addTutorExaminer.city"
                       name="addLearnerCity">
              </div>
              <div>
                <input type="text"
                       placeholder="Post code"
                       [(ngModel)]="addTutorExaminer.zipCode"
                       name="addLearnerZipCode">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="20">
          <div class="setup-label margin-bottom-20">
            Email
          </div>
          <div class="setup-label margin-bottom-20">
            Phone No.
          </div>
        </div>
        <div fxFlex="80">
          <div class="form-group">
            <div class="learnbox-input margin-bottom-20">
              <input type="text"
                     placeholder="info@autoconsulting300.com"
                     required
                     [(ngModel)]="addTutorExaminer.email"
                     name="addLearnerEmail">
            </div>
          </div>
          <div class="form-group">
            <div class="learnbox-input margin-bottom-20">
              <input type="text"
                     placeholder="0207 435 8736"
                     [(ngModel)]="addTutorExaminer.phoneNumber"
                     name="addLearnerPhoneNumber">
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="10px" class="margin-top-20">
        <div fxFlex="25">
          <black-small-button [text]="'+ ADD NEW'"></black-small-button>
        </div>
        <div fxFlex="75">
        </div>
      </div>
    </form>
    <div fxLayout="row" fxLayoutGap="10px" class="margin-buttons">
      <div fxFlex="25">
      </div>
      <div fxFlex="75">
        <div class="right-button">
          <black-small-button [text]="'ADD USER'"></black-small-button>
        </div>
        <div class="right-button margin-right-20">
          <black-small-button [text]="'REMOVE'"></black-small-button>
        </div>
      </div>
    </div>
    <div class="active-courses" *ngIf="viewType === 'tutor'">
      <div class="section-title-underlined">
        Active Courses
      </div>
      <div class="courses-list">
        <div *ngFor="let course of activeCoursesList" class="list-row">
          <img src="{{course.courseLogo}}">
          <div class="since">
            Since {{course.since}}
          </div>
        </div>
      </div>
    </div>
    <div class="add-client" *ngIf="viewType === 'examiner'">
      <div class="section-title-underlined">
        Add Client
      </div>
      <div fxLayout="row" class="add-client-row">
        <div fxFlex="20">
          Select Client
        </div>
        <div fxFlex="80">
          <div class="custom-checkbox">
            <md-select placeholder="Select Client">
              <md-option [value]="client">Client 01</md-option>
              <md-option [value]="client">Client 01</md-option>
              <md-option [value]="client">Client 01</md-option>
              <md-option [value]="client">Client 01</md-option>
              <md-option [value]="client">Client 01</md-option>
              <md-option [value]="client">Client 01</md-option>
            </md-select>
          </div>
        </div>
      </div>
      <black-small-button [text]="'SUBMIT'"></black-small-button>
    </div>
  </app-grey-container>
  <app-grey-container fxFlex="35" class="move-to-top">
    <div class="section-title-underlined">
      Edit Existing Users
    </div>
    <div class="default-tabs divider">
      <md-tab-group [selectedIndex]="selectedRole === 'TUTOR' ? 1 : 0" class="full-width-labels" (selectChange)="onTabClick($event)">
        <md-tab label="Examiner" fxFlex="33" (click)="showUsers('EXAMINER')"></md-tab>
        <md-tab label="Tutor" fxFlex="33" (click)="showUsers('TUTOR')"></md-tab>
        <md-tab label="Learner" fxFlex="33" (click)="showUsers('STUDENT')"></md-tab>
      </md-tab-group>
    </div>
    <div class="form-group border-bottom">
      <div class="learnbox-input margin-bottom-20 margin-top-20">
        <input class="full-width" type="text" placeholder="Search by name ...">
      </div>
    </div>
    <div class="table-container user-list" *ngIf="existingUsers">
      <infinity-scroll-table [tableType]="tableType" [role]="selectedRole" [requestOptions]="requestOptions" [tableData]="existingUsers"></infinity-scroll-table>
    </div>
  </app-grey-container>
</div>




