.section-title-underlined{
  font-size: 15px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 300;
}

.setup-label{
  line-height: 40px;
  font-size: 13px;
}

.name-input{
  width: 80% !important;
}

.right-button{
  float: right;
}

.margin-buttons{
  margin-top: -40px;
}

.active-courses, .add-client{
  margin-top: 50px;
}

.list-row{
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.list-row img{
  width: 80px;
  height: 30px;
}

.since{
  color: #9b9b9b;
  font-weight: 300;
  font-size: 14px;
  float: right;
}

.courses-list{
  margin-top: -15px;
}

.move-to-top{
  margin-top: -260px;
}

.divider{
  padding-bottom: 10px;
  padding-top: 5px;
  border-bottom: 1px solid #6d757b;
}

.border-bottom{
  border-bottom: 1px solid #6d757b;
}

.user-list{
  margin-top: -10px;
}

.custom-checkbox md-select {
  color: white;
  width: 250px;
  height: 40px;
  background: white;
}

.add-client-row{
  height: 120px;
  line-height: 120px;
  margin-top: -15px;
}
