.module-name-row {
    display: flex;
    margin-bottom: 10px;
}

.module-name {
    flex-grow: 1;
}

.expand-collapse-button {
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #9b9b9b;
    color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin: 0 10px;
}

.section-title-underlined{
    font-size: 15px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-weight: 300;
}

.tutorials {
    margin: 10px;
    padding: 10px;
    background-color: #040404;
}
