<div>
  <div class="module-name-row" fxLayout="row" fxLayoutAlign="center center">
    <div class="learnbox-input module-name">
      <input type="text" placeholder="Module name" required [(ngModel)]="module.name" name="moduleName" class="full-width">
    </div>
    <div (click)="toggle()" class="expand-collapse-button">
      <div *ngIf="!expanded">+</div>
      <div *ngIf="expanded">-</div>
    </div>
    <div>
      <>
    </div>
  </div>

  <div *ngIf="expanded">
    <div>
      Module Number: {{position}}
    </div>

    <div class="tutorials">
      <div class="section-title-underlined">Tutorials</div>
      <div *ngFor="let tutorial of module.tutorials; let index = index;">
        <app-course-tutorial-detail [tutorial]="module[index]"></app-course-tutorial-detail>
      </div>
    </div>
  </div>
</div>