.section-title-underlined{
  font-size: 15px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 300;
}

.setup-label{
  line-height: 40px;
  font-size: 13px;
}

.name-input{
  width: 80% !important;
}

.quick-tip{
  line-height: 40px;
  font-weight: 300;
}

.quick-tip a{
  color: #9b9b9b;
}

.divider{
  padding-bottom: 10px;
  padding-top: 5px;
  border-bottom: 1px solid #6d757b;
}

.submit-outside-form{
  margin-top: -40px;
}

.border-bottom{
  border-bottom: 1px solid #6d757b;
}

.inputFile{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputFile + label{
  width: 180px;
  height: 40px;
  background-color: #000;
  text-align: center;
  padding-top: 11px;
  font-family: 'Chivo', sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}
