<div class="examiner-background">
  <app-top-bar [nav]="end"
               [type]="'examiner'"
               (chatOpenEmitter)="toggleChat(true)"></app-top-bar>
  <div class="examiner-container fixed-top margin-top-15">
    <div class="learnbox-container">
      <div fxFlexFill *ngIf="router.isActive('/examiner', true)">
        <div class="welcome-box">
          <div class="welcome-message" fxLayoutAlign="left center"> Welcome back Matt Everest! Get started by
            selecting a task...
          </div>
        </div>
      </div>
      <div fxLayout="row" class="examiner-navigation" fxLayoutGap="20px">
        <div fxFlex="50" class="navigation-box">
          <black-button [icon]="'data_usage'"
                        [text]="'Progress'"
                        [active]="getProgressButtonStatus()"
                        routerLink="/examiner/progress"></black-button>
        </div>
        <div fxFlex="50" class="navigation-box">
          <black-button [icon]="'play_circle_outline'"
                        [text]="'Review'"
                        [active]="router.isActive('/examiner/review', false)"
                        routerLink="/examiner/review"></black-button>
        </div>
      </div>
    </div>
  </div>
  <div class="examiner-container content-margin">
    <div class="learnbox-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
