.examiner-background {
  height: 100%;
  background-color: #424242;
}

.examiner-container {
  background-color: #424242;
}
.margin-top-15{
  margin-top: 15px;
}

.fixed-top{
  position: fixed;
  top: 45px;
  width: 100%;
  padding-bottom: 20px;
  z-index: 100;
}

.content-margin{
  margin-top: 195px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
}

.smaller-margin{
  margin-top: 195px;
}

.welcome-box{
  height: 60px;
  margin-top: 20px;
  background-color: #3F83FC;
}

.welcome-message{
  font-size: 18px;
  color: #fff;
  padding-left: 40px;
  font-family: 'Chivo', sans-serif;
  font-weight: 300;
  height: 100%;
}

.examiner-navigation{
  margin-top: 20px;
}

.navigation-box{
  height: 95px;
}

progress{
  width: 100%;
}
.learnbox-container{
  height: calc(100% - 20px);
  overflow: visible;
}
