#controller1{
  width: 250px;
  height: 350px;
  background: white;
  position: absolute;
  top:140px;
  left: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  z-index: 100;

  .h1{
    width:100%;
    text-align: center;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0px 3px 3px rgba(0, 0, 0, 0.24);
    padding:10px 15px;
    cursor: move;
    background-color: #03A9F4;
    color: white;

  }
  .fakeadd{
    text-align: center;
    cursor: pointer;
    color:  rgb(111, 90, 90);
    padding: 10px 15px;
    &:hover{
      background: rgba(0,0,0,.1);
    }
  }

}

.controller-input{
    width: 85%;
    border: none;
}
.coloredIndex{
  color: #4e4e4e;
}
.oneItem{
  input{
    color: #797979;

  }
  .answer{
    background: none;
    border: none;
    padding: 5px 15px;
    color: #3f3f3f;

  }
}
#itemsContainer{
  max-height: calc(100% - 139px);
  overflow-y: auto;
}
.itemCont{

  padding: 10px;
  div{
    padding:5px 10px;
  }
}
