<div id="controller1" #controller [hidden]="ishidden">
  <h3 class="h1">{{panelName}}</h3>
  <div id="itemsContainer">
    <div class="itemCont" *ngFor="let item of dataToShow; let i = index">
      <h4 class="oneItem" >
        <span class="coloredIndex">{{i+1}}.</span>
        <input (input)="changedSomething(item)" [(ngModel)]="item.name" class="controller-input">
        <input class="answer" [(ngModel)]="item.value">
      </h4>
    </div>
  </div>
  <h4 class="fakeadd" (click)="fakeAnswer()">Add fake answer</h4>
</div>
