@import url(https://fonts.googleapis.com/css?family=Montserrat);

.resetPassword {
  width: 487px;
  height: 487px;
  object-fit: contain;
  background-color: #d8d8d8;
  border: solid 1px #979797;
  color: #333;
}

.reset-header h1 {
  height: 19px;
  font-size: 16px;
  letter-spacing: 3.6px;
  padding-top: 36px;
  text-align: center;
}

.reset-body {
  width:250px;
}

a{
  color: #3f83fc;
}

p, a {
  height: 17px;
  object-fit: contain;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.7;
  letter-spacing: 2.2px;
  text-align: center;
}

.reset-error p {
  color: #ff584d;
  padding-top: 17px;
}

.reset-message p {
  color: #8bc34a;
  padding-top: 17px;
}

.center-resetPassword {
  height:auto;
}

@media screen and (min-height: 500px) {
  .center-resetPassword{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
