<div class="center-resetPassword">
  <div class="container resetPassword">

    <!--Header = title-->
    <div class="reset-header">
      <h1>RESET YOUR PASSWORD</h1>
      <p style="margin-top: 30px">Enter your email address to receive instructions <br> on resetting your password.</p>
    </div>

    <!--Body = reset forms and button-->
    <div class="reset-body center-block">
      <div style="margin-top: 80px">
        <bordered-input style="width: 250px" [placeholder]="'Email address'" [(name)]="emailAddress"
                        [inputType]="'email'"></bordered-input>
      </div>
      <div *ngIf="error" class="reset-error">
        <p>{{error}}</p>
      </div>
      <div *ngIf="message" class="reset-message">
        <p>{{message}}</p>
      </div>
      <div class="" style="margin-top: 30px; text-align: center">
        <blue-button [buttonTitle]="'RESET PASSWORD'" (click)="reset(emailAddress)"></blue-button>
      </div>
    </div>

    <!--Footer = link for return back to login-->
    <div class="login-footer" style="margin-top: 130px; text-align: center">
      <a routerLink="/login">Return to login</a>
    </div>

  </div>
</div>
