<div class="input-button center-block">
    <input #input *ngIf="inputType === 'password'" [ngModel]="name" (ngModelChange)="nameChange.emit($event)" placeholder="{{placeholder}}" required required autocomplete="off" type="password">
    <input #input *ngIf="inputType === 'email'" [ngModel]="name" (ngModelChange)="nameChange.emit($event)" placeholder="{{placeholder}}" required autocomplete="off" required type="email">
    <input #input *ngIf="inputType === 'date'" [ngModel]="name" (ngModelChange)="nameChange.emit($event)" placeholder="{{placeholder}}" required type="date">
    <input #input *ngIf="inputType === ''" [ngModel]="name" (ngModelChange)="nameChange.emit($event)" placeholder="{{placeholder}}" required autocomplete="off">
</div>
