/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';
/*@import url('https://fonts.googleapis.com/css?family=PT+Mono&amp;subset=cyrillic,cyrillic-ext,latin-ext');*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Chivo:300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext');

/* google font is not same PTmono as this local PTmono (PTmono used on screenshots) !! */
@font-face {
  font-family: PTMonoRegular;
  src: url(/assets/PTM55FT.ttf);
}

@font-face {
  font-family: MontserratRegular;
  src: url(/assets/Montserrat-Regular.otf);
}

@font-face {
  font-family: MontserratLight;
  src: url(/assets/Montserrat-Light.otf);
}

@font-face {
  font-family: MontserratExtraLight;
  src: url(/assets/Montserrat-ExtraLight.otf);
}

@font-face {
  font-family: ChivoLight;
  src: url(/assets/Chivo-Light.otf);
}

@font-face {
  font-family: ChivoRegular;
  src: url(/assets/Chivo-Regular.ttf);
}

html, body, material-app, md-sidenav-layout, .my-content {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #212121;
  font-family: MontserratRegular;
}

.learnbox-container {
  /*padding-right: 15px;*/
  /*padding-left: 15px;*/
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .learnbox-container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .learnbox-container {
    width: 970px;
  }
}

@media (min-width: 1190px) {
  .learnbox-container {
    width: 1200px;
  }
}

@media (min-width: 1400px) {
  .learnbox-container {
    width: 1400px;
  }
}

.learnbox-input input {
  color: #9D9D9D !important;
  width: 250px;
  height: 40px;
  padding: 5px 22px;
  font-size: 13px;
}

.learnbox-learner-input input {
  color: #9D9D9D !important;
  width: 100%;
  height: 40px;
  padding: 5px 22px;
  font-size: 13px;
}

.learnbox-select select {
  cursor: pointer;
  color: #fff !important;
  width: 250px;
  height: 40px;
  padding: 5px 29px;
  font-size: 13px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  background-color: #3F83FC;
  border: 1px solid #fff;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 20px);
  background-position-y: 7px;
}

.centered-select {
  text-align-last: center;
}

.learnbox-select-white select {
  color: #9D9D9D !important;
  background-color: #fff !important;
  background-image: url("data:image/svg+xml;utf8,<svg fill='#9D9D9D' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");

}

.md-tab-label {
  min-width: 30px !important; /*decrease width of md-tab labels*/
  font-size: 10px !important; /*make tab headers stand out more*/
  margin-right: 10px;
  background-color: #979797;
}

.md-tab-list {
  height: 8px;
  justify-content: flex-end !important;
}

.md-tab-header {
  border-style: none;
  margin-bottom: 10px;
}

md-ink-bar {
  height: 8px !important;
  background-color: #3f83fc !important;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100% !important;
}

.default-tabs .md-tab-list {
  height: 40px !important;
  justify-content: flex-start !important;
}

.default-tabs md-ink-bar {
  height: 0 !important;
  width: 0 !important;
}

.default-tabs .md-tab-label {
  font-size: 14px !important;
  margin-right: 0 !important;
  background-color: #fff;
  opacity: 1 !important;
  color: #9B9B9B !important;
  padding: 0 25px !important;
  border-right: 1px solid #e9e9e9;
  height: 40px !important;
  line-height: 40px !important;
  font-family: 'Chivo', sans-serif !important;
  font-weight: 300 !important;
}

.default-tabs .md-tab-label-active {
  background-color: #3F83FC;
  color: #fff !important;
  border-right: 0 !important;
}

.default-tabs .md-tab-body-content {
  font-family: 'Chivo', sans-serif;
}

.full-width-labels .md-tab-label {
  width: 33.3333% !important;
}

.margin-bottom-40 {
  margin-bottom: 40px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.padding-left-30 {
  padding-left: 30px !important;
}

.padding-left-20 {
  padding-left: 20px;
}

.padding-left-10 {
  padding-left: 10px !important;
}

.cursor-pointer {
  cursor: pointer;
}

.text-align-right {
  text-align: right !important;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.height-auto {
  height: auto !important;
}

.position-relative {
  position: relative;
}

.md-sidenav-backdrop.md-sidenav-shown {
  transition: background-color 1s cubic-bezier(.25, .8, .25, 1) !important;
}

.modal-dialog {
  position: relative !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

md-sidenav {
  width: 350px !important;
  background-color: #212121 !important;
  color: #ffffff !important;
  z-index: 1000 !important;
  transition: transition 4s cubic-bezier(.25, .8, .25, 1) !important;
}

@media screen and (max-width: 370px) {
  md-sidenav {
    width: 280px !important;
  }
}

#lecture_player, #lecture_player1 {
  letter-spacing: 0.7px;
  padding: 20px;

}

#lecture_player input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: transparent;
}

#lecture_player input::-moz-placeholder { /* Firefox 19+ */
  color: transparent;
}

#lecture_player input:-ms-input-placeholder { /* IE 10+ */
  color: transparent;
}

#lecture_player input:-moz-placeholder { /* Firefox 18- */
  color: transparent;
}

#lecture_player1 input {
  color: white;
  margin: 2.5px;
  display: inline;
  padding: 5px 7.5px 5px 7.5px;
  border: none;
  text-align: center;
  outline: none;
}

#lecture_player input {
  color: black;
  background: white;
  margin: 2.5px;
  display: inline;
  padding: 5px 7.5px 5px 7.5px;
  border: none;
  text-align: center;
  outline: none;

}

projection .checkInput, projection .druhyInput {
  border: none;
  outline: none;
  padding: 0px 14px !important;
  background: transparent !important;
  font-size: 17px !important;
  color: white;
  display: inline-block !important;
  vertical-align: middle !important;
}

.custom-checkbox .md-select-trigger {
  font-family: ChivoLight !important;
  height: 40px !important;
  color: #9b9b9b !important;
  padding: 0 22px;
  border-bottom: transparent !important;
}

.custom-checkbox .md-select-value {
  width: 100% !important;
  line-height: 41px !important;
  top: 0px !important;
  height: 40px !important;
  background: #3f83fc !important;
  color: white !important;
  padding-left: 22px;
}

.custom-checkbox .md-select-placeholder {
  width: 100% !important;
  padding-top: 4px !important;
  top: 0px !important;
  left: 0 !important;
  font-size: 14px !important;
  transform: scale(1) !important;
}

.custom-checkbox .md-floating-placeholder {
  display: none;
}

.custom-checkbox .md-select-arrow {
  position: absolute !important;
  right: 22px !important;
}

.custom-checkbox .md-checkbox-inner-container {
  margin: 0 25px 0 5px!important;
}

.custom-checkbox .md-checkbox-label {
  color: #757575 !important;
}

.custom-checkbox .md-checkbox-checked.md-accent .md-checkbox-background {
  background-color: #3f83fc !important;
  border: 1px solid white !important;
}

.custom-radio .md-radio-inner-circle {
  background-color: #3f83fc;
}

.custom-radio .md-radio-checked .md-radio-outer-circle {
  border-color: #3f83fc;
}

.custom-radio .md-radio-ripple {
  display: none;
}

.add-learner-label .md-checkbox-label {
  color: #fff !important;
  font-weight: 400 !important;
  margin-left: -10px !important;
}

.containerFlexWrap md-tab-header {
  margin-bottom: 0px !important;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.choose-panel .md-select-value {
  color: white !important;
}

.choose-panel .md-select-trigger {
  border: none !important;
  font-size: 12px
}

.choose-panel .md-select-placeholder {
  color: white;;
}

.choose-panel .md-floating-placeholder {
  display: none !important;
}

.choose-panel .md-select-arrow {
  color: white;
  right: 0;
  position: absolute;
}

app-help {
  flex-grow: 1;
  background-color: #424242;
}

button {
  outline: none;
}

#lecture_player select {
  color: #000;
}

#lecture_player .checkbox-text, #editor-container .checkbox-text {
  padding: 0 !important;
  margin: 0 !important;
  display: inline-block !important;
  width: 20px !important;
  height: 26px !important;
}

#lecture_player .checkbox-material:before, #editor-container .checkbox-material:before {
  width: 0px !important;
  height: 0px !important;
}



.relative-layout {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}
.disable-selection {
//-webkit-user-select: none;
//-moz-user-select: -moz-none;
//-ms-user-select: none;
//user-select: none;
}
.alert-sub-title {
  margin-top: 20px;
}

.alert-head {
  padding-bottom: 0px !important;
}


.checkbox-text {
  padding: 0 !important;
  margin: 0 !important;
  display: inline-block !important;
  width: 20px !important;
  height: 26px !important;
}

.checkbox .checkbox-material:before {
  width: 0px !important;
  height: 0px !important;
}

.brown .checkbox-material .check {
  color: #ffa726!important;
}
.brown .checkbox-material:before {
  background-color: #ffa726!important;
}
.brown input[type=checkbox]:checked + .checkbox-material .check {
  color: #ffa726!important;
}


#lecture_player .check {
  border-color: #212121 !important;
}
