
input {
  width: 100%;
  text-align: right;
  background-color: #48434a;
  color: white;
  border: none;
  font-size: 3em;
  padding: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.calc-container {
  width: 400px;
  height: 600px;
  background-color: black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 205;
  max-width: 90%;
}

#close-calc-button {
  background-color: #818181;
  width: 40px;
  height: 40px;
  font-size: 25px;
  color: white;
  border: none;
  border-radius: 49.9%;
  padding-top: -3px;
  flex: 0 0 40px;
}

#calc-label {
  color: white;
  font-size: 25px;
  flex: 8 0 auto;
  text-align: left;
}

.close-button-container {
  justify-content: flex-start;
  padding: 20px 0px 10px 10px;
}

.calc-container-item {
  width: 90%;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
}

.calc-buttons-container {
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 270px;
  background-color: rgba(255, 255, 255, 0);
  margin-bottom: 20px;
  padding-bottom: 0px;
}

.row {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: stretch;
  flex: 1 1 auto;
}

.calc-button {
  font-size: 2em;
  flex: 1 1 64px;
  background-color: #d8d8d8;
  color: black;
  border-radius: 0;
  border: solid;
  border-color: white;
  border-width: 1px;
  shadow: 0;
  box-shadow: none;
  min-width: 0px !important;
}

.calc-op-button {
  background-color: #3f83fc;
  color: white;
}

#zero-button {
  flex: 0 0 50%;
  border-bottom-left-radius: 8px;
}

#equals-button {
  border-bottom-right-radius: 8px;
}

.no-top-border {
  border-top: none;
}

.no-right-border {
  border-right: none;
}

.no-bottom-border {
  border-bottom: none;
}

.no-left-border {
  border-left: none;
}
