 <div #calccontainer class="calc-container" draggable="true" [style.top]="topPos" [style.left]="leftPos">
    <div class="calc-container-item close-button-container">
      <p id="calc-label">CALCULATOR</p>
      <button id="close-calc-button" (click)="close()">✕</button>
    </div>
    <div class="calc-container-item">
      <input #calcoutput type="text" [value]="output" maxlength="9" disabled />
    </div>
    <div class="calc-container-item calc-buttons-container">
      <div class="row">
        <button md-raised-button class="calc-button no-top-border no-left-border" (click)="performOp('AC')">AC</button>
        <button md-raised-button class="calc-button no-top-border" (click)="performOp('+/-')">+/-</button>
        <button md-raised-button class="calc-button no-top-border" (click)="performOp('%')">%</button>
        <button md-raised-button class="calc-button calc-op-button no-top-border no-right-border" (click)="performOp('/')">÷</button>
      </div>
      <div class="row">
        <button md-raised-button class="calc-button no-left-border" (click)="updateValue(7)">7</button>
        <button md-raised-button class="calc-button" (click)="updateValue(8)">8</button>
        <button md-raised-button class="calc-button" (click)="updateValue(9)">9</button>
        <button md-raised-button class="calc-button calc-op-button no-right-border" (click)="performOp('X')">×</button>
      </div>
      <div class="row">
        <button md-raised-button class="calc-button no-left-border" (click)="updateValue(4)">4</button>
        <button md-raised-button class="calc-button" (click)="updateValue(5)">5</button>
        <button md-raised-button class="calc-button" (click)="updateValue(6)">6</button>
        <button md-raised-button class="calc-button calc-op-button no-right-border" (click)="performOp('-')">&#8211;</button>
      </div>
      <div class="row">
        <button md-raised-button class="calc-button no-left-border" (click)="updateValue(1)">1</button>
        <button md-raised-button class="calc-button" (click)="updateValue(2)">2</button>
        <button md-raised-button class="calc-button" (click)="updateValue(3)">3</button>
        <button md-raised-button class="calc-button calc-op-button no-right-border" (click)="performOp('+')">+</button>
      </div>
      <div class="row">
        <button md-raised-button class="calc-button no-bottom-border no-left-border" id="zero-button" (click)="updateValue(0)">0</button>
        <button md-raised-button id="decimal-button" class="calc-button no-bottom-border" (click)="updateValue('.')">.</button>
        <button md-raised-button class="calc-button calc-op-button no-bottom-border no-right-border" id="equals-button" (click)="performOp('=')">=</button>
      </div>
    </div>
  </div>

