<div *ngIf="!isQuizRunning" class="overview-cont">
  <app-quiz-overview [moduleDetail]="moduleDetail"
                     (emitStart)="startQuiz()"
                     [tutorialDetail]="tutorialDetail"
  ></app-quiz-overview>
</div>
<app-quiz-screen *ngIf="isQuizRunning"
                 [data]="quizData"
                 [time]="tutorialDetail.timeLimit"
                 (submit)="submitQuiz($event)"
                 [enrollmentUuid]="tutorialDetail.enrollmentUuid"
                 [isCalculatorRequired]="isCalculatorRequired">
</app-quiz-screen>
