.section-title-underlined{
  font-size: 15px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 300;
}

.edit{
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  padding-bottom: 15px;
}

.setup-input, .setup-select{
  color: #9D9D9D !important;
}

.setup-left-button{
  float: left;
  margin-top: -20px;
  margin-right: 30px;
  padding-bottom: 5px;
}

.setup-label{
  line-height: 40px;
  font-size: 13px;
}

.or-label{
  line-height: 20px;
  color: #9D9D9D !important;
}

.select-course{
  font-size: 12px;
}

.courses{
  cursor: pointer;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 15px;
  width: 250px;
  height: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  float: left;
  margin-bottom: 60px;
}

.courses-left{
  float: left;
}

.courses-right{
  float: right;
  font-size: 12px;
  line-height: 31px;
  padding-right: 20px;
}

.courses-left img{
  width: 75px;
  height: 27px;
}

.confirmation{
  width: 200px;
  height: 60px;
  border-radius: 3px;
  background-color: #00897B;
  text-align: center;
  font-size: 10px;
  margin-left: 30px;
  text-transform: uppercase;
  padding-top: 17px;
  letter-spacing: 1px;
}

.required-field{
  position: absolute;
  top: 7px;
  left: 232px;
  background-color: transparent;
  color: #cc2d48;
  font-size: 25px;
}

.submit-button{
  position: relative;
  top: 20px;
  left: 45px;
}

.confirm-button{
  width: 180px;
  height: 40px;
  position: absolute;
  margin-left: 45px;
}

.select-container{
  height: 100px;
}

.list-head{
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  height: 60px;
  line-height: 60px;
  color: #9D9D9D !important;
  font-size: 12px;
}

.list-row{
  line-height: 33px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 12px;
  color: #9D9D9D !important;
}

.special-checkbox [type="checkbox"]:not(:checked),
.special-checkbox [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

.special-checkbox [type="checkbox"]:not(:checked) + label,
.special-checkbox [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 3em;
  padding-bottom: 0.7em;
  cursor: pointer;
}

.special-checkbox [type="checkbox"]:not(:checked) + label:before,
.special-checkbox [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 17px;
  height: 17px;
  border: 1px solid #fff;
  background: transparent;
  border-radius: 2px;
}

.special-checkbox label:hover:before {
  border: 1px solid #4778d9!important;
}

.special-checkbox [type="checkbox"]:not(:checked) + label:after,
.special-checkbox [type="checkbox"]:checked + label:after {
  content: '\2713';
  position: absolute;
  top: .25em;
  left: .35em;
  font-size: 1em;
  font-weight: 100;
  line-height: 0.8;
  color: #fff;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.special-checkbox [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.special-checkbox [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

@media screen and (max-width: 1200px) {
  .confirmation{
    width: 131px!important;
    padding-top: 11px!important;
  }

}