<div fxLayout="row" fxLayoutGap="17px">
  <app-grey-container fxFlex="66">
    <div class="section-title-underlined">
      Class Setup / Enrolment
    </div>
    <div class="default-tabs">
      <md-tab-group>
        <md-tab label="Add New Class">
          <div fxLayout="row" class="margin-top-30">
            <div fxFlex="20">
              <div class="setup-label margin-bottom-20">
                Class Name
              </div>
              <div class="setup-label margin-bottom-20">
                Client / Tutor
              </div>
              <div class="setup-label">
                Add a Student
              </div>
              <div class="or-label">
                or
              </div>
              <div class="setup-label">
                Add Multiple Users
              </div>
            </div>
            <div fxFlex="80">
              <form (ngSubmit)="createClass()">
                <div class="form-group">
                  <div class="learnbox-input margin-bottom-20">
                    <input type="text" placeholder="CLASS 01" id="className"
                           required
                           [(ngModel)]="classSetUp.name" name="className">
                  </div>
                </div>
                <div class="form-group">
                  <div class="learnbox-select margin-bottom-20">
                    <select id="tutor"
                            required
                            [(ngModel)]="classSetUp.tutor" name="tutor"
                            #tutor="ngModel">
                      <option default disabled selected [value]="'select'">select client / tutor</option>
                      <option *ngFor="let tut of tutors" [value]="tut">{{tut}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="learnbox-input margin-bottom-20">
                    <input type="text" placeholder="Select Student" id="student"
                           required
                           [(ngModel)]="classSetUp.student" name="student">
                  </div>
                </div>

                <div class="form-group">
                  <div class="learnbox-input margin-bottom-20">
                    <input type="text" placeholder="+Upload File" id="students"
                           [(ngModel)]="classSetUp.students" name="students">
                  </div>
                </div>

                <div class="submit-button">
                  <black-small-button [text]="'Submit'"></black-small-button>
                </div>
              </form>
            </div>
          </div>
          <div class="setup-left-button">
            <black-small-button [text]="'Preview class'"></black-small-button>
          </div>
        </md-tab>
        <md-tab label="Edit Existing Class" disabled></md-tab>
      </md-tab-group>
    </div>
    <div class="margin-top-30">
      <div class="section-title-underlined">
        Add Learning to a Class
      </div>
      <div fxLayout="row" class="margin-top-30">
        <div fxFlex="20">
          <div class="setup-label margin-bottom-20">
            Select Class
          </div>
          <div class="select-course">
            Select Course for<br>
            Class to Study
          </div>
        </div>
        <div fxFlex="80">
          <form (ngSubmit)="addLearningToClass()">
            <div class="learnbox-select margin-bottom-20">
              <div class="form-group">
                <div class="learnbox-select margin-bottom-20">
                  <select id="class"
                          required
                          [(ngModel)]="selectedClass" name="class">
                    <option disabled selected value>select class</option>
                    <option *ngFor="let class of classes" [value]="class">{{class}} (1 Learner)</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="select-container">
              <div class="courses" (click)="selection = !selection">
                <div class="courses-left">
                  <img src="../../../../assets/english.png">
                </div>
                <div class="courses-right">
                  20 / 300 Credits
                </div>
              </div>
              <div class="float-left confirmation" *ngIf="selection">
                1 Learner in {{selectedClass}}<br> to study english boxed
              </div>

            </div>

            <div class="confirm-button">
              <black-small-button [text]="'Click to confirm'"></black-small-button>
            </div>
          </form>
        </div>
      </div>
      <div class="setup-left-button">
        <black-small-button [text]="'Get more credits'"></black-small-button>
      </div>
    </div>
  </app-grey-container>
  <div fxFlex="33">
    <app-grey-container color="GREEN" [style]="{height: '300px'}">
      <div class="section-title-underlined">
        Tips
      </div>
      <div class="edit">
        &#9679;  Select or create a class on the left hand side<br>
        &#9679;  Add and remove Learners from the list below to edit the class<br>
        &#9679;  Set them Learning by using your credits below to the left<br>
      </div>
    </app-grey-container>
    <app-grey-container>
      <div class="section-title-underlined">
        Learner List
      </div>
      <div class="learnbox-select learnbox-select-white margin-bottom-20">
        <select class="full-width centered-select">
          <option value="mkeverest">ADD LEARNERS TO A CLASS</option>
        </select>
      </div>
      <div fxLayout="row" fxLayoutGap="18px">
        <div fxFlex="50">
          <div class="learnbox-select learnbox-select-white margin-bottom-20">
            <select class="full-width">
              <option value="mkeverest">Name A - Z</option>
            </select>
          </div>
        </div>
        <div fxFlex="50">
          <div class="learnbox-select learnbox-select-white margin-bottom-20">
            <select class="full-width">
              <option value="mkeverest">Date Added</option>
            </select>
          </div>
        </div>
      </div>
      <div class="list-head">
        <div fxLayout="row">
          <div fxFlex="35">
            Name
          </div>
          <div fxFlex="30">
            Date Added
          </div>
          <div fxFlex="35" class="text-align-right">
            Select
          </div>
        </div>
      </div>
      <div *ngFor="let learner of learnerList">
        <div fxLayout="row" class="list-row">
          <div fxFlex="35">
            {{learner.name}}
          </div>
          <div fxFlex="30">
            {{learner.dateAdded}}
          </div>
          <div fxFlex="35" class="text-align-right special-checkbox">
            <input type="checkbox" id="{{learner.name}}" />
            <label for="{{learner.name}}"></label>
          </div>
        </div>
      </div>
    </app-grey-container>
  </div>
</div>
