<div id="controllerGroups" #controllerGroups [hidden]="ishidden">
    <h3 class="h1">{{panelName}}</h3>
    <div id="itemsContainergroup">
        <div *ngFor="let group of groupsData" class="groups">
            <div class="itemCont" *ngFor="let item of group.items; let i = index">
                <h4 class="oneItemg">
                    <div class="groupIndex">{{i+1}}. {{group.out}}</div>
                    <input (input)="changedSomething(groupsData)" [(ngModel)]="item.value" class="controller-inputg">
                </h4>
            </div>
        </div>
    </div>
    <h4 class="groupadd" (click)="addItem()">Add group</h4>
</div>
