#controllerGroups{
  width: 500px;
  height: 350px;
  background: white;
  position: absolute;
  top:140px;
  left: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  z-index: 100;

  .h1{
    width:100%;
    text-align: center;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0px 3px 3px rgba(0, 0, 0, 0.24);
    padding:10px 15px;
    cursor: move;
    background-color: #795548;
    color: white;

  }
  .groupadd{
    text-align: center;
    cursor: pointer;
    color:  #795548;
    padding: 10px 15px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: inline-block;
    margin-top: 0;
    vertical-align: top;
    &:hover{
      background: rgba(0,0,0,.1);
    }
  }


}

.controller-inputg{
    width: 100%;
    border: none;
}
.groupIndex{
  color: #4e4e4e;
  width: 100%;
  text-align: center;
}
.oneItemg{
  input{
    color: #797979;
    text-align: center;

  }
  .answer{
    background: none;
    border: none;
    padding: 5px 15px;
    color: #3f3f3f;

  }
}
#itemsContainergroup{
  max-height: calc(100% - 97px);
  overflow-y: auto;
  .groups{
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }
}
.itemCont{

  padding: 10px;
  div{
    padding:5px 10px;
  }
}
.catname1{
  width: 50%;
  display: inline-block;
  text-align: center;
border: none;
  font-size: 22px;
}
.catname2{
  width: 50%;
  display: inline-block;
text-align: center;
  border: none;
  font-size: 22px;

}
