.button-style{
  background-color: #000;
  text-align: center;
  color: #fff;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.button-text{
  font-family: 'Chivo', sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}
