.footer-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: stretch;
  overflow: hidden;
  width: 100%;
  height: 30px;
}

.footer-item {
  flex: 1 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  padding-top: 8px;
}

a, p {
  color: white;
  font-family: MontserratRegular;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.7px;
  text-align: center;
  vertical-align: middle;
}
