<div class="footer-container" (window:resize)="updateFontSize()">
  <div class="footer-item"><a [style.font-size]="fontSize" href="/privacy">Privacy Policy</a></div>
  <div class="footer-item"><a [style.font-size]="fontSize" href="/cookies">Cookies Policy</a></div>
  <div class="footer-item"><p [style.font-size]="fontSize">© LearnBox 2017</p></div>
</div>
