<div class="dashboard-container">
  <div fxLayout="row" fxLayoutGap="22px">
    <div fxFlex="40">
      <div fxLayout="column">
        <div class="dashboard-item">
          <div class="section-title">
            Actions Required
          </div>
          <div class="default-tabs">
            <md-tab-group>
              <md-tab label="Learners">
                <div class="notification-list">
                  <div *ngFor="let notification of learnersNotifications" class="notification-row">
                    <div class="alert-icon">
                      <i class="material-icons red-icon">add_alert</i>
                    </div>
                    <div *ngIf="notification.time" class="notification-time" [innerText]="notification.time | date"></div>
                    <div class="notification-message" [innerText]="notification.message"></div>
                    <div *ngIf="notification.name" class="notification-name" [innerText]="notification.name"></div>
                    <div class="view-notification" (click)="redirectToActions()">
                      View
                    </div>
                  </div>
                </div>
              </md-tab>
              <md-tab label="Classes">
                <div class="notification-list">
                  <div *ngFor="let notification of classesNotifications" class="notification-row">
                    <div class="alert-icon">
                      <i class="material-icons red-icon">add_alert</i>
                    </div>
                    <div *ngIf="notification.time" class="notification-time" [innerText]="notification.time | date"></div>
                    <div class="notification-message" [innerText]="notification.message"></div>
                    <div class="view-notification" (click)="redirectToActions()">
                      View
                    </div>
                  </div>
                </div>
              </md-tab>
            </md-tab-group>
          </div>
        </div>
        <div class="dashboard-item">
          <div class="section-title">
            Player Review <span class="grey-text">by Performance</span>
          </div>
          <div class="default-tabs">
            <md-tab-group>
              <md-tab label="Highest">
                <div class="review-box">
                  <img class="tutorial-image" src="../../../../assets/tutorial-image.png">
                  <div class="continue">
                    Continue to Review
                  </div>
                  <div class="arrow-box">
                    <i class="material-icons arrow-icon">arrow_forward</i>
                  </div>
                </div>
              </md-tab>
              <md-tab label="Lowest">
                <div class="review-box">
                  <img class="tutorial-image" src="../../../../assets/tutorial-image.png">
                  <div class="continue">
                    Continue to Review
                  </div>
                  <div class="arrow-box">
                    <i class="material-icons arrow-icon">arrow_forward</i>
                  </div>
                </div>
              </md-tab>
            </md-tab-group>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex="60">
      <div fxLayout="column">
        <div class="weekly-summary">
          <div class="section-title-underlined">
            Weekly summary
          </div>
          <div class="row">
            <div class="col-xs-3 summary-data" [innerText]="weeklySummary.activeUsers"></div>
            <div class="col-xs-3 summary-data" [innerText]="weeklySummary.tutorialsCompleted"></div>
            <div class="col-xs-3 summary-data" [innerText]="weeklySummary.averageScore + '%'"></div>
            <div class="col-xs-3 summary-data" [innerText]="weeklySummary.coursesCompleted"></div>
          </div>
          <div class="row">
            <div class="col-xs-3 data-description">Active users</div>
            <div class="col-xs-3 data-description">Tutorials Completed</div>
            <div class="col-xs-3 data-description">Average Test Score</div>
            <div class="col-xs-3 data-description">Courses Completed</div>
          </div>
        </div>

        <div class="statistics">
          <div class="half half-left">
            <div class="dashboard-item">
              <div class="margin-bottom-40 section-title-underlined">
                Top 4 <span class="grey-text">Performing Classes</span>
              </div>
              <canvas baseChart  height="412"
                      [datasets]="topChartData"
                      [labels]="topChartLabels"
                      [options]="barChartOptions"
                      [colors]="topChartColors"
                      [chartType]="'bar'"></canvas>
            </div>
          </div>
          <div class="half half-right">
            <div class="dashboard-item">
              <div class="margin-bottom-40 section-title-underlined">
                Bottom 4 <span class="grey-text">Performing Classes</span>
              </div>
              <canvas baseChart  height="412"
                      [datasets]="bottomChartData"
                      [labels]="bottomChartLabels"
                      [options]="barChartOptions"
                      [colors]="bottomChartColors"
                      [chartType]="'bar'"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
