.colors-for-content {
  background-color: #212121;
  color: #ffffff;
}

.dashboard-container{
  font-family: 'Chivo', sans-serif;
}

.dashboard-item{
  background-color: #212121;
  color: #fff;
  padding: 40px;
  margin-bottom: 20px;
  font-family: 'Chivo', sans-serif;

}

.section-title{
  font-size: 17px;
  margin-bottom: 15px;
  font-weight: 300;
}

.section-title-underlined{
  font-size: 20px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 300;
}

.weekly-summary{
  background-color: #00897B;
  color: #fff;
  padding: 40px;
  margin-bottom: 20px;
}

.half{
  width: 50%;
  float: left;
}

.half-left{
  padding-right: 11px;
}

.half-right{
  padding-left: 11px;
}

.summary-data{
  text-align: center;
  font-size: 32px;
  padding-top: 15px;
}

.data-description{
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 13px;
}

.notification-list{
  margin-top: 10px;
}

.notification-row{
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 15px;
  margin-bottom: 15px;
  height: 35px;
}

.alert-icon{
  float: left;
  margin-right: 15px;
}

.red-icon{
  color: #ee4e45;
  font-size: 19px;
}

.notification-message{
  float: left;
}

.notification-time{
  float: left;
  color: #ee4e45;
  margin-right: 10px;
}

.notification-name{
  float: left;
  color: #ee4e45;
  margin-left: 10px;
}

.view-notification{
  float: right;
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.tutorial-image{
  width: 100%;
}

.review-box{
  margin-top: 10px;
}

.continue{
  margin-top: 15px;
  float: left;
}

.arrow-icon{
  font-size: 14px;
}

.arrow-box{
  margin-top: 17px;
  margin-left: 5px;
  float: left;

}

.grey-text{
  color: rgba(255, 255, 255, 0.4);
}
