.grey-background{
  background-color: #424242;
}

.button-container {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  width: 100%;
  height: 60px;
}

.button-style {
  color: #545454;
  background-color: #f5f5f5;
  padding: 7px 20px;
  cursor: pointer;
}

.button-overview-style {
  border-radius: 3px 0 0 3px;
  width: 110px;
  float: left;
}

.button-detailed-view-style {
  border-radius: 0 3px 3px 0;
  width: 150px;
  float: left;
}



.full-width-color {
  width: 100%;
  background-color: #d8d8d8;
  display: flex;
  justify-content: center;
}

.total-score-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 420px;
  font-family: Montserrat;
  color: #4a4a4a;
}

.overview-container {
  flex: 2 1 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding-bottom: 30px;
}

.items-container {
  flex: 1 1 500px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  border-top: 1px solid #979797;
}

.item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.item-title {
  font-size: 12px;
  letter-spacing: 2.7px;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.item-border-right {
  border-right: 1px solid #979797;
}

.progress-bar-style {
  flex: 1 1 500px;
  padding: 20px;
  fill: #4a4a4a;
}

.progress-bar-size {
  max-width: 650px;
  fill: #4a4a4a;
}

.item-number {
  font-family: "PT Mono";
  font-size: 24px;
  font-weight: bold;
  color: #ffa726;
}

.total-score-title {
  font-size: 16px;
  letter-spacing: 3.6px;
  flex: 1 1 100px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}



.top-left-padding {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
}







.button-active {
  color: #ffffff;
  background-color: #3f83fc;
}

.height-labels-box {
  height: 100px;
}

.temp-border {
  border: solid 1px white;
}

.white-text {
  color: #ffffff;
}

.progress-bar-style-detailed-view {
  width: 80%;
  fill: #ffffff;
  margin-top: 50px
}

.title-detailed-view {
  font-family: "PT Mono";
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.labels-detailed-view {
  font-family: "Montserrat";
  font-size: 15px;
  line-height: 1.67;
  color: #ffffff;
}

.border-top-white {
  border-top: solid 1px white;
}

.border-right-white {
  border-right: solid 1px white;
}

.border-left-white {
  border-left: solid 1px white;
}

.border-bottom-white {
  border-bottom: solid 1px white;
}

.item-title-detailed-view {
  font-size: 12px;
  letter-spacing: 2.7px;
  padding-top: 20px;
  text-align: center;
}

.labels-margin-top {
  margin-top: 20px;
}

.download-icon-size {
  width: 32px;
  height: 32px;
  font-size: 23px;
}

.download-icon-circle {
  border-radius: 50%;
  background-color: #9b9b9b;
}

.download-label {
  margin-left: 15px;
  color: #9b9b9b;
}

.progress-circle-container {
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.title-other-qualifications {
  font-family: "Montserrat";
  font-size: 18px;
  color: #ffffff;
}

.padding-table-row {
  padding-top: 15px;
  padding-bottom: 15px;
}

.table-header-style {
  font-family: "Montserrat";
  font-size: 13px;
  line-height: 1.67;
  color: #9b9b9b;
  padding-top: 17px;
  padding-bottom: 17px;
}

.border-width-qualification-title {
  border-bottom-width: 3px;
}

.margin-qualification-content {
  margin: 40px 0;
}

.modules-background-color {
  background-color: #424242;
}

.tutorial-padding {
  padding: 20px 0;
}

.status-true .material-icons {
  color: #8bc34a;
}

.status-unknown .material-icons {
  color: #545454;
}

.padding-modules-overview {
  padding: 0px 25px 0px 25px;
}
