<div *ngIf="overview && modules" class="learnbox-container grey-background">
  <div *ngIf="courseType === 'ADVANCED'" class="button-container top-left-padding" [class.button-container-background]="overview">
    <div class="button-style button-overview-style" (click)="goToOverview()" [class.button-active]="overview">Overview
    </div>
    <div class="button-style button-detailed-view-style" (click)="goToDetailedView()" [class.button-active]="!overview">
      Detailed View
    </div>
  </div>
  <div class="padding-modules-overview">
    <app-module-item *ngFor="let module of modules" [moduleDetail]="module" [progressApply]="true"></app-module-item>
  </div>
  <div class="full-width-color">
    <div class="total-score-container">
      <!-- total score title -->
      <div class="total-score-title"><p>TOTAL SCORE</p></div>
      <div *ngIf="modules && courseStatistic" class="overview-container">
        <div class="progress-bar-style progress-bar-size">
          <app-progress-bar [status]="courseStatistic.averageScore" [pass]="85"></app-progress-bar>
        </div><!-- progress bar -->
        <div class="items-container">
          <div class="item-container"><!-- modules completed -->
            <div class="item-title item-border-right">MODULES COMPLETED</div><!-- modules completed title -->
            <div class="item-number">{{getCompletedModules() | number:'2.0-0'}}/{{getTotalModules() | number:'2.0-0'}}</div><!-- modules completed number -->
          </div>
          <div class="item-container"><!-- quizzes passed -->
            <div class="item-title item-border-right">QUIZZES PASSED</div><!-- quizzes passed title -->
            <div class="item-number">{{getCompletedQuizzes() | number:'2.0-0'}}/{{getTotalQuizzes() | number:'2.0-0'}}</div><!-- quizzes passed number -->
          </div>
          <div class="item-container"><!-- average score -->
            <div class="item-title">AVERAGE SCORE</div><!-- average score title -->
            <div class="item-number">{{courseStatistic.averageScore}}%</div><!-- average score number -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!overview" fxLayout="column" class="learnbox-container ">

  <div class="top-left-padding">
    <!-- Detailed View Information-->
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="0" fxLayoutGap="20px">
      <div fxLayout="column">
        <!-- Buttons -->
        <div class="button-container" [class.button-container-background]="overview">
          <div class="button-style button-overview-style" (click)="goToOverview()" [class.button-active]="overview">
            Overview
          </div>
          <div class="button-style button-detailed-view-style" (click)="goToDetailedView()"
               [class.button-active]="!overview">Detailed View
          </div>
        </div>
        <!-- Under Buttons labels -->
        <div fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="space-around none" class="labels-margin-top labels-detailed-view">
          <div class="title-detailed-view">Performing Manufacturing Operations</div>
          <div>
            <div>Course Number: 000035</div>
            <div>Qualification Code: 00000056</div>
          </div>
          <div>Qualification Mapping Document</div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <div class="download-icon-circle" >
              <md-icon fxLayoutAlign="center center" class="download-icon-size">file_download</md-icon>
            </div>
            <div class="download-label">
              Download PDF
            </div>
          </div>
        </div>
      </div>
      <!-- progress | modules completed | quizzes passed | average score -->
      <div *ngIf="modules && courseStatistic" fxLayout="row" fxFlex="1 1 auto" class="border-top-white">
        <div fxLayout="column" fxFlex="25" fxLayoutAlign="start center">
          <div class="item-title">PROGRESS</div>
          <div class="progress-circle-container">
            <progrees-bar-circle #progressCircle [progressType]="'percent'" [actualValue]="courseStatistic.totalProgress"></progrees-bar-circle>
          </div>
        </div>
        <div fxLayout="column" fxFlex="75" >
          <div fxLayout="row">
            <div fxLayout="column" fxLayoutAlign="space-between center" fxFlex="33" class="height-labels-box">
              <div fxFlexAlign="stretch" class="item-title-detailed-view border-right-white border-left-white">MODULES COMPLETED</div>
              <div class="item-number white-text">{{getCompletedModules() | number:'2.0-0'}}/{{getTotalModules() | number:'2.0-0'}}</div>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-between center" fxFlex="33" class="height-labels-box">
              <div fxFlexAlign="stretch" class="item-title-detailed-view border-right-white">QUIZZES PASSED</div>
              <div class="item-number white-text">{{getCompletedQuizzes() | number:'2.0-0'}}/{{getTotalQuizzes() | number:'2.0-0'}}</div>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-between center" fxFlex="33" class="height-labels-box">
              <div fxFlexAlign="stretch" class="item-title-detailed-view">AVERAGE SCORE</div>
              <div class="item-number white-text">{{courseStatistic.averageScore}}%</div>
            </div>
          </div>
          <div fxLayoutAlign="center none" >
            <div class="progress-bar-style-detailed-view">
              <app-progress-bar [status]="courseStatistic.averageScore" [pass]="85"></app-progress-bar>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div fxLayout="column" class="labels-detailed-view margin-qualification-content">
      <div class="title-other-qualifications padding-table-row border-bottom-white border-width-qualification-title">Non Online Learning</div>
      <div fxLayout="row" class="border-bottom-white table-header-style">
        <div fxFlex="25">Qualification</div>
        <div fxFlex="18">Date Recieved</div>
        <div fxFlex="17" class="text-center">Verified</div>
        <div fxFlex="20">Tutor</div>
        <div fxFlex="20" class="text-center">Status (Pass / Fail)</div>
      </div>
      <div *ngFor="let record of nonOnlineLearningRecords" fxLayout="row" fxLayoutAlign="start center"
           class="padding-table-row border-bottom-white">
        <div fxFlex="25">{{record.title}}</div>
        <div fxFlex="18">{{record.date | date:'d MMMM y'}}</div>
        <div fxFlex="17" class="text-center">
          <div *ngIf="record.verified === true">
            <div class="verified-true"><md-icon>done</md-icon></div>
          </div>
          <div *ngIf="record.verified === false">
            <div class="verified-false"><md-icon>clear</md-icon></div>
          </div>
          <div *ngIf="record.verified === null">
            <div class="verified-unknown">N/A</div>
          </div>
        </div>
        <div fxFlex="20">{{record.tutor}}</div>
        <div fxFlex="20" class="text-center">
          <div *ngIf="record.status === true">
            <div class="status-true"><md-icon>fiber_manual_record</md-icon></div>
          </div>
          <div *ngIf="record.status === false">
            <div class="status-false"><md-icon>fiber_manual_record</md-icon></div>
          </div>
          <div *ngIf="record.status === null">
            <div class="status-unknown"><md-icon>fiber_manual_record</md-icon></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Tutorials of modules -->
  <div *ngFor="let moduleRow of modules" class="modules-background-color title-other-qualifications">
    <div class="top-left-padding">{{moduleRow.name}}</div>
    <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-around start">
      <app-tutorial-detailed-view class="tutorial-padding" *ngFor="let tutorialRow of moduleRow.tutorials" [tutorial]="tutorialRow" [moduleOrder]="moduleRow.order" [tutorialOrder]="tutorialRow.order"></app-tutorial-detailed-view>
    </div>
  </div>
</div>


